/* Noto Sans */
/* noto-sans-100  - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans'),
      url('../fonts/noto_sans/NotoSans-Thin.woff') format('woff');
}
/* noto-sans-200 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans'),
      url('../fonts/noto_sans/NotoSans-Light.woff') format('woff');
}
/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'),
      url('../fonts/noto_sans/NotoSans-Medium.woff') format('woff');
}
/* noto-sans-500 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans'),
      url('../fonts/noto_sans/NotoSans-SemiBold.woff') format('woff');
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans'),
      url('../fonts/noto_sans/NotoSans-Bold.woff') format('woff');
}

/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Noto Sans'),
      url('../fonts/noto_sans/NotoSans-Black.woff') format('woff');
}

/* Noto Sans KR */
/* noto-sans-100  - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans KR'),
      url('../fonts/noto_sans_kr/noto-sans-kr-v12-latin_korean-100.woff') format('woff');
  unicode-range: U+AC00-D7AF;
}
/* noto-sans-200 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR'),
      url('../fonts/noto_sans_kr/noto-sans-kr-v12-latin_korean-300.woff') format('woff');
  unicode-range: U+AC00-D7AF;
}
/* noto-sans-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR'),
      url('../fonts/noto_sans_kr/noto-sans-kr-v12-latin_korean-regular.woff') format('woff');
  unicode-range: U+AC00-D7AF;
}
/* noto-sans-500 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR'),
      url('../fonts/noto_sans_kr/noto-sans-kr-v12-latin_korean-500.woff') format('woff');
  unicode-range: U+AC00-D7AF;
}
/* noto-sans-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans'),
      url('../fonts/noto_sans_kr/noto-sans-kr-v12-latin_korean-700.woff') format('woff');
  unicode-range: U+AC00-D7AF;
}
/* noto-sans-900 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans'),
      url('../fonts/noto_sans_kr/noto-sans-kr-v12-latin_korean-900.woff') format('woff');
  unicode-range: U+AC00-D7AF;
}

/* Roboto */
/* Roboto Thin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto'),
      url('../fonts/roboto/Roboto-Thin.woff') format('woff');
}
/* Roboto Light */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: local('Roboto'),
      url('../fonts/roboto/Roboto-Light.woff') format('woff');
}
/* Roboto regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
      url('../fonts/roboto/Roboto-Regular.woff') format('woff');
}
/* Roboto Medium */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
      url('../fonts/roboto/Roboto-Medium.woff') format('woff');
}
/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
      url('../fonts/roboto/Roboto-Bold.woff') format('woff');
}