/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;
	box-sizing: border-box;
}

html {
  font-size:10px;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
body{
	margin:0;
	line-height:1;color:#000;
	font-size:1.6rem;
}
ol,ul{list-style:none;}
li { list-style-type:none; }
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}

/* :focus{outline: none;} */


/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del{text-decoration:line-through;}

table{border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;}

h1,h2,h3,h4,h5,h6,strong{font-weight:normal;}
*{ box-sizing:border-box;font-family: 'Noto Sans KR', 'LG Smart', 'arial', 'Helvetica', 'Sans-serif'; }
a{display:inline-block;text-decoration:none;color:#000;}
a img{display:block;}
caption,
legend{display:none;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none; 
  margin: 0; 
}

button{margin:0;padding:0;border:0;background:none;box-sizing:inherit;-webkit-box-sizing:inherit;cursor: pointer;}
em{font-style:normal;}


/* FONT SMOOTHING */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

fieldset {
	min-width:auto;
}