<script src="/js/design/modal/ping_address.js"></script>
<!-- popup wrapper -->
<div id="ping-address-popup" class="popup-wrapper">
  <div class="dim"></div>
  <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
  <div
    class="popup popup-network-ping"
    role="dialog"
    aria-labelledby="popup-ping-address-label"
    aria-modal="true"
  >
    <!-- popup-container -->
    <div class="popup-container">
      <!-- Popup header -->
      <div class="popup-header">
        <div id="popup-ping-address-label">
          <font style="vertical-align: inherit;">
            {{getLanguageText "Enter the network address to ping"}}
          </font>
        </div>
      </div>
      <!-- Popup header -->
      <!-- Popup content -->
      <div class="popup-content">
        <div class="field field-type-radio field-flex">
          <div for="" id="type-id" class="field-label">
            {{getLanguageText "Type"}}
          </div>
          <div class="field-form flex">
            <div class="radio">
              <input
                type="radio"
                name="radio-type"
                id="IP"
                aria-labelledby="type-id IP"
                checked=""
              />
              <label for="IP">
                IP
              </label>
            </div>
            <div class="radio">
              <input
                type="radio"
                name="radio-type"
                id="URL"
                aria-labelledby="type-id URL"
              />
              <label for="URL">
                URL
              </label>
            </div>
          </div>
        </div>
        <div class="field field-type-input">
          <label
            for="modal-ip-address"
            class="field-label"
            id="ip-address-label"
          >
            {{getLanguageText "IP Address"}}
          </label>
          <div class="field-form">
            <div class="input-box">
              <input
                type="text"
                id="modal-ip-address"
                name="modal-ip-address"
                value=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Popup content -->
      <!-- Popup footer -->
      <div class="popup-footer">
        <div class="button-container">
          <button
            type="button"
            id="btn-test-cancel"
            class="btn btn-large btn-cancel"
          >
            {{getLanguageText "Cancel"}}
          </button>
          <button
            type="button"
            id="btn-test-start"
            class="btn btn-large btn-primary disabled"
          >
            {{getLanguageText "Begin test"}}
          </button>
        </div>
      </div>
      <!-- Popup footer -->
    </div>
    <!-- popup-container -->
  </div>
</div>
<!-- popup wrapper -->