<!-- popup wrapper -->
<div id="applyTimeErrorModal" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup popup-alert" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <h1 id="popup-label" class="ir">{{getLanguageText "information message"}}</h1>

            <!-- Popup content -->
            <div class="popup-content">
                <div class="alet-text">
                    Input time correctly
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="time-error-ok" class="btn btn-large btn-primary btn-select">{{getLanguageText "OK"}}</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>
<!-- popup wrapper -->