<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<div class="row">
    <div class="col-lg-12">
        <!-- Basic Status Here -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Change Password"}}
                </h4>
                <hr>
            </div>

            <form action='changePasswd' method='post'>
                <table class='table'>
                    <tr>
                        <td class="first">{{getLanguageText "Current Password"}}</td>
                        <td><input class=custom type=password name=current id='current'></td>
                    </tr>
                    <tr>
                        <td class="first">{{getLanguageText "New Password"}}</td>
                        <td><input class=custom type=password name=passwd id='passwd'></td>
                    </tr>
                    <tr>
                        <td class="first longtext">{{getLanguageText "Confirm New Password"}}</td>
                        <td><input class=custom type=password name=check id='check'></td>
                    </tr>
                </table>

            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel-bottom">
            <div class="wrapper-center">
                <a href="/dashBoard">
                    <button class='img-button small' id='cancel'>{{getLanguageText "Cancel"}}</button>
                </a>
                <button class='img-button small' id='change'>{{getLanguageText "Apply"}}</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#change").click(function (e) {
            e.preventDefault();
            var current = $("#current").val();
            var passwd = $("#passwd").val();
            var check = $("#check").val();

            checkPasswd(current, function (msg) {
                if (msg == true) {
                    if (passwd.length < 6) {
                        showWarning(getLanguageText(languageTable, "Input 6 or more characters"), 5000);
                        return;
                    }
                    if (passwd != check) {
                        showWarning(getLanguageText(languageTable, "Check whether two passwords are same"), 5000);
                        return;
                    }

                    setTimeout(function () {
                        $("form").submit();
                    }, 0);
                    alert(getLanguageText(languageTable, "Your Password has been changed."));

                } else {
                    showWarning(getLanguageText(languageTable, "Password is incorrect. Please Try Again"), 5000);
                    return;
                }
            });
        });

        // $('#pageTitle').html(getLanguageText(languageTable, "Change Password"));
        var titleStr = getLanguageText(languageTable, "Change Password") + ' | LG Electronics Signage > ' + getLanguageText(languageTable, "Control Manager");
        $('head > title').text(titleStr);
    });
</script>
