<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/design/checkscreen.js"></script>

<!-- Content middle right -->
<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <!-- 화면 오류 감지 -->
        <div class="list-box">
            <div class="title-box">
                <h3 id="error-tit-id" class="section-title">{{getLanguageText "Screen Fault Detection"}}</h3>
            </div>

            <fieldset>
                <legend aria-labelledby="error-tit-id"></legend>
            </fieldset>

            <div class="field field-flex field-type-switch field-error-detection">
                <label for="isCheckScreenOn" class="field-label">{{getLanguageText "Screen Fault Detection"}}</label>
                <div class="field-form">
                    <div class="switch">
                        <span class="switch-controller"></span>
                        <input type="checkbox" id="isCheckScreenOn" name="isCheckScreenOn" role="switch" aria-checked="false">
                        <span class="slider"></span>
                    </div>
                </div>
            </div>

            <div class="field field-flex field-type-input field-error-state">
                <label for="calibrated" class="field-label">{{getLanguageText "Status"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly="" id="calibrated" name="error-state" value='{{getLanguageText "Default size"}}'>
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>

            <div class="control-input-manual error-detection-table">
                <div class="table show-always">
                    <div class="table-wrapper width-50 no-scroll">
                        <div class="table-box">
                            <table>
                                <caption>Table indicating display error detection value – consists of width and height</caption>
                                <thead>
                                <tr>
                                    {{#if env.checkscreenPosition}}<th scope="col"><div class="text-block">{{getLanguageText "Position"}}</div></th>{{/if}}
                                    <th scope="col"><div class="text-block">{{getLanguageText "Width"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Height"}}</div></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {{#if env.checkscreenPosition}}<td id="position"></td>{{/if}}
                                    <td id="width"></td>
                                    <td id="height"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Data List Bottom - Table -->
                    </div>
                </div>
            </div>

            <div class="field field-flex field-type-switch field-color-display">
                <label for="showColor" class="field-label">{{getLanguageText "Show Color"}}</label>
                <div class="field-form">
                    <div class="switch">
                        <span class="switch-controller"></span>
                        <input type="checkbox" id="showColor" name="showColor" role="switch" aria-checked="false">
                        <span class="slider"></span>
                    </div>
                </div>
            </div>
            <div class="field field-flex field-type-switch field-color-display showColorStatus">
                <label for="valid" class="field-label">{{getLanguageText "Status"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <input type="text" class="readonly" readonly="" id="valid" name="valid">
                    </div>
                </div>
            </div>
            <div class="field field-flex field-type-switch field-color-display showColorStatus">
                <label for="valid" class="field-label">{{getLanguageText "Draw"}}</label>
                <div class="field-form">
                    <div class="input-box" style="width:50px; height:40px;">
                        <img src='/images/image_draw.png' alt="draw" />
                    </div>
                    <div id=drawColor style="width:40px; height:24px; position:relative; top: -38px; left: 4px">
                    </div>
                </div>
            </div>
            <div class="field field-flex field-type-switch field-color-display showColorStatus">
                <label for="valid" class="field-label">{{getLanguageText "Sensor"}}</label>
                <div class="field-form">
                    <div class="input-box" style="width:50px; height:40px;">
                        <img src='/images/image_sensor.png' alt="sensor" />
                    </div>
                    <div id=sensorColor style="width:36px; height:25px; position:relative; top: -36px; left: 6px">
                    </div>
                </div>
            </div>
        </div>
        <!-- 화면 오류 감지 -->

        {{#if env.supportPanelErrorOut}}
        <!-- BLU 상태 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "BLU Status"}}</h3>
            </div>

            <div class="field field-flex field-type-input field-blu-state">
                <label for="BLUReturn" class="field-label">{{getLanguageText "BLU Status"}}</label>
                <div class="field-form">
                    <div class="input-box color-point">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly="" id="BLUReturn" name="BLUReturn" value="Not OK">
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- BLU 상태 -->
        {{/if}}

        {{#if env.supportPsuStatus}}
        <!-- PSU 상태 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title">PSU {{getLanguageText "Status"}}</h3>
            </div>

            {{#for 1 env.psuNum 1}}
            <div class="field field-flex field-type-input field-blu-state">
                <label for="PSU{{this}}Status" class="field-label">PSU #{{this}}</label>
                <div class="field-form">
                    <div class="input-box color-point">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly="" id="PSU{{this}}Status" name="PSU{{this}}Status" value="Not OK">
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>
            {{/for}}
        </div>
        <!-- PSU 상태 -->
        {{/if}}

    </div>
    <!-- Detail Container -->
</div>
<!-- Content middle right -->


<script>
    var env = {{{json env}}};
    initCheckScreen();
</script>
