<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/utils.js"></script>
<!--<script src='/js/page/dashboard.js'></script>-->
<script src='/js/design/dashboard.js'></script>

    <!-- 시간 -->
    <div class="time-wrap">
        <div class="item-wrap">
            <div class="island-item-left">
                <div id="current-date" class="item-text"></div>
            </div>
            <div class="island-item-center">
                <div class="real-time">
                    <span class="hour">08</span><span class="setperate">{{getLanguageText "Hour"}}</span>
                    <span class="min">33</span><span class="setperate">{{getLanguageText "Mins"}}</span>
                    <span class="sec">25</span><span class="ir">Second</span>
                </div>
            </div>
            <div class="island-item-right">
                <div class="item-refresh">
                    <label for="dataRefresh" class="text-small">{{getLanguageText "5 min. Refresh"}}</label>
                    <div class="switch">
                        <span class="switch-controller"></span>
                        <input type="checkbox" id="dataRefresh" name="dataRefresh" role="switch" aria-checked="false">
                        <span class="slider"></span>
                    </div>
                    <button class="btn btn-refresh" id="btn-refresh-get-all">{{getLanguageText "Refresh"}}</button>
                </div>
                <div class="item-text">
                    <span class="text-small">{{getLanguageText "Run Time Since Last Power Up"}}</span>
                    <span id="uptime"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- rows -->
    <div class="row-wrapper">
        <div class="row half">
            <!-- Translate -->
            <div class="island island-translate">
                <div class="title-wrap">
                    <h3 class="title"><label for="captureRefresh">{{getLanguageText "10 sec Auto Refresh"}}</label></h3>
                    <div class="switch">
                        <span class="switch-controller"></span>
                        <input type="checkbox" id="captureRefresh" name="captureRefresh" role="switch" aria-checked="false">
                        <span class="slider"></span>
                    </div>
                    <button class="btn btn-refresh" id="btn-capture-refresh">{{getLanguageText "Refresh"}}</button>
                </div>
                <div class="item-wrap">
                    <!--
                      업데이트 되는 최신 화면이 들어가는 영역 입니다.
                    -->
                    <img id="screen" class="wide-screen" src="/assets/images/sample/thumb_dashboard.png"  style="height: 448px;" alt="dashboard screen">
                </div>
            </div>
            <!-- 온도 -->
            <div class="island island-temperature">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Temperature"}}(<span id="dash-temp-type">°C</span>)</h2>
                    <button class="btn btn-small" onclick="moveHere('/charts');">{{getLanguageText "More"}}</button>
                </div>
                <div class="item-wrap">
                    {{#each env.curTempSensor}}
                        <div id='{{id}}-temp-bar' class="label-bar green-bar">
                            <div>
                                <div class="title sensor-name">{{getLanguageText name}}</div>
                                <div id='{{id}}Temp' class="temperature"></div>
                            </div>
                        </div>
                    {{/each}}

                </div>
            </div>
        </div>

        <div class="row quarter">
            <!-- 신호 -->
            <div class="island island-03">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Signal"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/device')">{{getLanguageText "More"}}</button>
                </div>
                <div id="signalCard" class="item-wrap">
                    <div id="signal">{{getLanguageText "Loading"}}</div>
                    <div class="tail">
                        <span id='stall'></span><br>
                    </div>
                </div>
            </div>
            <!-- S/W 버전 -->
            <div class="island island-04">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "S/W Ver."}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/system')">{{getLanguageText "More"}}</button>
                </div>
                <div class="item-wrap bg-gray">
                    <div id="firmware">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            <!-- Signage 이름 -->
            <div class="island island-05">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Signage Name"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/network')">{{getLanguageText "More"}}</button>
                </div>
                <div id="signageNameCard" class="item-wrap">
                    <div id="signageName">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            <!-- ID설정 -->
            <div class="island island-06">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Set ID"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/system')">{{getLanguageText "More"}}</button>
                </div>
                <div id="setIDCard" class="item-wrap">
                    <div id="setID">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            <!-- DPM(Standby Mode) -->
            <div class="island island-07">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "DPM (Standby Mode)"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/device')">{{getLanguageText "More"}}</button>
                </div>
                <div id="DPMCard" class="item-wrap">
                    <div id="DPM">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            <!-- 네트워크 -->
            <div class="island island-08">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Network"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/network')">{{getLanguageText "More"}}</button>
                </div>
                <div id="networkCard" class="item-wrap">
                    <div>
                        <span id="ip">{{getLanguageText "Loading"}}</span>
                        <br>
                        <span id="wan"></span>
                    </div>
                </div>
            </div>
            <!-- URL 재생 -->
            {{#env.playViaUrl}}
                <div class="island island-09">
                    <div class="title-wrap">
                        <h2 class="title">{{getLanguageText "Play via URL"}}</h2>
                        <button class="btn btn-small" onclick="moveHere('/playViaUrl');">{{getLanguageText "More"}}</button>
                    </div>
                    <div id="URLCard" class="item-wrap" onclick="moveHere('/playViaUrl')">
                        <div id="URLStatus">{{getLanguageText "Loading"}}</div>
                        <div id="URL"></div>
                    </div>
                </div>
            {{/env.playViaUrl}}

            <!-- 타일모드 -->
            {{#env.tileMode.visible}}
            <div class="island island-10">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Tile Mode"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/tileMode')">{{getLanguageText "More"}}</button>
                </div>
                <div id="tileModeCard" class="item-wrap">
                    <div id="tileMode">{{getLanguageText "Loading"}}</div>
                    <div id="tileModeSettings"></div>
                </div>
            </div>
            {{/env.tileMode.visible}}

            <!-- 자동입력전환 -->
            <div class="island island-11">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Fail Over"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/failOver')">{{getLanguageText "More"}}</button>
                </div>
                <div id="failOverCard" class="item-wrap">
                    <div>
                        <span id="failOver">{{getLanguageText "Loading"}}</span>
                        <br>
                        <span id="failOverPriority">(1 HDMI 1 > 2 HDMI 2..)</span>
                    </div>
                </div>
            </div>

            {{#if env.checkscreen.support}}
            <!-- 화면오류감지 -->
            <div class="island island-11">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Screen Fault Detection"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/checkScreen')">{{getLanguageText "More"}}</button>
                </div>
                <div id="screenCard" class="item-wrap">
                    <div id="checkScreen">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            {{/if}}

            {{#if env.supportPsuStatus}}
            <div class="island island-13">
                <div class="title-wrap">
                    <h2 class="title">PSU {{getLanguageText "Status"}}</h2>
                    <button class="btn btn-small">{{getLanguageText "More"}}</button>
                </div>
                <div id="PSUCard" class="item-wrap">
                    <div class="color-point" id="PSU">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            {{/if}}

            {{#if env.supportDoor}}
            <div class="island island-14">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Door"}}</h2>
                    <button class="btn btn-small">{{getLanguageText "More"}}</button>
                </div>
                <div id="doorCard" class="item-wrap">
                    <div class="color-point" id="door">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            {{/if}}

            <!-- 팬 -->
            {{#if env.fanControl.support}}
                <div class="island island-12">
                    <div class="title-wrap">
                        <h2 class="title">{{getLanguageText "Fan"}}</h2>
                        <button class="btn btn-small" onclick="moveHere('/fan');">{{getLanguageText "More"}}</button>
                    </div>
                    <div id="fanCard" class="item-wrap">
                        <div class="" id="fan">{{getLanguageText "Loading"}}</div>
                    </div>
                </div>
            {{/if}}

            {{#if env.supportPanelErrorOut}}
            <!-- BLU information -->
            <div class="island island-12">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "BLU Status"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/checkScreen')">{{getLanguageText "More"}}</button>
                </div>
                <div id="BLUCard" class="item-wrap">
                    <div class="" id="BLU">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            {{/if}}

            {{#env.supportBrighness}}
            <!-- Brightness information -->
            <div class="island island-12">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Brightness"}}</h2>
                    <button class="btn btn-small" onclick="moveHere('/charts')">{{getLanguageText "More"}}</button>
                </div>
                <div id="brighnessCard" class="item-wrap">
                    <div class="" id="brightness">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            {{/env.supportBrighness}}

            {{#env.supportAcCurrent}}
            <div class="island island-15">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "AC Current"}}</h2>
                    <button class="btn btn-small">{{getLanguageText "More"}}</button>
                </div>
                <div id="acCurrentCard" class="item-wrap">
                    <div class="color-point" id="acCurrent">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            {{/env.supportAcCurrent}}

            {{#env.supportSolarVoltage}}
            <div class="island island-16">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Solar"}}</h2>
                    <button class="btn btn-small">{{getLanguageText "More"}}</button>
                </div>
                <div id="solarVoltageCard" class="item-wrap">
                    <div class="color-point" id="solarVoltage">{{getLanguageText "Loading"}}</div>
                </div>
            </div>
            {{/env.supportSolarVoltage}}

        </div>

        <div class="row">
            <div class="island island-log">
                <div class="title-wrap">
                    <h2 class="title">{{getLanguageText "Issue History"}}</h2>
                        <button id="downloadLog" class="btn btn-small" data-url="/downloadIncidents?name=downloadIncidents.csv">{{getLanguageText "DOWNLOAD LOG FILE"}}</button>
                </div>
                <div class="item-wrap">
                    <div class="table">
                        <div class="table-wrapper">
                            <div class="table-box">
                                <table summary="List" id="incidentTable">
                                    <caption>Incident Log Table – consists of sensor, event, status, start, end, and duration</caption>
                                    <thead>
                                    <tr>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Sensor"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Event"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Status"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Start"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "End"}}</div></th>
                                        <th scope="col"><div class="text-block">{{getLanguageText "Duration"}}</div></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <!-- Reflow table -->
                    <div class="convert-table-to-list">
                        <div class="table-header">
                            <div class="row">
                                <div class="thead">{{getLanguageText "Sensor"}}</div>
                                <div class="thead">{{getLanguageText "Event"}}</div>
                            </div>
                        </div>
                        <ul class="table-body" id="incident-reflow-table-body">
                            <li class="table-row">
                                <div class="summary-data">
                                    <div class="row">
                                        <div class="table-cell center">TEMPERATURE(Bottom)</div>
                                        <div class="table-cell">
                                            <button type="button" role="listbox" class="btn btn-expand" aria-expanded="false">SIGNAL</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="all-data-box">
                                    <ul class="all-data">
                                        <li>
                                            <span class="field-label">상태</span>
                                            <span class="field-content">OK</span>
                                        </li>
                                        <li>
                                            <span class="field-label">시작</span>
                                            <span class="field-content">2021-05-14 00:00:14</span>
                                        </li>
                                        <li>
                                            <span class="field-label">종료</span>
                                            <span class="field-content">2021-05-14 00:00:14</span>
                                        </li>
                                        <li>
                                            <span class="field-label">기간</span>
                                            <span class="field-content">-</span>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    var env = {{{json env}}};

    // applyLanguageText();
    // init();
    initDash();
console.log(env);

    // function applyLanguageText() {
    //     for (var i = 1; i <= $(".sensorname").length; i++) {
    //         var elm = $(".sensorname:nth-child(" + i + ")");
    //         elm.html(getLanguageText(languageTable, elm.html().replace(/\s/g, "")));
    //     }
    // }
</script>
