<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/range.js"></script>
<script src="/js/page/emergency.js"></script>

<div class="row">
    <div class="col-lg-12">
		<div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
					Emergency Temperature <span id='emergencyReturn'></span>
                </h4>
                <hr>
            </div>
			<table class='table'>
				<tr class="emergency">
					<td>
						<p class="emergency_string">Turn OFF backlight when temperature(°C) is over (>=):<span id=backOffVal></span>°C</p>
						<div class="wrapper_emergency_range backlight-off">
							<input id=backOff class="custom" type=range min=71 max=100>
						</div>
					</td>
				</tr>
				<tr class="emergency">
					<td>
						<p class="emergency_string">Turn ON backlight when temperature(°C) is less than (<=):<span id=backOnVal></span>°C</p>
						<div class="wrapper_emergency_range backlight-on">
							<input id=backOn class="custom" type=range min=61 max=90>
						</div>
					</td>
				</tr>
				<tr class="emergency">
					<td>
						<p class="emergency_string">Power OFF when temperature(°C) is over:<span id=powerOffVal></span>°C</p>
						<div class="wrapper_emergency_range">
							<input id=powerOff class="custom" type=range min=72 max=150>
						</div>
					</td>
				</tr>
			</table>
        </div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="panel-bottom">
			<div class="wrapper-center">
				<button class='img-button xsmall' id=apply>Apply</button>
				<button class='img-button xsmall' id=revert>Revert</button>
				<button class='img-button xsmall' id=reset>Reset</button>
			</div>
		</div>
	</div>
</div>


<script>
$(document).ready(function(){

	{{#each env.emergencyTemp}}
	emergencyTemp.push({event: "{{event}}", temperature: "{{temperature}}"});
	console.log("{{event}}");
	{{/each}}

	init();

});
</script>
