<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/design/fan.js"></script>

<!-- Content middle right -->
<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <!-- S/W 업데이트 파일 목록 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "Current Fan RPM"}} <button id="refresh" class="btn btn-small">{{getLanguageText "Refresh"}}</button></h3>
            </div>

            <div class="control-input-manual">
                <p class="field-top-content">
                {{#each env.curTempSensor}}
                    {{name}}: <span id='{{id}}Temp' class="span-fan">-</span>&nbsp;
                {{/each}}
<!--                    Top: -128°C  Bottom: -128°C  Main: 36°C -->
                </p>

                    {{#each env.fanControl.fans}}
                    <h4 class="table-title">{{name}}</h4>
                    <div class="table show-always">
                        <div class="table-wrapper width-50">
                        <table id='{{id}}RPM'>
                            <caption>{{name}} Table – Consists of ID, FPM</caption>
                            <thead>
                            <tr>
                                <th scope="col"><div class="text-block">ID</div></th>
                                <th scope="col"><div class="text-block">RPM</div></th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#for 1 numberOfFans 1}}
                                <tr>
                                    <td>{{this}}</td>
                                    <td id="{{../id}}{{this}}rpm" class="color-point"> - </td>
                                </tr>
                                {{/for}}
                            </tbody>
                        </table>
                        </div>
                    </div>
                    {{/each}}
            </div>

        </div>
        <!-- S/W 업데이트 파일 목록 -->

    </div>
    <!-- Detail Container -->
</div>
<!-- Content middle right -->

<script>
    var tempSensors = [];
    var env = {{{json env}}}

    // $('#pageTitle').html(getLanguageText(languageTable, 'Fan Status'));

    {{#each env.curTempSensor}}
    tempSensors.push({id: "{{id}}", name: "{{name}}"});
    {{/each}}


    $('#refresh').on('click', function() {
        refreshSensor();
    });

    refreshSensor();
</script>
