<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/design/log.js"></script>

<!-- Content middle right -->
<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <!-- 로그 -->
        <div class="list-box">
            <div class="title-box">
                <h3 id="field-label-filename" class="section-title">{{getLanguageText "File Name"}} : {{curFile}}</h3>

                <!--
                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                -->
                <div id="filter-dropdown" class="dropdown type-c">
                    <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="field-label-filename">option</button>
                    <div class="dropdown-menu">
                        <ul class="lists">
                            <!--
                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                            -->
                            <li class="list">
                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                            </li>
                            <li class="list">
                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                            </li>
                            <li class="list">
                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="control-input-manual">
                <div class="table">
                    <div class="table-wrapper">
                        <div class="table-box" id="new-table-box">
                            <table>
                                <caption>Log Table – Consists of category, sensor, event, state, occurrence time</caption>
                                <thead>
                                <tr>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Category"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Sensor"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Event"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "State"}}</div></th>
                                    <th scope="col"><div class="text-block">{{getLanguageText "Occurrence Time"}}</div></th>
                                </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- Data List Bottom - Table -->
                    </div>
                </div>

                <!-- Reflow table -->
                <div class="convert-table-to-list" id="reflow-table-to-list">
                    <div class="table-header">
                        <div class="row">
                            <div class="thead">Category</div>
                            <div class="thead">Sensor</div>
                        </div>
                    </div>
                    <ul class="table-body">
                        <li class="table-row">
                            <div class="summary-data">
                                <div class="row">
                                    <div class="table-cell center">FAN</div>
                                    <div class="table-cell">
                                        <button type="button" role="listbox" class="btn btn-expand" aria-expanded="false">Normal1</button>
                                    </div>
                                </div>
                            </div>
                            <div class="all-data-box">
                                <ul class="all-data">
                                    <li>
                                        <span class="field-label">Event</span>
                                        <span class="field-content">Working</span>
                                    </li>
                                    <li>
                                        <span class="field-label">Status</span>
                                        <span class="field-content">Not working</span>
                                    </li>
                                    <li>
                                        <span class="field-label">Occurrence Time</span>
                                        <span class="field-content">2021-05-14 00:00:14</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- pagination -->
                <div class="pagination long-pagination">
                    <a href="javascript:void(0);" role="button" class="page go-before" aria-label="First" title="First"></a>
                    <a href="javascript:void(0);" role="button" class="page go-prev" title="Before"></a>

                    <div class="pager">
                        {{#each files}}
                            <a href="/logFile?file={{this}}&filter={{../filter}}" role="button" data-num="{{logNumber this}}" {{{isCurFile this ../curFile}}} aria-pressed="false" aria-label="{{logNumber this}} page."><span>{{logNumber this}}</span></a>
                        {{/each}}
                    </div>

                    <a href="javascript:void(0);" role="button" class="page go-next" title="Next"></a>
                    <a href="javascript:void(0);" role="button" class="page go-after" title="Last"></a>
                </div>
                <!-- mini-pagination은 400% 확대 시에만 출력됩니다. -->
                <div class="pagination mini-pagination">
                    <a href="javascript:void(0);" role="button" class="page go-before" title="First"></a>
                    <a href="javascript:void(0);" role="button" class="page go-prev disabled" title="Before"></a>

                    <div class="pager">
                        {{#each files}}
                            <a href="/logFile?file={{this}}&filter={{../filter}}" role="button" data-num="{{logNumber this}}" {{{isCurFile this ../curFile}}} aria-pressed="false" aria-label="{{logNumber this}} page."><span>{{logNumber this}}</span></a>
                        {{/each}}
                    </div>

                    <a href="javascript:void(0);" role="button" class="page go-next" title="Next"></a>
                    <a href="javascript:void(0);" role="button" class="page go-after" title="Last"></a>
                </div>
                <!-- pagination -->
            </div>
        </div>
        <!-- 로그 -->
    </div>
    <!-- Detail Container -->
    <!-- Button box -->
    <div class="button-container">
        <button id="download-btn" type="button" class="btn btn-primary">{{getLanguageText "DOWNLOAD LOG FILE"}}</button>
    </div>
    <!-- Button box -->
</div>
<!-- Content middle right -->

<script>
    var env = env = {{{json env}}};
    var logJson = {{{json log}}};

    {{#supportFan}}
        env.supportFan = true;
    {{else}}
        env.supportFan = false;
    {{/supportFan}}

    initLog("{{curFile}}", "{{filter}}");
</script>
