<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/design/media.js"></script>

<!-- Content middle right -->
<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container media-library">

        <!-- 보안 S/W 업데이트 파일 업로드 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title"><span id="label-sw-upload">{{getLanguageText "Upload secured S/W Update file"}}</span>
                    <span class="title-label color-point" id="mediaTitle">(8.00GB {{getLanguageText "available"}})</span></h3>
            </div>

            <div class="control-input-manual">
                <div class="field field-type-file field-flex">
                    <label for="file-upload" id="label-find-file" class="field-label">{{getLanguageText "File Select"}}</label>
                    <div class="field-form">
                        <div class="file-wrap">
                            <!-- 파일찾기 인풋 -->
                            <div class="file-area">
                                <span id="fileName"></span>
                                <input type="file" name="file-upload" id="file-upload" tabindex="-1"/>
                            </div>

                            <!-- 버튼 클릭시 파일찾기(#file-find) 인풋 클릭 -->
                            <button type="button" class="btn" aria-labelledby="label-sw-upload label-find-file" onclick="fileThis('file-upload')">{{getLanguageText "Browse"}}</button>
                        </div>
                    </div>
                </div>
                <div class="upload-button">
                    <button type="button" class="btn btn-large" aria-labelledby="label-sw-upload" id="media-upload-submit">{{getLanguageText "Upload"}}</button>
                </div>
            </div>
        </div>
        <!-- 보안 S/W 업데이트 파일 업로드 -->

        <!-- 미디어 파일 목록 / Template003 -->
        <div class="list-box">
            <div class="title-box">
                <h3 id="label-select" class="section-title">{{getLanguageText "Media file List"}} {{curDir}}</h3>

                <!--
                현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                -->
                <div id="media-filter-dropdown" class="dropdown type-c">
<!--                    <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-select">모두</a>-->
                    <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-select">option</button>
                    <div class="dropdown-menu">
                        <ul class="lists">
                            <!--
                              선택 된 옵션 aria-selected 속성 값을 true로 설정해주세요.
                            -->
                            <li class="list">
                                <a href="javascript:void(0);" role="option" aria-selected="true">Option1</a>
                            </li>
                            <li class="list">
                                <a href="javascript:void(0);" role="option" aria-selected="false">Option2</a>
                            </li>
                            <li class="list">
                                <a href="javascript:void(0);" role="option" aria-selected="false">Option3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 미디어 파일 목록 -->
            <div class="media-file-list">
                <div class="media-list">
                    <!-- 목록 이동 클래스 : .folder-list
                          이전 목록 이동 시 버튼 텍스트
                    -->

                    <div class="media-card folder-list">
                        <div class="card-body">
                            <!-- 폴더 이미지 -->
                            <img src="../../assets/images/icon_media_folder.svg" alt="">
                        </div>
                        <div class="card-footer">
                            <div class="file-name"> - </div>
                        </div>
                        <div class="card-button">
                            <button type="button" class="btn btn-to-list" title="move to previous list."></button>
                        </div>
                    </div>
                    <!-- 목록 이동 클래스 : .folder-list
                          해당 목록 이동 시 버튼 텍스트
                    -->
                    {{#each dirs}}
                        <div class="media-card folder-list">
                            <div name="{{this}}" class="card-body dir">
                                <!-- 폴더 이미지 -->
                                <img src="../../assets/images/icon_media_folder.svg" alt="folder">
                            </div>
                            <div class="card-footer" id="aria-label" name="{{this}}">
                                <div class="file-name">{{fileName this}}</div>
                            </div>
                            <div class="card-button">
                                <button type="button" class="btn btn-to-list" title="move to list." aria-labelledby="aria-label"
                                        value="{{this}}"></button>
                            </div>
                        </div>
                    {{/each}}

                    <!-- 템플릿 이미지/동영상 파일 카드 -->
                    {{#each files }}
                        <div class="media-card">
                            <div class="card-body img-thumb" id="{{@index}}" name="{{this}}">
                                <img src="../../assets/images/sample/thumb_sample_sm_02.png" alt="thumbnail-{{this}}">
                            </div>
                            <div class="card-footer">
                                <span class="file-type">
                                    <img src="../assets/images/icon_picture.svg" alt="image type">
                                </span>
                                <div class="file-name">
                                    {{fileName this}}
                                </div>
                            </div>
                            <div class="card-button">
                                <button type="button" class="btn btn-download" data-uri='/download?name={{encodeFilenameURI ../curDir this}}'
                                >{{getLanguageText "Download"}}</button>
                                <button type="button" class="btn btn-delete" id='delete-{{@index}}' name="{{this}}">{{getLanguageText "Delete"}}</button>
                            </div>
                        </div>
                    {{/each}}


                </div>
            </div>
        </div>
        <!-- 미디어 파일 목록 / Template003 -->

    </div>
    <!-- Detail Container -->
</div>
<!-- Content middle right -->

<script>
    var curFiles = [];
    var allFiles = [];
    var env = {{{json env}}};

	function escapeSpecialChar(str) {
		return str.replace(/&#x([0-9A-Fa-f]{2});/g, function() {
			return String.fromCharCode(parseInt(arguments[1], 16));
		});
	}

	maxSize = {{maxSize}};

	// $('[data-toggle="tooltip"]').tooltip();

	{{#each dirs}}
		allFiles.push(escapeSpecialChar('{{this}}'));
		curFiles.push(escapeSpecialChar('{{this}}'));
	{{/each}}
	{{#each files}}
		allFiles.push(escapeSpecialChar('{{this}}'));
		curFiles.push(escapeSpecialChar('{{this}}'));
	{{/each}}

    var texts = getLanguageText(languageTable, 'Media file Upload (XXX GB available)').replace('GB', '').replace('XXX', '\u202A{{fileSize
            maxSize}}\u202C');
    var b = texts.split('(');
    var title = b[0];
    var avail = '(' + b[1];

    $('#label-sw-upload').text(title);
    $('#mediaTitle').text(avail);
	// $('#submit').attr('value', getLanguageText(languageTable, 'upload'));

	init('{{curDir}}', '{{filter}}');
</script>
