<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<!--<script src="/js/page/network.js"></script>-->
<script src="/js/design/network.js"></script>

<!-- Content middle right -->
<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <!-- Signage 이름 -->
        <div class="list-box">
            <div class="title-box">
                <label for="signage-name"><h3 class="section-title">{{getLanguageText "Signage Name"}}</h3></label>
            </div>

            <div class="field field-type-input field-flex field-signage-name">
                <div class="field-form">
                    <div class="input-box">
                        <input type="text" id="signage-name" name="signage-name" value="LG SIGNAGE XS4G">
                        <button type="button" class="btn-input-remove hide">input delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Signage 이름 -->

        <!-- 유선 네트워크 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "Wired"}}<span id=wiredConnection class="title-label color-point">Connected</span></h3>
            </div>

            <div class="field field-flex field-type-switch">
                <label for="dhcp" class="field-label">{{getLanguageText "Set Automatically"}}</label>
                <div class="field-form">
                    <div class="switch">
                        <span id="dhcp-switch-modal-btn" class="switch-controller grey" ></span>
                        <input type="checkbox" id="dhcp" name="dhcp" role="switch" aria-checked="false">
                        <span class="slider"></span>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-ip" class="field-label">{{getLanguageText "IP Address"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-ip" name="network-ip" value="1.231.226.54" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-subnet" class="field-label">{{getLanguageText "Subnet Mask"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-subnet" name="network-subnet" value="255.255.255.0" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-gateway" class="field-label">{{getLanguageText "Gateway"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-gateway" name="network-gateway" value="1.231.226.1" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-dns" class="field-label">{{getLanguageText "DNS Server"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-dns" name="network-dns" value="210.220.163.82" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-mac" class="field-label">{{getLanguageText "MAC Address"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-mac" name="network-mac" value="DA:33:67:9E:12:4E" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

        </div>
        <!-- 유선 네트워크 -->

        {{#if supportWifi}}
        <div class="list-box">
            <div class="title-box">
                <h3 id="wifiTitle" class="section-title">{{getLanguageText "Wi-Fi"}}<span id=wifiConnection class="title-label color-point">Connected</span></h3>
            </div>

            <div class="field field-flex field-type-switch">
                <div class="field-label">{{getLanguageText "Set Automatically"}}</div>
                <div class="field-form">
                    <div class="switch">
                        <label for="dhcpwifi" class="switch-controller grey" >{{getLanguageText "Set Automatically"}}</label>
                        <input type="checkbox" id="dhcpwifi" name="dhcpwifi" role="switch" aria-checked="false">
                        <span class="slider"></span>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-ipwifi" class="field-label">{{getLanguageText "IP Address"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-ipwifi" name="network-ipwifi" value="1.231.226.54" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-subnetwifi" class="field-label">{{getLanguageText "Subnet Mask"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-subnetwifi" name="network-subnetwifi" value="255.255.255.0" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-gatewaywifi" class="field-label">{{getLanguageText "Gateway"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-gatewaywifi" name="network-gatewaywifi" value="1.231.226.1" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-dnswifi" class="field-label">{{getLanguageText "DNS Server"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-dnswifi" name="network-dnswifi" value="210.220.163.82" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-macwifi" class="field-label">{{getLanguageText "MAC Address"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-macwifi" name="network-macwifi" value="DA:33:67:9E:12:4E" />
                        <button type="button" class="btn-input-remove hide" >input delete</button>
                    </div>
                </div>
            </div>

        </div>
        {{else}}
        <!-- 무선 네트워크 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "Wi-Fi"}}<span id=wifiConnection class="title-label">Not Connected</span></h3>
            </div>
        </div>
        <!-- 무선 네트워크 -->
        {{/if}}

    </div>
    <!-- Detail Container -->
    <!-- Button box -->
    <div class="button-container">
        <button id="apply" type="button" class="btn btn-primary btn-submit">{{getLanguageText "Apply"}}</button>
    </div>
    <!-- Button box -->
</div>
<!-- Content middle right -->

<script>
    $(document).ready(function () {
        var env = {};
        env.secured = {{env.secured}};
        env.port = {{env.port}};
        // init(env);
        initNetwork(env);
    });
</script>
