<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Player Control
        </h1>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    Player 1
                </h4>
            </div>
            <div class="panel-body">
				<span>Power LED Status : </span> <span id='status1'></span>
				<table class='table'>
					<tr>
						<td>Power Button</td>
						<td><button id="1" class="btn btn-default power">Momentary</button> <button id="1" class="btn btn-default power long">Long</button></td>
					</tr>
					<tr>
						<td>Reset Button</td>
						<td><button id="1" class="btn btn-default reset">Momentary</button> <button id="1" class="btn btn-default reset long">Long</button></td>
					</tr>
				</table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    Player 2
                </h4>
            </div>
            <div class="panel-body">
				<span>Power LED Status : </span> <span id='status2'></span>
				<table class='table'>
					<tr>
						<td>Power Button</td>
						<td><button id="2" class="btn btn-default power">Momentary</button> <button id="2" class="btn btn-default power long">Long</button></td>
					</tr>
					<tr>
						<td>Reset Button</td>
						<td><button id="2" class="btn btn-default reset">Momentary</button> <button id="2" class="btn btn-default reset long">Long</button></td>
					</tr>
				</table>
            </div>
        </div>
    </div>
</div><!-- /.col-lg-12 -->
<!-- /.row -->
<script>
$(document).ready(function(){
	$(".power").click(function() {
		console.log("power " + $(this).attr('id') + ' ' + $(this).hasClass( "long"));
		mpPressPowerBtn({id: $(this).attr('id'), isLong: $(this).hasClass( "long")});
	});
	$(".reset").click(function() {
		console.log("reset " + $(this).attr('id') + ' ' + $(this).hasClass( "long"));
		mpPressResetBtn({id: $(this).attr('id'), isLong: $(this).hasClass( "long")});
	});

	mpCheckPowerLed(function(msg) {
		var status = msg.status;
		for (var i = 0; i != status.length; ++i) {
			$('#status' + (i + 1)).html(status[i] ? 'ON' : 'OFF');
		}
	});
});
</script>
