<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/design/tileMode.js"></script>

<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <!-- 기본설정 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "Basic Setting"}}</h3>
            </div>

            <div class="field field-type-input field-flex">
                <label for="network-mode" class="field-label">{{getLanguageText "Tile Mode"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-mode" name="network-mode" value="off" />
<!--                        <button type="button" class="btn-input-remove hide" >input delete</button>-->
                    </div>
                </div>
            </div>

            <div class="field field-type-input field-flex field-tile-mode">
                <label for="network-setting" class="field-label">{{getLanguageText "Tile Mode Settings"}}</label>
                <div class="field-form">

                    <div class="field-graybox">
                        <!-- 행 -->
                        <div class="box-row">
                            <label for="network-row" class="box-title">{{getLanguageText "Row"}} (1~15)</label>
                            <div class="box-content">
                                <div class="input-box">
                                    <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                                    <input type="text" class="readonly" readonly id="network-row" name="network-row" value="2" />
<!--                                    <button type="button" class="btn-input-remove hide" >input delete</button>-->
                                </div>
                            </div>
                        </div>
                        <!-- 옆 -->
                        <div class="box-row">
                            <label for="network-col" class="box-title">{{getLanguageText "Column"}} (1~15)</label>
                            <div class="box-content">
                                <div class="input-box">
                                    <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                                    <input type="text" class="readonly" readonly id="network-col" name="network-col" value="2" />
<!--                                    <button type="button" class="btn-input-remove hide" >input delete</button>-->
                                </div>
                            </div>
                        </div>
                        <!-- 타일 -->
                        <div class="box-row">
                            <label for="network-id" class="box-title">{{getLanguageText "Tile ID"}} (1~255)</label>
                            <div class="box-content">
                                <div class="input-box">
                                    <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                                    <input type="text" class="readonly" readonly id="network-id" name="network-id" value="1" />
<!--                                    <button type="button" class="btn-input-remove hide" >input delete</button>-->
                                </div>
                            </div>
                        </div>

                        <!-- 타일모드 그리드 테이블 -->
                        <div id="tileModeViewSpace" class="box-row">
                            <div id="tileModeView" class="tile-grid-wrapper" aria-label="Tile mode setting">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

       </div>
        <!-- 기본설정 -->

        {{#env.naturalMode.visible}}
        <!-- 고급설정 -->
        <div class="list-box">
            <div class="title-box">
                <h3 class="section-title">{{getLanguageText "Advanced Setting"}}</h3>
            </div>

            <div class="field field-type-input field-flex field-natural-mode">
                <label for="network-natural" class="field-label">{{getLanguageText "Natural Mode"}}</label>
                <div class="field-form">
                    <div class="input-box">
                        <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                        <input type="text" class="readonly" readonly id="network-natural" name="network-natural" value="off" />
<!--                        <button type="button" class="btn-input-remove hide" >input delete</button>-->
                    </div>

                    <div class="field-graybox">
                        <!-- 내추럴 크기 -->
                        <div class="box-row">
                            <label for="network-size" class="box-title">{{getLanguageText "Natural Size"}}(0~100)</label>
                            <div class="box-content">
                                <div class="input-box">
                                    <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                                    <input type="text" class="readonly" readonly id="network-size" name="network-size" value="30" />
<!--                                    <button type="button" class="btn-input-remove hide" >input delete</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 고급설정 -->
        {{/env.naturalMode.visible}}

    </div>
    <!-- Detail Container -->
</div>