<link href="/css/time.css" rel="stylesheet">
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<!--<script src="/js/page/time.js"></script>-->
<script src="/js/design/time.js"></script>

<!-- Content middle right -->
<div class="content-middle-right">
    <!-- Detail Container -->
    <div class="control-container">

        <form>
            <fieldset>
                <legend>{{getLanguageText "Time & Date"}}</legend>

                <!-- 시간 설정 -->
                <div class="list-box">
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Time Setting"}}<span id="time-setting-success" class="title-label color-point" style="display: none;">{{getLanguageText "Success"}}</span></h3>
                    </div>

                    <div class="field field-flex field-type-switch item-auto-setting">
                        <label class="field-label" for="useNTP" id="auto-setting" aria-labelledby="time-settings auto-setting">{{getLanguageText "Set Automatically"}}</label>
                        <div class="field-form">
                            <div class="switch">
                                <span class="switch-controller"></span>
                                <input type="checkbox" id="useNTP" name="useNTP" role="switch" aria-checked="false">
                                <span class="slider"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 시간 설정 -->

                <!-- 자동설정 OFF 시간 및 날짜 -->
                <div id="control-time" class="list-box control-time-off">
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Time & Date"}}<span id="time-date-success" class="title-label color-point" style="display: none;">{{getLanguageText "Success"}}</span></h3>
                    </div>

                    <div class="field field-flex item-time">
                        <div id="label-item-time" class="field-label">{{getLanguageText "Time"}}</div>
                        <div class="field-form flex">
                            <!--
                            현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                            드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                            -->
                            <div id="ampm-dropdown" class="dropdown type-c time-part">
                                <!--                        <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="time-date-settings label-item-time time-value-part" aria-activedescendent="option-0101">오전</a>-->
                                <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="time-date-settings label-item-time time-value-part">option</button>
                                <div class="dropdown-menu">
                                    <ul class="lists" aria-labelledby="label-item-time" role="listbox">
                                        <li class="list">
                                            <a href="javascript:void(0);" role="button" id="option-0101">오전</a>
                                        </li>
                                        <li class="list">
                                            <a href="javascript:void(0);" role="button" id="option-0102">오후</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="input-box">
                                <input type="number" id="label-hour" name="label-hour" aria-labelledby="label-item-time label-hour" data-maxlength="2" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" max="24" min="0" value="0">
                                <button type="button" class="btn-input-remove hide" >input delete</button>
                            </div>
                            <label for="label-hour" class="middle-text">{{getLanguageText "Hour"}}</label>

                            <div class="input-box">
                                <input type="number" id="label-minute" name="label-minute" value="0" data-maxlength="2" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" min="0" max="59" aria-labelledby="label-item-time label-minute">
                                <button type="button" class="btn-input-remove hide" >input delete</button>
                            </div>
                            <label for="label-minute" class="middle-text">{{getLanguageText "Mins"}}</label>
                        </div>
                    </div>
                    <div class="field field-flex item-date">
                        <div class="field-label">{{getLanguageText "Date"}}</div>
                        <div class="field-form flex">
                            <div class="input-box input-month">
                                <input type="number" id="label-month" name="label-month" value="4" min="1" max="12" data-maxlength="2" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" aria-labelledby="label-item-date label-month">
                                <button type="button" class="btn-input-remove hide" >input delete</button>
                            </div>
                            <label for="label-month" class="middle-text">{{getLanguageText "Mon"}}</label>

                            <div class="input-box input-date">
                                <input type="number" id="label-date" name="label-date" value="29" min="1" max="31" data-maxlength="2" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" aria-labelledby="label-item-date label-date">
                                <button type="button" class="btn-input-remove hide" >input delete</button>
                            </div>
                            <label for="label-date" class="middle-text">{{getLanguageText "Days"}}</label>

                            <div class="input-box input-year">
                                <input type="number" id="label-year" name="label-year" data-maxlength="4" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" aria-labelledby="label-item-date label-year" min="1900" max="2060" value="2021">
                                <button type="button" class="btn-input-remove hide" >input delete</button>
                            </div>
                            <label for="label-year" class="middle-text">{{getLanguageText "year"}}</label>
                        </div>
                    </div>
                    <div class="field field-flex field-type-switch item-timing">
                        <div id="label-saving" class="field-label">{{getLanguageText "Daylight Saving Time"}}</div>
                        <div class="field-form">
                            <div class="switch">
                                <label for="useDST" aria-labelledby="time-date-settings label-saving" class="switch-controller">{{getLanguageText "Daylight Saving Time"}}</label>
                                <input type="checkbox" id="useDST" name="useDST" role="switch" aria-checked="false">
                                <span class="slider"></span>
                            </div>
                        </div>
                    </div>

                    <!-- 서머타일 세이빙 활성화(ON) 시 출력 -->
                    <div class="timing-saving" aria-labelledby="label-saving">
                        <div class="field inner-field time-start">
                            <div id="label-time-start" class="field-label">{{getLanguageText "Start Time"}}</div>
                            <div class="field field-type-dropdown field-flex" aria-labelledby="label-time-start">
                                <div id="item-start-month" class="field-label">{{getLanguageText "Month"}} :</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="summer-start-month" class="dropdown type-c">
                                        <!--                                <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-start time-start-month item-start-month" aria-activedescendent="option-0201">1</a>-->
                                        <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-start time-start-month item-start-month">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" aria-labelledby="item-start-month" role="listbox">
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0201">00</a>
                                                </li>
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0202">00</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field field-type-dropdown field-flex" aria-labelledby="label-time-start">
                                <div id="item-start-week" class="field-label">{{getLanguageText "Week"}} :</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="summer-start-week" class="dropdown type-c">
                                        <!--                                <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-start time-start-week item-start-week" aria-activedescendent="option-0203">첫번째</a>-->
                                        <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-start time-start-week item-start-week">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" aria-labelledby="item-start-week" role="listbox">
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0203">00</a>
                                                </li>
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0204">00</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field field-type-dropdown field-flex" aria-labelledby="label-time-start">
                                <div id="item-start-day" class="field-label">{{getLanguageText "Weekday"}} :</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="summer-start-weekday" class="dropdown type-c">
                                        <!--                                <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-start time-start-day item-start-day" aria-activedescendent="option-0205">{{getLanguageText "Days"}}</a>-->
                                        <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-start time-start-day item-start-day">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" aria-labelledby="item-start-day" role="listbox">
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0205">00</a>
                                                </li>
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0206">00</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field field-type-dropdown field-flex" aria-labelledby="label-time-start">
                                <div id="item-start-hour" class="field-label">{{getLanguageText "Hour"}} :</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="summer-start-hour" class="dropdown type-c">
                                        <!--                                <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-start time-start-hour item-start-hour" aria-activedescendent="option-0207">0</a>-->
                                        <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-start time-start-hour item-start-hour">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" aria-labelledby="item-start-hour" role="listbox">
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0207">00</a>
                                                </li>
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0208">00</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field inner-field time-end">
                            <div class="field-label">{{getLanguageText "End Time"}}</div>
                            <div class="field field-type-dropdown field-flex">
                                <div id="item-end-month" class="field-label">{{getLanguageText "Month"}} :</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="summer-end-month" class="dropdown type-c">
                                        <!--                                <a href="javascript:void(0);" role="listbox" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-end time-end-month item-end-month" aria-activedescendent="option-0301">1</a>-->
                                        <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-end time-end-month item-end-month">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" aria-labelledby="item-end-month" role="listbox">
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0301">00</a>
                                                </li>
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0302">00</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field field-type-dropdown field-flex">
                                <div id="item-end-month" class="field-label">{{getLanguageText "Week"}} :</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="summer-end-week" class="dropdown type-c">
                                        <!--                                <a href="javascript:void(0);" role="button" id="time-end-week" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="label-saving label-time-end time-end-week item-end-week" aria-activedescendent="option-0303" aria-expanded="false">00</a>-->
                                        <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-end time-end-week item-end-week">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" aria-labelledby="item-end-week" role="listbox">
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0303">00</a>
                                                </li>
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0304">00</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field field-type-dropdown field-flex">
                                <div id="item-end-day" class="field-label">{{getLanguageText "Weekday"}} :</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="summer-end-weekday" class="dropdown type-c">
                                        <!--                                <a href="javascript:void(0);" role="button" id="time-end-day" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="label-saving label-time-end time-end-day item-end-day" aria-activedescendent="option-0305" aria-expanded="false">00</a>-->
                                        <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-end time-end-day item-end-day">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" aria-labelledby="item-end-day" role="listbox">
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0305">00</a>
                                                </li>
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0306">00</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field field-type-dropdown field-flex">
                                <div id="item-end-hour" class="field-label">{{getLanguageText "Hour"}} :</div>
                                <div class="field-form">
                                    <!--
                                    현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                                    드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                                    -->
                                    <div id="summer-end-hour" class="dropdown type-c">
                                        <!--                                <a href="javascript:void(0);" role="button" id="time-end-hour" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="label-saving label-time-end time-end-hour item-end-hour" aria-activedescendent="option-0307" aria-expanded="false">00</a>-->
                                        <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-saving label-time-end time-end-hour item-end-hour">option</button>
                                        <div class="dropdown-menu">
                                            <ul class="lists" aria-labelledby="item-end-hour" role="listbox">
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0307">00</a>
                                                </li>
                                                <li class="list">
                                                    <a href="javascript:void(0);" role="button" id="option-0308">00</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 서머타일 세이빙 활성화(ON) 시 출력 -->
                </div>
                <!-- 자동설정 OFF 시간 및 날짜 -->

                <!-- 자동설정 ON 표준 시간대 -->
                <div id="control-timezone" class="list-box control-time-on">
                    <div class="title-box">
                        <h3 id="label-standard-time" class="section-title">{{getLanguageText "Time Zone"}}</h3>
                    </div>

                    <div class="field field-type-dropdown field-flex" aria-labelledby="label-standard-time">
                        <div id="label-continent" class="field-label">{{getLanguageText "Continent"}}</div>
                        <div class="field-form flex">
                            <!--
                            현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                            드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                            -->
                            <div id="continent-dropdown" class="dropdown type-c">
                                <!--                        <a href="javascript:void(0);" role="button" id="item-continent" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="label-standard-time label-continent item-continent" aria-activedescendent="option-0401" aria-expanded="false">북미</a>-->
                                <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-standard-time label-continent item-continent">option</button>
                                <div class="dropdown-menu">
                                    <ul class="lists" aria-labelledby="label-continent" role="listbox">
                                        <li class="list">
                                            <a href="javascript:void(0);" role="button" id="option-0401">유럽</a>
                                        </li>
                                        <li class="list">
                                            <a href="javascript:void(0);" role="button" id="option-0402">아시아</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field field-type-dropdown field-flex" aria-labelledby="label-standard-time">
                        <div id="label-country" class="field-label">{{getLanguageText "Country/Territory"}}</div>
                        <div class="field-form flex">
                            <!--
                            현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                            드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                            -->
                            <div id="country-dropdown" class="dropdown type-c">
                                <!--                        <a href="javascript:void(0);" role="button" id="item-country" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="label-standard-time label-country item-country" aria-activedescendent="option-0403" aria-expanded="false">영국</a>-->
                                <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-standard-time label-country item-country">option</button>
                                <div class="dropdown-menu">
                                    <ul class="lists" aria-labelledby="label-country" role="listbox">
                                        <li class="list">
                                            <a href="javascript:void(0);" role="button" id="option-0403">영국</a>
                                        </li>
                                        <li class="list">
                                            <a href="javascript:void(0);" role="button" id="option-0404">한국</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field field-type-dropdown field-flex" aria-labelledby="label-standard-time">
                        <div id="label-city" class="field-label">{{getLanguageText "City"}}</div>
                        <div class="field-form flex">
                            <!--
                            현재 선택된 드롭박스 aria-selected 속성 값을 true로 설정해주세요.
                            드롭박스 클릭/탭 엔터 시 aria-expanded 속성 값을 true로 설정해주세요.
                            -->
                            <div id="city-dropdown" class="dropdown type-c">
                                <!--                        <a href="javascript:void(0);" role="button" id="item-city" class="btn-dropdown" aria-haspopup="listbox" aria-labelledby="label-standard-time label-city item-city" aria-activedescendent="option-0406" aria-expanded="false">서울</a>-->
                                <button role="button" class="btn-dropdown" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="label-standard-time label-city item-city">option</button>
                                <div class="dropdown-menu">
                                    <ul class="lists" aria-labelledby="label-city" role="listbox">
                                        <li class="list">
                                            <a href="javascript:void(0);" role="button" id="option-0405">런던</a>
                                        </li>
                                        <li class="list">
                                            <a href="javascript:void(0);" role="button" id="option-0406">서울</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 자동설정 ON 표준 시간대 -->
            </fieldset>
        </form>

    </div>
    <!-- Detail Container -->
    <!-- Button box -->
    <div class="button-container">
        <button id="time-apply" type="button" class="btn btn-primary btn-submit">{{getLanguageText "Apply"}}</button>
    </div>
    <!-- Button box -->
</div>
<!-- Content middle right -->
{{> time_modal }}
{{> timezone_modal }}
