#failOverPriorityInfo > tbody > tr > td {
    width: 100%;
}

#failOverPriorityInfo > tbody > tr > td > span.mobile {
    font-size: 13px;
}

#failOverPriorityInfo .img-button {
    width: 120px;
    margin-right: 20px;
    margin-left: 20px;
    background-size: 100% 100%;
}

#failOverPriorityInfo .img-button-mobile {
    width: 120px;
    background-size: 100% 100%;
}

#failOverPrioritySettingModal .modal-content {
    width: 450px;
    height: 470px;
    background-color: #f0f0f0;
    margin:0 auto;
}

#failOverPrioritySettingModal .modal-content.mobile {
    width: 340px;
    height: 376px;
}

#failOverPrioritySettingModal .modal-header {
    height: 80px;
    color: #FFFFFF;
    background-color: #363636;
}

#failOverPrioritySettingModal .modal-header.mobile {
    height: 64px;
}

#failOverPrioritySettingModal .modal-title {
    font-size: 25px;
    margin-top: 10px;
}

#failOverPrioritySettingModal .modal-title.mobile {
    font-size: 20px;
    margin-top: 5px;
}

#failOverPrioritySettingModal .modal-body {
    height: 235px;
    margin: 30px;
    padding: 0;
}

#failOverPrioritySettingModal .modal-body.mobile {
    height: 204px;
    margin: 20px;
}

#failOverPrioritySettingModal .modal-body h4 {
    height: 50px;
    padding-left: 20px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    font-size: 15px;
    color: #6f6f6f;
}

#failOverPrioritySettingModal .modal-body.mobile h4 {
    height: 40px;
    padding-left: 10px;
    font-size: 12px;
}

#failOverPrioritySettingModal .modal-body h4:nth-child(even) {
    border-top-width: 0;
    border-bottom-width: 0;
}

#failOverPrioritySettingModal .priority_title {
    width: 96px;
    display: inline-block;
}

#failOverPrioritySettingModal .priority_item {
    display: inline-block;
    margin-top: 15px;
}

#failOverPrioritySettingModal .btn_priority {
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-right: 20px;
}

#failOverPrioritySettingModal .btn_priority.mobile {
    width: 25px;
    height: 25px;
    margin-top: 7px;
    margin-right: 10px;
}

#failOverPrioritySettingModal .btn_priority.btn_priority_up {
    background-image: url('/images/btn_manual_up_off.png');
    background-size: cover;
}

#failOverPrioritySettingModal .btn_priority.btn_priority_up:active {
    background-image: url('/images/btn_manual_up_on.png');
}

#failOverPrioritySettingModal .btn_priority.btn_priority_down {
    background-image: url('/images/btn_manual_down_off.png');
    background-size: cover;
}

#failOverPrioritySettingModal .btn_priority.btn_priority_down:active {
    background-image: url('/images/btn_manual_down_on.png');
}

#failOverPrioritySettingModal .modal-footer {
    height: 155px;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
}

#failOverPrioritySettingModal .modal-footer.mobile {
    height: 108px;
}

#failOverPrioritySettingModal .img-button {
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    background-size: 100% 100%;
}

#failOverPrioritySettingModal .img-button-mobile {
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    background-size: 100% 100%;
}

#BackupImageUpload #fileName {
    width: 65%;
    padding: 0 5px;
    border: 1px solid;
}

#BackupImageUpload #fileName.mobile {
    width: 70%;
    font-size: .8em;
}

#BackupImageUpload .img-button-mobile.small {
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    background-size: 100% 100%;
}

.file_upload label {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 120px;
    padding-top: 2px;
    background-size: 100% 100%;
    background-image: url("../images/btn_xsmall.png");
}

.file_upload label:active {
    background-image: url("../images/btn_click_xsmall.png");
}

.file_upload input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

#failoverImageName {
    font-size: 15px;
    font-weight: bold;
    color: #6F6F6F;
    word-break: break-all;
}

@media (max-width: 359px) {
    .flat-blue .table > tbody > tr > td.td-component {
        font-size: 12pt;
    }

    #failOverPrioritySettingModal .modal-content.mobile {
        width: 280px;
    }

    #failOverPrioritySettingModal .priority_title {
        width: 55px;
    }
}

/* start support arabic */
.caret.arabic {
    right: inherit;
    left: 25%;
}

.caret.mobile.arabic {
    right: inherit;
    left: 7%;
}
/* end support arabic */