#log {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    padding: 5px 5px;
    font-family: LG Smart;
}

#log table {
    width: 100%;
    background-color: #f5f5f5;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}

#log tr:nth-child(even) {
    /*background: #d4d4d4;*/
}

#log th, #log td {
    padding: 5px 5px;
    border: 1px solid #d4d4d4;
}

#log.mobile th, #log.mobile td {
    font-size: 11px;
}

#log th {
    border-bottom: 1px solid #d4d4d4;
}