html, body {
    height: 100%;
    color: white;
    background-color: black;
}

.custom_container {
    width: 100%;
    max-width: 700px;
    min-width: 320px;
    height: 100%;
    max-height: 1280px;
    min-height: 550px;
    margin: 0 auto;
    padding: 0 35px;
}

.custom_header {
    width: 100%;
    height: 16%;
    text-align: center;
}

.custom_body {
    width: 100%;
    height: 84%;
}

.custom_table {
    display: table;
    width: 100%;
    height: 100%
}

.custom_table_row {
    display: table-row
}

.custom_table_cell {
    display: table-cell;
    vertical-align: middle
}

.btn_center_menu {
    width: 100%;
    height: 28%;
    text-align: center;
    color: #353535;
    background-color: #F0F0F0;
    border: 2px solid #606060;
    font-size: 18px;
    font-family: "Museo Sans 700";
}

.btn_center_menu:active {
    background-color: #cf0652;
    border: 2px solid #ff0b67;

}

.btn_bottom_empty {
    width: 100%;
    height: 20%;
}

.btn_bottom_menu {
    width: 100%;
    height: 20%;
    color: #cccccc;
    background-color: #4d4d4d;
    border-radius: 45px;
    font-size: 18px;
    font-family: "Miso Bold";
}

.btn_bottom_menu:active {
    color: #ffffff;
    background-color: #cf0652;
}

.custom_table.box_bottom_btn {
    width: 100%;
    height: 16.5%;
    padding: 0 17% 0 17%;
    text-align: center;
}

.text_header_title {
    color: #cccccc;
    font-size: 40px;
    font-family: "Miso Regular";
}

.txt_category {
    color: #a6a6a6;
    font-size: 16px;
    font-family: "Museo Sans 700 Italic";
}

.underline_category {
    width: 100%;
    border: 1px solid #595959;
}

.box_input_circle_pin {
    width: 100%;
    height: 40%;
    text-align: center;
}

.box_input_pin {
width: 100%;
height: 8.2%;
        min-height: 40px;
margin: 10px 0 15px 0;
padding: 0;
         text-align: center;
}

.input_circle_pin {
    width: 20%;
    display: inline-block;
    color: rgba(108, 108, 108, 0);
    width: 100%;
    height: 8.2%;
    color: #585858;
    font-size: 18px;
    font-family: "Museo Sans 500";
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 45px;
    outline-style: none;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color: #000000;
    background-image: url('/images/2017UX/pin_code_normal.png');
    background-size: cover;
}

.text_indent {
    text-indent: 20px;
}

.input_cicle_pin:nth-child(-n+5) {
    margin-right: 1%;
}

.input_pin {
width: 100%;
height: 100%;
        padding-left: 15px;
color: #a6a6a6;
       font-size: 18px;
       font-family: "Museo Sans 500";
       background-color: #ffffff;
border: 2px solid #ffffff;
        border-radius: 45px;
        outline-style: none;
}

.input_pin:focus {
color: #4c4c4c;
border: 2px solid #cf0652;
}

.custom_checkbox {
    background-color: white;
    background-image: url("/images/2017UX/checkbox_off.png");
}

.custom_checkbox:active {
    background-image: url("/images/2017UX/checkbox_on.png");
}

.txt_error_msg {
color: red;
       text-align: center;
}

.custom_modal .modal-content {
width: 335px;
       background-color: #dfdfdf;
margin:0 auto;
padding: 20px 10px;
}

.custom_modal .modal-header {
padding: 0 0;
}

.custom_modal .modal-title {
padding: 0 0;
color: #4d4d4d;
       font-size: 18px;
       font-family: "Museo Sans 500";
}

.custom_modal .modal-body {
padding: 30px 0;
         text-align: center;
color: #4d4d4d;
       font-size: 18px;
       font-family: "Museo Sans 500";
}

.custom_modal .modal-footer {
padding: 0 0;
         text-align: center;
}

.custom_modal .btn_modal_command {
width: 153px;
height: 40px;
padding: 0 0;
color: #ffffff;
       font-size: 18px;
       background-color: #686868;
border: none;
        outline-style: none;
        border-radius: 45px;
        background-size: cover;
        font-family: "Miso Bold";
}

.custom_modal .btn_modal_command:active {
    background-color: #cf0652;
}

button.close.custom_close {
width: 34px;
height: 34px;
        margin-top: -10px;
        outline-style: none;
        background-image: url("/images/2017UX/btn_close_n.png");
}

button.close.custom_close:active {
    outline-style: none;
    background-image: url("/images/2017UX/btn_close_p.png");
}

.underline_title {
width: 100%;
border: 1px solid #4d4d4d;
}

@media (max-width: 359px) {
    .custom_container {
padding: 0 20px;
    }

    .custom_modal .modal-content {
width: 280px;
    }

    .custom_modal .btn_modal_command {
width: 125px;
       font-size: 15px;
    }
}

.timer-cinema {
    color: #FA5858;
    font-size: 30px;
    font-weight: lighter;
    text-align: right;
    margin-right: 30px;
}
