.img_captcha {
    width: 100%;
    height: 8%;
    text-align: center;
    background-color: #1a1a1a;
}

.input_captcha {
    width: 100%;
    height: 8.2%;
    padding-left: 15px;
    color: #a6a6a6;
    font-size: 18px;
    font-family: "Museo Sans 500";
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 45px;
    outline-style: none;
}

.input_captcha:focus {
    color: #4c4c4c;
    border: 2px solid #cf0652;
}
