input[type=text] {
    background-color: white;
    border: 2px inset #ddd;
}

.caret {
    right: 15%;
}

.caret.mobile {
    right: 15%;
}

#time-zone .caret {
    right: 6%;
}

#time-zone .caret.mobile {
    right: 10%;
}

.dropdown-select {
    width: 100%;
}

.dropdown-dst {
    width : 150px;
    margin-top: 13px;
}

#time-zone .first.mobile {
    width: 400px;
}

.dst-time-setting-table {
    table-layout: fixed;
}

.dst-time-setting-table td {
    width: 50%;
    word-break: break-all;
}

.dst-time-setting-table td:nth-child(even) {
    width: 50%;
    padding-left: 2px;
}

/* start support arabic */
.caret.arabic {
    right: inherit;
    left: 15%;
}

#time-zone .caret.arabic {
    right: inherit;
    left: 7%;
}

#time-zone .caret.mobile.arabic {
    right: inherit;
    left: 10%;
}

.wrapper-center-done {
    text-align: center;
    margin: auto;
    font-size: 13pt;
}

/*Custom Button*/
.img-button-done {
    background-image: url("../images/btn.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 350px;
    height: 30px;
    border: 0px;
    background-color: transparent;
    color: #b5b5b5;
    font-size: 14pt;
    font-weight: bold;
    margin: 17px 0px 10px 0px;
    left: 50%;
}

input[type=checkbox][class=grey]:not(old) {
        width: 28px;
        margin: 0;
        padding: 0;
        opacity: 0;
    }

input[type=checkbox][class=grey]:not(old) + label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 58px;
    background: url('../images/toggleButton_grey.png') no-repeat 0 0;
    line-height: 26px;
}

input[type=checkbox][class=grey]:not(old):checked + label {
    background-position: 0 -26px;
}

.whiteCardBtn-cinema {
	float: right;
	border: 2px solid;
	border-radius: 15px;
	height: 30px;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
	font-size: 13px;
}

.whiteCardBtn-cinema {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #cf0652;
}

.whiteCardBtn-cinema {
	background-color: #fff;
	border-color: white;
    float: none;
}

.whiteCardBtn-cinema:hover {
	border-radius: 15px;
	background-color: #cf0652;
	border-color: #cf0652;
	color: #ffffff;
}

.whiteCardBtn-cinema:active {
	background-color: #4d4d4d;
	border-color: #cf0652;
	color: #ffffff;
}



/* end support arabic*/
