input[type=text] {
    background-color: white;
    border: 2px inset #ddd;
}

.caret {
    right: 15%;
}

.caret.mobile {
    right: 15%;
}

#time-zone .caret {
    right: 6%;
}

#time-zone .caret.mobile {
    right: 10%;
}

.dropdown-select {
    width: 100%;
}

#time-zone .first.mobile {
    width: 400px;
}

.dst-time-setting-table {
    table-layout: fixed;
}

.dst-time-setting-table td {
    width: 50%;
    word-break: break-all;
}

.dst-time-setting-table td:nth-child(even) {
    width: 50%;
    padding-left: 2px;
}

/* start support arabic */
.caret.arabic {
    right: inherit;
    left: 15%;
}

#time-zone .caret.arabic {
    right: inherit;
    left: 7%;
}

#time-zone .caret.mobile.arabic {
    right: inherit;
    left: 10%;
}
/* end support arabic*/