<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					Check Screen <input type=checkbox id='isCheckScreenOn' class=custom><label for='isCheckScreenOn'>&nbsp;</label> <span id='checkScreenReturn'></span>
				</h4>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<div class='col-md-6'>
						{{#unless env.checkscreenPosition}}<button id="calibrate" class="btn btn-default">Calibrate</button>{{/unless}}
						Status :&nbsp;
						<span id=calibrated>Reading...</span>
					</div>
				</div>
				<div class="col-md-12">
					<table class='table table-bordered table-striped'>
						<thead>
							<tr>
								{{#if env.checkscreenPosition}}<th>Position</th>{{/if}}
								<th>Width</th>
								<th>Height</th>
							</tr>
						</thead>
						<tr>
							{{#if env.checkscreenPosition}}
							<td>
								<select class="form-control" id='position'>
									<option value='1'>Top Left</option>
									<option value='2'>Top Right</option>
									<option value='3'>Bottom Left</option>
									<option value='4'>Bottom Right</option>
								</select>
								<button id="positionChange" class="btn btn-default">Change</button>
								<button id="calibrate" class="btn btn-default">Calibrate</button>
							</td>
							{{/if}}
							<td><span id=width></span></td>
							<td><span id=height></span></td>
						</tr>
					</table>

					<div class='col-md-6'>
						<label>Show Color</label>
						<input type=checkbox id='showColor' class=grey>
						<label for='showColor'>&nbsp;</label>
					</div>
					<table class='table table-bordered table-striped'>
						<tr>
							<th>Valid</th>
							<th>Draw</th>
							<th>Sensor</th>
						</tr>
						<tr>
							<td><span id=valid></span></td>
							<td><span id=drawColor>&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
							<td>
								<span id=sensorColor>&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<br>
								<span id=sensorValue></span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		{{#env.supportPsuStatus}}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					PSU Status
				</h4>
				<hr>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					<table class='table checkscreen-control'>
						<tbody>
							{{#for 1 env.psuNum 1}}
							<tr>
								<td class="first">PSU #{{this}}</td>
								<td class="second">
									<div class="wrapper-center">
										<span id="PSU{{this}}Status"></span>
									</div>
								</td>
								<td class="third"></td>
							</tr>
							{{/for}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{{/env.supportPsuStatus}}
	</div>
</div>

<script>
	var env = {{{ json env }}};

	var calibMsg = ["Default size", "Calibrating...", "Calibrated"];
	var bgTable = ['#F00', '#0F0', '#00F'];
	var calibrated = false;
	var inited = false;
	var disabled = true;
	var getColorInterval = undefined;

	init();

	function showColor() {
		getCheckScreenColor(function (msg) {
			console.log(msg)
			var readValue = msg.hexValue == '' ? 'Sensor Error' : msg.hexValue;
			var readColor = msg.readRGB < 3 ? bgTable[msg.readRGB] : '#000';
			$('#drawColor').css('background-color', bgTable[msg.drawRGB])
			$('#sensorValue').html(readValue);
			$('#sensorColor').css('background-color', readColor)
			$('#valid').html(msg.colorValid ? "OK" : "NG")
		});
	}

	function showCheckScreenInfo(msg) {
		if (!msg.returnValue) {
			console.log('Failed getCheckScreenInfo()');
			return;
		}

		var calibStatus = "";
		if (msg.calibStatus != undefined) {
			calibStatus = calibMsg[msg.calibStatus];
			calibrated = msg.calibStatus == 2;
		}

		$("#calibrated").html(calibStatus);
		$("#width").html(msg.rgbRect.width);
		$("#height").html(msg.rgbRect.height);

		$("#position").val(msg.position).change();

		$('#showColor').prop('disabled', disabled || !calibrated);
	}

	function disableControl(disabled) {
		$('#calibrate').prop('disabled', disabled);
		$('#position').prop('disabled', disabled);
		$('#positionChange').prop('disabled', disabled);
		if (disabled) {
			$('#showColor').attr('checked', false);
		}
		$('#showColor').prop('disabled', disabled || !calibrated);
	}

	function getPUSStatus() {
		console.log("getPUSStatue");
		getSDMInfo(function (msg) {
			var tmpHtml = "";
			var PSUStatus = msg.PSUStatus;

			if (!PSUStatus) {
				return;
			}


			for (var i = 0; i < PSUStatus.length; i++) {
				for (var variable in PSUStatus[i]) {
					if ($('#PSU' + (i + 1) + 'Status').html() !== '') {
						$('#PSU' + (i + 1) + 'Status').append('<br/>')
					}
					if (PSUStatus[i].hasOwnProperty(variable)) {
						if (PSUStatus[i][variable]) {
							$('#PSU' + (i + 1) + 'Status').append('<span> ' + variable + ' : OK</span>');
						} else {
							$('#PSU' + (i + 1) + 'Status').append('<span style="color: red"> ' + variable + ' : NG</span>');
						}
					}
				}
			}
		});
	}

	function init() {
		getCheckScreenOn(function (msg) {
			$('#isCheckScreenOn').attr('checked', msg != 'off');
			disabled = !msg || msg == 'off';
			disableControl(disabled);
			inited = true;
		});
		getCheckScreenInfo(showCheckScreenInfo);

		getCheckScreenColor(function (msg) {
			$('#valid').html(msg.colorValid ? "OK" : "NG")
		});

		$("#calibrate").click(function () {
			$("#calibrated").html(calibMsg[1]);
			checkScreenCalib(false, function (msg) {
				getCheckScreenInfo(showCheckScreenInfo);
			});
		});

		$("#positionChange").click(function () {
			setCheckScreenPos($("#position").val());
			getCheckScreenInfo(showCheckScreenInfo);
			calibrated = false;
			$('#showColor').attr('checked', false);
			$('#showColor').prop('disabled', true);
		});

		$('#isCheckScreenOn').change(function () {
			if (!inited) {
				return;
			}
			var checked = $('#isCheckScreenOn').prop('checked');
			setCheckScreenOn(checked ? 'on' : 'off');

			disableControl(!checked);
			disabled = !checked;

			if (!checked) {
				if (getColorInterval) {
					clearInterval(getColorInterval);
				}
				$('#drawColor').css('background-color', '')
				$('#sensorValue').html('');
				$('#sensorColor').css('background-color', '')
			}
		});

		$('#showColor').change(function () {
			var checked = $(this).prop('checked');
			if (checked) {
				getColorInterval = setInterval(showColor, 500);
			} else {
				if (getColorInterval) {
					clearInterval(getColorInterval);
				}
				$('#drawColor').css('background-color', '')
				$('#sensorValue').html('');
				$('#sensorColor').css('background-color', '')
			}
		});

		getPUSStatus();

		$('#pageTitle').html('Check Screen');
	}
</script>
