<script>
var languageTable = {{{json languageTable}}};
</script>
<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>

<style>
input[type=checkbox][class="ng-cinema"]{
	display: none;
}

input[type=checkbox][class="ng-cinema"] + label {
	margin : 10px 0px 4px 0px;
	background: url('/images/2017UX/ng_cinema.png') left top no-repeat;
	width: 20px;
	height: 20px;
	cursor:pointer;
}

input[type=checkbox][class="ok-cinema"]{
    display: none;
}

input[type=checkbox][class="ok-cinema"] + label {
    margin : 10px 0px 4px 0px;
    background: url('/images/2017UX/ok_cinema.png') left top no-repeat;
    width: 20px;
    height: 20px;
    cursor:pointer;
}

.cardBtn, .whiteCardBtn, .darkGrayBtn, .mediaToolBarBtn, .calibBtn {
float: right;
	border: 2px solid;
	border-radius: 15px;
	height: 30px;
    width: 130px;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
	font-size: 13px;
}

.cardBtn, .whiteCardBtn {
	background-color: #BDBDBD;
	border-color: #BDBDBD;
	color: #cf0652;
}

.whiteCardBtn {
	background-color: #E6E6E6;
	border-color: white;
    float: none;
}

.cardBtn:hover, .whiteCardBtn:hover, .calibBtn:hover {
	border-radius: 15px;
	background-color: #cf0652;
	border-color: #cf0652;
	color: #ffffff;
}

.cardBtn:active, .whiteCardBtn:active, .calibBtn:active {
	background-color: #4d4d4d;
	border-color: #cf0652;
	color: #ffffff;
}

.cardBtn:disabled, .whiteCardBtn:disabled {
	background-color: #bdbdbd;
	border-color: #bdbdbd;
	color: #ffffff;
}

</style>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style='width: 800px;'>
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/ledSignage/language'>Go to System Controller Settings</a>
            </div>

            <div class="panel-body" id="fanDiv">
                {{#cinemaModel}}
                <h3>IMB Test API</h3>
                <table class='table'>
                    <tr>
                        <th><font Size="3">CPU Status</font></th>
                        <td colspan=2>
                        <input id='okStatusCpu' type="checkbox" disabled>
                        <label for="okStatusCpu">&nbsp;</label>
                        <font Size="3" id='okStatusTextCpu'> - </font>
                        </td>
                    </tr>
                    <tr>
                        <th><font Size="3">FPGA Status</font></th>
                        <td colspan=2>
                        <input id='okStatusFpga' type="checkbox" disabled>
                        <label for="okStatusFpga">&nbsp;</label>
                        <font Size="3" id='okStatusTextFpga'> - </font>
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <th><font Size="3">SecureSilicon Status</font></th>
                        <td colspan=2 style="float: left;">
                        <input id='okStatusSilicon' type="checkbox" disabled>
                        <label for="okStatusSilicon">&nbsp;</label>
                        <font Size="3" id='okStatusTextSilicon'> - </font>
                        </td>
                    </tr>
                    <tr>
                        <th><font Size="3">Fpga Version</font></th>
                        <td colspan=2>
                            <font Size="3" id='fpgaVersion'> - </font>
                        </td>
                    </tr>
                    <tr>
                        <th><font Size="3">SecureSilicon Version</font></th>
                        <td colspan=2>
                            <font Size="3" id='secureSiliconVersion'> - </font>
                        </td>
                    </tr>
                    <tr>
                        <th><font Size="3">Secure Silicon Certificate</font></th>
                        <td><button id='downloadCert' class='whiteCardBtn'>Download</button></td>
                        </tr>
                    <tr>
                </table>

                <table class='table'>
                    <tr>
                        <th><font Size="3">Factory Reset</font></th>
                        <td>Reset to factory reset</td>
                        <td><button id=factoryResetBtn class=whiteCardBtn>{{getLanguageText 'Reset'}}</button></td>
                        </tr>
                    <tr>
                        <th><font Size="3">System Reboot</font></th>
                        <td>System controller will restart.</td>
                        <td><button id=rebootBtn class=whiteCardBtn>{{getLanguageText 'Reboot'}}</button></td>
                    </tr>
                </table>
                {{/cinemaModel}}
                {{#cinemaModelBlock}}
                    <h3>UNSUPPORTED (NOT CINEMA MODEL)</h3>
                {{/cinemaModelBlock}}
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>
var env = {{{json env}}};

function changeStatus(id, ok) {
    $('#okStatus' + id).addClass(ok ? 'ok-cinema' : 'ng-cinema')
    $('#okStatus' + id).removeClass(ok ? 'ng-cinema' : 'ok-cinema')
    $('#okStatusText' + id).text(ok ? "OK" : "NG")
}

function updateStatus() {
    getSecureSiliconStatus(function(ret) {
        if (ret.returnValue) {
            changeStatus('Silicon', ret.result.status === 'success')
        } else {
            changeStatus('Silicon', false);
        }
        $('#secureSiliconVersion').html(ret.result.version);
    });
    getCpuStatus(function(ret) {
        if (ret.returnValue) {
            changeStatus('Cpu', ret.result.status);
        } else {
            changeStatus('Cpu', false);
        }
    });
    getFpgaStatus(function(ret) {
        if (ret.returnValue) {
            changeStatus('Fpga', ret.result.status);
        } else {
            changeStatus('Fpga', false);
        }
    });
}

function initFactoryReset() {
    $('#factoryResetBtn').click(function() {
        $('#factoryResetModal').modal();
    });

    addLedConfirmModal('factoryResetModal', "Factory Reset", "All settings will be reset. Do you want to continue?", function () {
        overlayControl(true, "Factory Reset......");
        setTimeout(doFactoryDefault, 1000);

        setTimeout(function () {
            window.location.replace("/login");
        }, 60 * 1000);
    });
}

function initReboot() {
    $('#rebootBtn').click(function() {
        $('#rebootModal').modal();
    });

    addLedConfirmModal('rebootModal', "System Reboot", "System controller will restart. Do you want to continue?", function () {
        overlayControl(true, "Rebooting......");
        rebootScreen('commerReset');

        setTimeout(function () {
            window.location.replace("/login");
        }, 60 * 1000);
    });
}


$(document).ready(function(){
    $('#pageTitle').html('Cinema System Status');

    if (env.supportCinemaModel) { 
        addWarningModal();
        initFactoryReset();
        initReboot();

        updateStatus();
        setInterval(updateStatus, 60 * 1000);
        getFpgaVersion( function(ret) {
	        var fpgaVer = ret.result.sysVersion[0].version;
	        $('#fpgaVersion').html(fpgaVer);
        });

        $('#downloadCert').click(function() {
            overlayControl(true, "Downloading ......");
            getSecureSiliconCert(function(ret) {
                overlayControl(false);
                console.log(ret);
                if (!ret.returnValue) {
                    alert('Fail to get certificate. code : ' + ret.status);
                    return;
                }
                window.location.href = '/tmp/lge_certificate.pem';
            });
        });
    }
});
</script>
