<script>
var languageTable = {{{json languageTable}}};
</script>
<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style='width: 1200px;'>
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
                               <a href='/ledSignage/language'>Go to System Controller Settings</a>
            </div>

            <div class="panel-body" id="fanDiv">
                <h3>Debug Info</h3>
                <div>Please 'TURN OFF' log after use in release version</div>
                <div><button id='turnOn'>Turn On Log</button> <button id='turnOff'>Turn Off Log</button></div>
                <div><button id='startLog'>Show Log</button> <button id='stopLog'>Stop Showing Log</button></div>
                <pre id='ledLog' style="overflow:scroll; height:600px; padding:10px; font-family:monospace">
                </pre>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>

$(document).ready(function(){
    $('#pageTitle').html('Debug Info');
    socket.on('ledLog', function(ret) {
        $('#ledLog').append(ret + '\n');
        $('#ledLog').scrollTop($('#ledLog')[0].scrollHeight);
    });

    window.onbeforeunload = unregisterLogHandler;

    $('#startLog').click(function() {
        registerLogHandler(function(ret) {
            console.log(ret);
        });
    });

    $('#stopLog').click(function() {
        unregisterLogHandler();
    });

    $('#turnOn').click(function() {
        switchLoggingMode(true, function(ret) {
            console.log(ret);
        });
    });

    $('#turnOff').click(function() {
        switchLoggingMode(false, function(ret) {
            console.log(ret);
        });
    });
});
</script>
