<html>

<head>
    <title>LG Control Manager</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/flat-admin.js"></script>

    <script>
        var languageTable = {{{json languageTable}}};
    </script>

    <script src="/js/page/common.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/flat-blue.css">
</head>

<body class="flat-blue">
    <div class="app-container expanded">
        <div class="row content-container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle">
							<img src='/images/ic_header_menu_n.png'>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active"><span id='pageTitle'></span></li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <img src="/images/LG_logo.png" class="logo"></img>
                        <!--
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user fa-fw"></i></a>
                            <ul class="dropdown-menu animated fadeInDown">
                                <li class="title">
                                    <a href="/changePasswd">
                                        <i class="fa fa-key fa-fw"></i>Change Password
                                    </a>
                                </li>
                                <li class="title">
                                    <a href="/logout">
                                        <i class="fa fa-sign-out fa-fw"></i>Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                        -->
                    </ul>
                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default navbar-overlay" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <!--<a class="navbar-brand" href="/admin">-->
                                <div width="270px" height="281">
                                    <img src="/images/image_01.png" width="270px" height="281" id="navbar-background">
                                    <div  class="user-menu">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                <img src="/images/profile_photo_default.png">
                                            </a>
                                            <ul class="dropdown-menu animated fadeInDown" style="z-index: 100;">
                                                <li class="title dropdown-li top-margin">
                                                    <a href="/changePasswd" class="dropdown-a">
                                                        Change Password
                                                    </a>
                                                </li>
                                                <li class="title dropdown-li">
                                                    <a href="/logout" class="dropdown-a">
                                                        Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </div>
                                </div>
                            <!--</a>-->
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
			    {{#cinemaModelBlock}}
                            <li>
                                <a href="/factorymenu">
                                    <span class="title">Factory Menu</span>
                                </a>
                            </li>
			    {{/cinemaModelBlock}}
                            {{#supportFan}}
                            <li>
                                <a href="/factorymenu/fan">
                                    <span class="title">Fan</span>
                                </a>
                            </li>
                            {{/supportFan}}
                            {{#if env.checkscreen.support}}
                            <li>
                                <a href="/factorymenu/checkScreen">
                                    <span class="title">Check Screen</span>
                                </a>
                            </li>
                            {{/if}}
                            {{#if env.supportHumid}}
                            <li>
                                <a href="/factorymenu/humid">
                                    <span class="title">Humidity</span>
                                </a>
                            </li>
                            {{/if}}
                            {{#if env.outdoor}}
                            <li>
                                <a href="/factorymenu/emergency">
                                    <span class="title">Emergency Control</span>
                                </a>
                            </li>
                            <li>
                                <a href="/factorymenu/testsuite">
                                    <span class="title">Testsuite</span>
                                </a>
                            </li>
                            {{/if}}
                            {{#supportLedSignage}}
                            <li>
                                <a href="/factorymenu/remocon">
                                    <span class="title">Virtual Controller</span>
                                </a>
                            </li>
                            {{/supportLedSignage}}

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>

            <!-- Page Content -->
			<div class='main-body-lg main-body-xs'>
                <div class="side-body">
                    <div id="page-wrapper">
                        <div id='warningMessage'>
                        </div>
						<!--
						<div style='width:1010px; max-width:1010px; display: inline-block;'>
						-->
                        <div class="container-fluid">
                        {{{ body }}}
                        </div>
                        <!-- /.container-fluid -->
                        <div class='container-fluid' id='alertMessage'></div>
                    </div>
                </div>
            </div>
        </div>
</body>
<!-- set languageTable value -->
</html>
