<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/range.js"></script>
<script src="/js/page/fan.js"></script>
<script src="/js/page/factorymenu-fan.js"></script>

<div class="row">
	<div class="col-md-12">
		<!-- Basic Status Here -->
		<div class="panel panel-default panel-wide">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<input type=button id="startFan" value="Start Fan Test" class="btn btn-default">
					<input type=button id="stopFan" value="Stop Fan Test" class="btn btn-default"> (only during 5 min. for safety)
				</h4>
				<hr>
			</div>
			<div class="panel-body" id="fanDiv">
				<div class="col-xs-12">
					<table class="table table-striped">
						<tbody>
							{{#for 1 env.fanControl.numOfFanIndex 1}}
							<tr id='OL{{this}}testControl'>
								<th width=30%>Open Loop Fan #{{this}} (0~255)</th>
								<td width=50%>
									<input type='range' id='OL{{this}}test' class='custom' min=0 max=255 value=0>
								</td>
								<td>
									<span id="OL{{this}}testVal" class='testVal'></span>
								</td>
							</tr>
							{{/for}}
							{{#for 1 env.fanControl.numOfFanIndex 1}}
							<tr id='CL{{this}}testControl'>
								<th>Closed Loop Fan #{{this}} (0~255)</th>
								<td width=100px>
									<input type='range' id='CL{{this}}test' class='custom' min=0 max=255 value=0>
								</td>
								<td>
									<span id="CL{{this}}testVal" class='testVal'></span>
								</td>
							</tr>
							{{/for}}
							{{#for 1 1 1}}
							<tr id='PU{{this}}testControl'>
								<th>Power Fan #{{this}} (0~255)</th>
								<td>
									<input type='range' id='PU{{this}}test' class='custom' min=0 max=255 value=0>
								</td>
								<td>
									<span id="PU{{this}}testVal" class='testVal'></span>
								</td>
							</tr>
							{{/for}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-wide">
			<div class="panel-heading" role="tab">
				<a name='fanRPM'></a>
				<h4 class="panel-title">
					Current Fan RPM
					<div class="top-right-refresh">
						Refresh
						<img id='refresh' src="/images/ic_refresh_n.png">
					</div>
				</h4>
				<hr>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					{{#each env.curTempSensor}}
					{{name}}: <span id='{{id}}Temp'>-</span>°C&nbsp;
					{{/each}}
					{{#each env.fanControl.fans}}
					<table id='{{id}}RPM' class="table table-striped">
						<thead>
							<tr>
								<th colspan=2>{{name}} Fan</th>
							</tr>
							<tr>
								<th width=40%>ID</th>
								<th>RPM</th>
							</tr>
						</thead>
						<tbody>
							{{#for 1 numberOfFans 1}}
							<tr>
								<td>{{this}}</td>
								<td id="{{../id}}{{this}}rpm"> - </td>
							</tr>
							{{/for}}
						</tbody>
					</table>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-wide">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					Auto Fan Control Table Edit
				</h4>
				<hr>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
					Click on the point to change the fan speed
				</div>
				<div class="col-md-12">
					<!--<img src="../images/5.png">-->
					<canvas id="myChart" width="625" height="300"></canvas>
				</div>
				<div class="col-md-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>Temperature (°C)</th>
								<th>Fan Speed Level (%)</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#for 1 env.fanControl.numOfFanIndex 1}}
							<tr id='OL{{this}}control'>
								<th id='OL{{this}}header'>Open Loop #{{this}}</th>
								<td>
									<select id="OL{{this}}temp" class='form-control tempSel'>
									</select>
								</td>
								<td>
									<input type='range' id='OL{{this}}speed' class='custom' min=0 max=100 value=0>
								</td>
								<td width=50>
									<span id='OL{{this}}speedVal'> </span>
								</td>
							</tr>
							{{/for}}
							{{#for 1 env.fanControl.numOfFanIndex 1}}
							<tr id='CL{{this}}control'>
								<th id='CL{{this}}header'>Closed Loop #{{this}}</th>
								<td>
									<select id="CL{{this}}temp" class='form-control tempSel'>
									</select>
								</td>
								<td>
									<input type='range' id='CL{{this}}speed' class='custom' min=0 max=100 value=0>
								</td>
								<td>
									<span id='CL{{this}}speedVal'>&nbsp;&nbsp;</span>
								</td>
							</tr>
							{{/for}}
							{{#for 1 1 1}}
							<tr id='PU{{this}}control'>
								<th id='PU{{this}}header'>PSU #{{this}}</th>
								<td>
									<select id="PU{{this}}temp" class='form-control tempSel'>
									</select>
								</td>
								<td>
									<input type='range' id='PU{{this}}speed' class='custom' min=0 max=100 value=0>
								</td>
								<td>
									<span id='PU{{this}}speedVal'>&nbsp;&nbsp;</span>
								</td>
							</tr>
							{{/for}}
						</tbody>
					</table>
				</div>
				<div class="col-md-10">
					<button class='btn btn-default' id='apply'>Apply</button>
					<button class='btn btn-default' id='revert'>Revert Change</button>
					<button class='btn btn-default' id='reset'>Reset to Default</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var env = {{{json env}}};
	var fanTypes = [];
	var tempSensors = env.curTempSensor;
	var idMap = {
		id: [],
		openLoop1: "OL1",
		closedLoop1:"CL1",
		power1:"PU1",
		openLoop2: "OL2",
		closedLoop2:"CL2"
	};

	for (var i = 1; i <= env.fanControl.numOfFanIndex; i++) {
		idMap.id.push('openLoop' + i);
	}
	for (var i = 1; i <= env.fanControl.numOfFanIndex; i++) {
		idMap.id.push('closedLoop' + i);
	}
	idMap.id.push('power' + 1);

	getFanStatus(function (res) {
		fanTypes = res.group;
		initFanTest();
		initFanPage();
		addFanEventListener();
	});

	refreshSensor();

	$('#pageTitle').html('Fan Factory Menu');
</script>
