<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/charts.js"></script>

<div class="row">
	<center><ul class="pagination" id="pager"></ul></center><br/>
	<div class="col-md-12">
		<div class="panel panel-default panel-wide">
			<div class="panel-heading" role="tab">
				<h4 class='panel-title'>
					Humidity
					<div class="top-right-refresh">
						<button class="btn-refresh RefreshTxt" onclick="window.location.reload();"></button>
					</div>
				</h4>
				<hr>
			</div>
			<div class="panel-body" id="backlightPanel">
				<div class="col-md-10">
					<div class="col-md-12">
						<canvas id="backlightChart"></canvas>
					</div>
				</div>
				<div class="col-md-2" id="backlightLegend">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var env = {{{ json env }}};
	env.isFactoryMenu = true;

	init(env, {{ page }});
	startHumidChart();

	$('#pageTitle').html('Humidity');

	function drawHumidityChart(humidityData) {
		if (!humidityData || !humidityData.returnValue) {
			showWarning(getLanguageText(languageTable, "History is not yet collected"));
			return;
		}
		var labels = createLabels(humidityData.history.length, humidityData.interval);
		var chartData = {};
		chartData.labels = labels;
		chartData.datasets = [];

		humidityData.history.forEach(function (val, index) {
			if (humidityData.history[index] < 0) {
				humidityData.history[index] = 0;
			}
		});

		var backlightSet = {
			label: "Humidity(%)",
			fillColor: "rgba(0, 0, 0, 0)",
			strokeColor: color[0],
			pointColor: color[0],
			data: humidityData.history.reverse()
		};
		chartData.datasets.push(backlightSet);

		var max = -999;
		humidityData.history.forEach(function (val) {
			if (val > max) {
				max = val;
			}
		});

		chartOption.scaleOverride = false;
		chartOption.scaleBeginAtZero = true;

		var ctx = document.getElementById("backlightChart").getContext("2d");
		var backlightChart = new Chart(ctx).Line(chartData, chartOption);
		backlightChart.update();

		var legend = backlightChart.generateLegend();
		$('#backlightLegend').append(legend);
	}

	function startHumidChart() {
		getHumidityHistory(start, end, function (humidMsg) {
			console.log(humidMsg);
			totalHistorySize = humidMsg.queueSize;
			totalPage = parseInt(totalHistorySize / defaultHistorySize) + 1;
			drawPager();
			drawHumidityChart(humidMsg);
		});
	}

	function drawPager() {
		var maxPage = Math.ceil(totalHistorySize / defaultHistorySize);

		function addNav(page, label) {
			if (page > maxPage) {
				page = maxPage;
			}
			if (page < 1) {
				page = 1;
			}
			var html = "<li><a href='humid?page=" + page + "'><span aria-hidden=true>" + label + "</span></a></li>";
			$('#pager').append(html);
		}

		var prevSet = chartPage + pageSet;
		var prevOne = chartPage + 1;

		addNav(prevSet, getLanguageText(languageTable, "Prev.") + pageSet);
		if (pageSet > 5) {
			addNav(prevOne, "&laquo;");
		}

		var startSet = (Math.ceil(chartPage / pageSet) - 1) * pageSet + 1;
		var endSet = startSet + pageSet - 1;
		if (endSet > maxPage) {
			console.log('bigger::' + maxPage);
			endSet = maxPage;
		}

		for (var i = endSet; i >= startSet; --i) {
			html = '<li ';
			if (i == chartPage) {
				html += 'class=active';
			}
			html += '><a href="humid?page=' + i + '">' + i;

			html += '</a></li>';

			$('#pager').append(html);
		}

		var nextSet = chartPage - pageSet;
		var nextOne = chartPage - 1;
		if (pageSet > 5) {
			addNav(nextOne, "&raquo;");
		}
		addNav(nextSet, getLanguageText(languageTable, "Next") + pageSet);
	}
</script>
