<script>
var languageTable = {};
</script>

<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/remocon.js"></script>

<style>
.img-button-num {
    background-image: url("../images/2017UX/pin_code_normal.png");
    background-position: 30px 0px;
    background-repeat: no-repeat;
    width: 120px;
    height: 60px;
    border: 0px;
    background-color: transparent;
    color: #b5b5b5;
    font-size: 18pt;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    left: 50%;
}

.img-button-num:active {
    width: 120px;
    background-image: url("../images/2017UX/pin_code_pressed.png");
    margin: 10px 0px 0px 0px;
}

</style>

<div class="row">
    <div class="col-lg-12">
        <!-- Basic Status Here -->
        <div class="row no-margin">
			<div class='col-mo-12'>
				<div class='btn-group' role='group'>
					<button type='button' class='btn btn-default size' value="1" title="Small"><i class="fa fa-search-minus"></i></button>
					<button type='button' class='btn btn-default size' value="2" id="middle" title="Default"><i class="fa fa-search"></i></button>
					<button type='button' class='btn btn-default size' value="3" title="Large"><i class="fa fa-search-plus"></i></button>
				</div>
				&nbsp;&nbsp;<span id="playStatus"></span>
			</div>

            <div class="col-mo-12 col-xs-12 gap-10">
				<div id='scr-wrap'>
					<img id=scr>
				</div>
				<span id="screenshotStatus"></span>
			</div>
			<div class="col-mo-6 col-xs-12 gap-10">
				<div class="card big grey summary-inline"  style="height:300px;width:470px;">
					<div class="card-body">
						<div class="content">
							<div class="panel-4way">
								<img id="p_1" src="/images/remote_p_1.png" style="z-index:5; position:absolute; top: 23px; left: 61px; visibility:hidden;">
								<img id="p_2" src="/images/remote_p_2.png" style="z-index:5; position:absolute; top: 54px; left: 169px; visibility:hidden;">
								<img id="p_3" src="/images/remote_p_3.png" style="z-index:5; position:absolute; top: 160px; left: 61px; visibility:hidden;">
								<img id="p_4" src="/images/remote_p_4.png" style="z-index:5; position:absolute; top: 54px; left: 30px; visibility:hidden;">
								<img id="p_5" src="/images/remote_p_ok.png" style="z-index:5; position:absolute; top: 85px; left: 92px; visibility:hidden;">
								<img src="/images/remote_bg.png" usemap="#map_remote" style="position:absolute;" alt="" />
								<map name="map_remote">
									<area class='4way-imagemap' shape="poly" coords="36,30,79,72,107,61,137,74,180,29,153,10,108,1,70,10" href="#" onmousedown="showRemote(1)">
									<area class='4way-imagemap' shape="poly" coords="143,80,185,37,203,62,215,107,204,152,186,180,143,137,153,111" href="#" onmousedown="showRemote(2)">
									<area class='4way-imagemap' shape="poly" coords="138,143,181,186,155,204,109,214,66,206,35,187,80,143,105,153" href="#"onmousedown="showRemote(3)">
									<area class='4way-imagemap' shape="poly" coords="29,36,73,78,63,106,72,137,31,180,11,153,2,111,11,65" href="#" onmousedown="showRemote(4)">
									<area class='4way-imagemap' shape="circle" coords="109,109,35" href="#" onmousedown="showRemote(5)">
								</map>
							</div>
							<div class="panel-hotkey">
								<button id="apply" class="img-button hotkey remo" value="menu">Setting</button>
								<button id="apply" class="img-button hotkey remo" value="home">Home</button>
								<button id="apply" class="img-button hotkey remo" value="exit">Exit</button>
								<button id="apply" class="img-button hotkey remo" value="back">Back</button>
                                <button id="apply" class="img-button hotkey remo" value="adj">Adjust</button>
                                <button id="apply" class="img-button hotkey remo" value="instart">In-Start</button>
							</div>
						</div>
					</div>
				</div>
                <div class="card big grey summary-inline"  style="height:300px;width:470px;">
                    <div class="num-hotkey">
                       <table>
                       <tr>
                            <td>
                                <button id="apply" class="img-button-num remo" value="1">1</button>
                            </td>
                            <td>
                                <button id="apply" class="img-button-num remo" value="2">2</button>
                            </td>
                            <td>
                                <button id="apply" class="img-button-num remo" value="3">3</button>
                            </td>
                       </tr>
                       <tr>
                            <td>
                                <button id="apply" class="img-button-num remo" value="4">4</button>
                            </td>
                            <td>
                                <button id="apply" class="img-button-num remo" value="5">5</button>
                            </td>
                            <td>
                                <button id="apply" class="img-button-num remo" value="6">6</button>
                            </td>
                       </tr>
                       <tr>
                            <td>
                                <button id="apply" class="img-button-num remo" value="7">7</button>
                            </td>
                            <td>
                                <button id="apply" class="img-button-num remo" value="8">8</button>
                            </td>
                            <td>
                                <button id="apply" class="img-button-num remo" value="9">9</button>
                            </td>
                       </tr>
                       <tr>
                            <td>
                            </td>
                            <td>
                                <button id="apply" class="img-button-num remo" value="0">0</button>
                            </td>
                            <td>
                            </td>
                       </tr>
                    </table>
                    </div>
                </div>
			</div>
		</div>
    </div>
    <div class="col-lg-12">
    </div>
</div>

<!-- /.col-lg-12 -->
<!-- /.row -->
<script>
	var env = {{{json env}}};
	$('#pageTitle').html('Virtual Controller');
    
    $('.factory').click(function() {
		var code = $(this).attr('id');

		if (code.length > 1 && !confirm('Are you sure to send ' + code + ' code?')) {
			return;
		}

		sendRemocon(code);
	});
</script>
