<style>
    .menu a {cursor:pointer;}
    .menu .hide {display:none;}

    input[type=range][class|="custom"] {
        -webkit-appearance: none;
        border: 1px solid white;
        width: 100%;
        margin-top: 8px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: darkgray;
    }
</style>

<script>
var languageTable = {{{json languageTable}}};
</script>
<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			LED FPGA API test page
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style='width: 800px;'>
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/ledSignage/language'>Go to System Controller Settings</a>
            </div>

            <div class="panel-body" id="fanDiv">
                <h4>DuplexeInfo</h4>
                <table class=table>
                    <tr>
                        <th>isDuplexAlive</th>
                        <td id='isDuplexAlive'></td>
                    </tr>
                    <tr>
                        <th>isMaster</th>
                        <td id='isMaster'></td>
                    </tr>
                </table>
                <br>

				<h4>Layout</h4>
				<table class=table>
					<tr>
						<th>Load Layout From H/W</th>
                        <td></td>
						<td><button id='btnLoadLayout'>LOAD</button></td>
					</tr>
                    <tr>
						<th>Set Gain Load</th>
                        <td></td>
						<td><button id='btnSetGainLoad'>LOAD</button></td>
                    </tr>
					<tr>
						<th>Get Overall Layout</th>
                        <td></td>
						<td><button id='btnGetLayout'>GET</button> <button id='btnShowHideLayout'>Show/Hide</button>
					<tr>
						<th>Set Position</th>
                        <td>ID: <input type=text id=positionID value='1-1-1-1-1'> Pos: <input type=number id=positionNum value=1 min=1 max=255></td>
						<td><button id=btnPosSet>SET</button> <button id=btnPosSave>SAVE</button></td>
					</tr>
                    <tr>
						<th>Save Layout</th>
                        <td></td>
						<td><button id='btnSaveLayout'>SAVE LAYOUT</button></td>
                    </tr>
                    <tr>
                        <th><font color="red">One Shot Layout</font></th>
                        <td></td>
                        <td><button id='btnOneShotLayout'>One Shot LAYOUT</button></td>
                    </tr>
				</table>
                <div id=layoutDiv class=col-md-9 style='display: none; overflow:auto; height:600px;'>
                </div>
                <div id=layoutDivDescript class=col-md-3 style='display: none; overflow:auto; height:600px;'>
                    
                   <h4> SysCtrl </h4>
                   <table class=table border=2>
                        <tr>
                            <td>thermalVal</td>
                            <td id='sysCtrlThermalVal'></td>
                        </tr>
                        <tr>
                            <td>thermalStat</td>
                            <td id='sysCtrlThermalStat'></td>
                        </tr>
                        <tr>
                            <td>signal</td>
                            <td id='sysCtrlSignal'></td>
                        </tr>
                        <tr>
                            <td>fan </td>
                            <td id='sysCtrlFan'></td>
                        </tr>
                     </table>

                    <h4> LedCtrl </h4>
                    <table class=table border=2>
                        <tr>
                            <td>thermalVal</td>
                            <td id='ledCtrlThermalVal'></td>
                        </tr>
                        <tr>
                            <td>thermalStat</td>
                            <td id='ledCtrlThermalStat'></td>
                        </tr>
                        <tr>
                            <td>signal1</td>
                            <td id='ledCtrlSignal1'></td>
                        </tr>
                        <tr>
                            <td>signal2</td>
                            <td id='ledCtrlSignal2'></td>
                        </tr>
                        <tr>
                            <td>ledPower</td>
                            <td id='ledCtrlPower'></td>
                        </tr>
                    </table>
                    
                    <h4> LDM </h4>
                    <table class=table border=2>
                        <tr>
                            <td>thermalVal</td>
                            <td id='ldmThermalVal'></td>
                        </tr>
                        <tr>
                            <td>thermalStat</td>
                            <td id='ldmThermalStat'></td>
                        </tr>
                    </table>
                </div>

                <br>
                <h4>Low Latency Mode</h4>
                <table class='table'>
                    <tr>
                        <th>Low Latency Status</th>
                        <td id='lowLatencyStatus'></td>
                        <td>
                            <button id='btnGetLowLatency'>Get Low Latency Status</button>
                        </td>
                    </tr>
                    <tr>
                        <th>LowLatency Mode On/Off</th>
                        <td>
                        <button id='btnSetLowLatencyOff'>LowLatency OFF</button><button id='btnSetLowLatencyOn'>LowLatency ON</button>
                        </td>
                    </tr>
                </table>

                <br>
                <h4>DBC Status</h4>
                <h4><font color="blue"> If you have changed the DBC settings, be sure to set On / Off.<br/>
                Normally applied after Set On / Off. </font><h4>

                <table class='table'>
                    <tr>
                        <th>DBC Status</th>
                        <td id='dbcStatus'></td>
                        <td>
                            <button id='btnisDbcStatus'>DBC Value ReLoad</button>
                        </td>
                    </tr>
                    <tr>
                        <th>DBC ON/OFF</th>
                        <td>
                        <button id='btnDbcOff'>DBC OFF</button><button id='btnDbcOn'>DBC ON</button>
                        </td>
                    </tr>
                </table>

                <br>
                <h4>Pitch</h4>
                <table class='table'>
                    <tr>
                        <th>Pitch Set</th>
                        <td>
                            <select id="setPitch">
                                <option value="1.5">1.5</option>
                                <option value="2.0">2.0</option>
                                <option value="2.5">2.5</option>
                                <option value="3.0">3.0</option>
                                <option value="4.0">4.0</option>
                            </select> 
                        </td>
                    </tr>
                </table>

                <br>
                <h4>Led Light</h4>
                <table class='table'>
					<tr> 
						<th> LedLight Mode </th>
					    <td>
							<input type="checkbox" id="ledModeOn" class=grey>
							<label for="ledModeOn">&nbsp;</label>
						</td>
					</tr>

                    <tr>
                        <th> LedLight Max </th>
                        <td>
							<input class="custom" id=ledLightMax type=range min=0 max=100 value=0>
						</td>
						<td>
							&nbsp;&nbsp;<span id=ledLightMaxVal style="display:inline-block; width:33px;"></span>
						</td>
                    </tr>
                    <tr>
                        <th> LedLight </th>
                        <td>
                            <input class="custom" id=ledLight type=range min=0 max=100 value=0> 
                        </td>
                        <td>
                            &nbsp;&nbsp;<span id=ledLightVal style="display:inline-block; width:33px;"></span>
                        </td>
                    </tr>
                </table>

                <h4>Fpga Update</h4>
                <table class='table'>
                    <tr>
                        <th>USB Info Load</th>
                        <td></td>
                        <td>
                            <button id=btnGetUsbInfoLdf>Get</button><button id=btnShowHideUsbInfoLdf>Show/Hide</button><button id=btnUsbUpdateLdf>Update</button> 
                        </td>
                    </tr>
                </table>
                <div id=layoutUsbInfoLdfDiv class=col-md-12 style='display: none; overflow:auto; height:400px;'>
                </div>

                <h4>Fpga Version</h4>
                <table class='table'>
                    <tr>
                        <th>FpgaVersion</th>
                        <td></td>
                        <td>
                            <button id=btnGetFpgaVersion>Get</button><button id=btnShowHideFpgaVersion>Show/Hide</button> 
                        </td>
                    </tr>
                </table>
                <div id=layoutFpgaDiv class=col-md-12 style='display: none; overflow:auto; height:400px;'>
                </div>

                <br>
                <h4>Psu Info</h4>
                <table class='table'>
                    <tr>
                        <th>PsuVersion</th>
                        <td></td>
                        <td>
                            <button id=btnGetPsuVersion>Get</button><button id=btnShowHidePsuVersion>Show/Hide</button>
                        </td>
					<tr id="trPsuVersionDiv" style="display:none;">
						<td colspan=3>
							<div id=layoutPsuVersionDiv class=col-md-12 style='overflow:auto; height:200px;'>
							</div>
						</td>
                    </tr>
                    <tr>
                        <th>PsuList</th>
                        <td></td>
                        <td>
                            <button id=btnGetPsuList>Get</button><button id=btnShowHidePsuList>Show/Hide</button>
                        </td>
                    </tr>
					<tr id="trPsuListDiv" style="display:none;">
						<td colspan=3>
							<div id=layoutPsuListDiv class=col-md-12 style='overflow:auto; height:200px;'>
							</div>
						</td>
					</tr>
                    <tr>
                        <th>PsuError</th>
                        <td></td>
                        <td>
                            <button id=btnGetPsuError>Get</button><button id=btnShowHidePsuError>Show/Hide</button>
                        </td>
                    </tr>
					<tr id="trPsuErrorDiv" style="display:none;">
						<td colspan=3>
							<div id=layoutPsuErrorDiv class=col-md-12 style='overflow:auto; height:200px;'>
							</div>
						</td>
					</tr>
                    <tr>
                        <th>Set PsuOutput</th>
                        <td></td>
                        <td>
                            <button id=btnPsuOutputOn>ON</button><button id=btnPsuOutputOff>OFF</button>
                        </td>
                    </tr>
                </table>

                <br>
				<br>
				<h4>Pattern</h4>
				<table class='table'>
                    <tr>
                        <th>Test Pattern</th>
                        <td>
                            R: <input type=number min=0 max=255 id=patternR value=255>
                            G: <input type=number min=0 max=255 id=patternG value=255>
                            B: <input type=number min=0 max=255 id=patternB value=255>
                            <button id=btnPatternOn>ON</button> <button id=btnPatternOff>OFF</button>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            SysPort Pattern
                        </th>
                        <td>
                            <button id=btnSysPortPatternOn>ON</button> <button id=btnSysPortPatternOff>OFF</button>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            LedCtrl Pattern
                        </th>
                        <td>
                            <button id=btnLedControllerPatternOn>ON</button> <button id=btnLedControllerPatternOff>OFF</button>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            LedPort Pattern
                        </th>
                        <td>
                            <button id=btnLedControllerPortPatternOn>ON</button> <button id=btnLedControllerPortPatternOff>OFF</button>
                        </td>
                    </tr>
				</table>
                <br>
   				<br>
				<h4>Video Scaler</h4>
				<table class='table'>
                    <tr>
                        <th>ON</th>
                        <td><input type=checkbox id='scalerOn'></td>
                    </tr>
                    <tr>
                        <th>Reference Resolution</th>
                        <td><input type=number min=0 max=4096 id=scalerResolW> x <input type=number min=0 max=2160 id=scalerResolH></td>
                    </tr>
                    <tr>
                        <th>Custom Resolution</th>
                        <td><input type=checkbox id='scalerCustom'> @ <input type=number min=0 max=4096 id=scalerCustomW> x <input type=number min=0 max=2160 id=scalerCustomH></td>
                    </tr>
                    <tr>
                        <th>Input Window</th>
                        <td>Location <input type=number min=0 max=4096 id=scalerInputX> x <input type=number min=0 max=2160 id=scalerInputY></td>
                        <td>Size <input type=number min=0 max=4096 id=scalerInputW> x <input type=number min=0 max=2160 id=scalerInputH></td>
                    </tr>
                    <tr>
                        <th>Output Window</th>
                        <td>Location <input type=number min=0 max=3840 id=scalerOutputX> x <input type=number min=0 max=2160 id=scalerOutputY></td>
                        <td>Size <input type=number min=0 max=3840 id=scalerOutputW> x <input type=number min=0 max=2160 id=scalerOutputH></td>
                    </tr>

				</table>
                <button id=scalerApply>APPLY</button>
                <br/>
                <br/>
				<br/>

                <h4>Config</h4>
				<table class='table'>
					<tr>
						<th>Serial Baudrate</th>
						<td colspan=2>
							<select id=baudrate>
								<option>9600</option>
								<option>115200</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Hide OSD</th>
						<td colspan=2>
							<input type=checkbox id=hideOsd>
						</td>
					</tr>
					<tr>
						<th>OSD Lock</th>
						<td colspan=2>
							<input type=checkbox id=osdLock>
						</td>
					</tr>
                    <tr>
                        <th>Turn on Calibration Server</th>
                        <td colspan=2>
                            <button id=btnCalServerOn>ON</button> <button id=btnCalServerOff>OFF</button>
                        </td>
                    </tr>
				</table>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>
var sysCtrlId = '1';

var overallLayout = {};
var fpgaVersion = {};
var psuVersion = {};
var psuList = {};
var psuError = {};
var usbInfoPath = '';
var selectedLdfFile = '';

var treeCommand="";
var fpgaCommand="";
var psuVersionCommand="";
var psuListCommand="";
var psuErrorCommand="";
var usbInfoLdfCommand="";

function getLowLatencyStatus() {
    getLowLatencyMode( function(ret) {
        if (!ret.returnValue) {
            $('#lowLatencyStatus').html('Not Support');
        } else if (ret.result.lowLatency) {
            $('#lowLatencyStatus').html('LowLatency Mode ON');
        } else {
            $('#lowLatencyStatus').html('LowLatency Mode OFF');
        }
    });
}

function dbcStatusLoad() {
    isDbcOff( function(ret) {
        if (ret) {
            $('#dbcStatus').html('<font color="red" size="5px">DBC OFF</font>');
        } else {
            $('#dbcStatus').html('<font color="red" size="5px">DBC ON</font>');
        }
    });
}

function initDbcFunction() {
    dbcStatusLoad();

    $('#btnisDbcStatus').click(function() {
        dbcStatusLoad();
    });

    $('#btnDbcOff').click(function() {
        var passwd = prompt("Enter the Account Number");
        overlayControl(true, '......');
        checkAccountFunc( passwd, 'dbc', true, function(ret) {
            overlayControl(false);
            if (ret) {
                alert("DBC OFF Success. Please reboot System Ctrl to DBC off");
                dbcStatusLoad();
            } else {
                alert("Please check your account.");
            }
        });
    });

    $('#btnDbcOn').click(function() {
        var passwd = prompt("Enter the Account Number");
        overlayControl(true, '......');
        checkAccountFunc( passwd, 'dbc', false, function(ret) {
            overlayControl(false);
            if (ret) {
                alert("DBC On Success. Please reboot System Ctrl to DBC off");
                dbcStatusLoad();
            } else {
                alert("Please check your account or Already DBC ON");
            }
        });
    });
}

function printPsuError(items) {

    psuErrorCommand = psuErrorCommand + "<h4>PsuError  |  (id : " + items.id + ")</h4>";
    psuErrorCommand = psuErrorCommand + "<table class='table' border=2 style=\"text-align:center;\">";
    psuErrorCommand = psuErrorCommand + "<tr><th> id </th><th> ip </th><th> port </th><th> thermalVal </th><th> thermalStat </th><th> power </th><th> powerArr </th><th> fanArr </th></tr>"; 

    for( var psuError in items.infoArr) {

        var psuErrorValue = items.infoArr[psuError];

        psuErrorCommand = psuErrorCommand + "<tr><td>" + psuErrorValue.id + "</td>";
        psuErrorCommand = psuErrorCommand + "<td>" + psuErrorValue.ip + "</td>";
        psuErrorCommand = psuErrorCommand + "<td>" + psuErrorValue.port + "</td>";
        psuErrorCommand = psuErrorCommand + "<td>" + psuErrorValue.thermalVal + "</td>";
        psuErrorCommand = psuErrorCommand + "<td>" + psuErrorValue.thermalStat + "</td>";
        psuErrorCommand = psuErrorCommand + "<td>" + psuErrorValue.power + "</td>";
        
        var powerArr = psuErrorValue.powerArr;
        psuErrorCommand = psuErrorCommand + "<td><table class='table' border=1><tr>";
        for( var powerArrVal in powerArr) {
            psuErrorCommand = psuErrorCommand + "<td>" + powerArr[powerArrVal] + "</td>";        
        }
        psuErrorCommand = psuErrorCommand + "</tr></table></td>";
    
        var fanArr = psuErrorValue.fanArr;
        psuErrorCommand = psuErrorCommand + "<td><table class='table' border=1><tr>";
        for( var fanArrVal in fanArr) {
            psuErrorCommand = psuErrorCommand + "<td>" + fanArr[fanArrVal] + "</td>";        
        }
        psuErrorCommand = psuErrorCommand + "</tr></table></td></tr>";
    }
    psuListCommand = psuListCommand + "</table>";
}

function printPsuList(items) {

    psuListCommand = psuListCommand + "<h4>PsuList  |  (psuMax : " + items.psuMax + ")  ";
    psuListCommand = psuListCommand + "(psuMin : " + items.psuMin + ")</h4>";

    psuListCommand = psuListCommand + "<table class='table' border=2>";
    psuListCommand = psuListCommand + "<tr><th> id </th><th> ip </th><th> ipv6 </th><th> mac </th><th> port </th><th> type </th></tr>"; 

    for( var psuList in items.psuList ) {

        var psuListValue = items.psuList[psuList];

        psuListCommand = psuListCommand + "<tr><td>" + psuListValue.id + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.ip + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.ipv6 + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.mac + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.port + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.type + "</td>";
    }
    psuListCommand = psuListCommand + "</table>";
}

function printUsbInfo(type, usbInfo) {

    var usbInfoCommand="";
    usbInfoCommand = usbInfoCommand + "<h4>Usb Info (*." + type + ")</h4>";
    usbInfoCommand = usbInfoCommand + "<table class='table' border=2 id='tableUsb'>";
    usbInfoCommand = usbInfoCommand + "<tr><th> Select </th><th> File Name </th></tr>";

    for( var file in usbInfo ) {

        var fileName = usbInfo[file];
        usbInfoCommand = usbInfoCommand + "<tr><td>" + "<input type=radio name=selectedLdf value=''></input>" + "</td>";
        usbInfoCommand = usbInfoCommand + "<td>" + fileName + "</td>";
    }
    usbInfoCommand = usbInfoCommand + "</table>";
    
    if (type == 'ldf') {
        usbInfoLdfCommand = usbInfoCommand;
    }
}

function printPsuVersion(items) {

    psuVersionCommand = psuVersionCommand + "<h4>PsuVersion</h4>";
    psuVersionCommand = psuVersionCommand + "<table class='table' border=2>";
    psuVersionCommand = psuVersionCommand + "<tr><th> id </th><th> cpu </th><th> micom </th></tr>";

    for( var psuVersion in items.infoArr ) {

        var psuVersionValue = items.infoArr[psuVersion];

        psuVersionCommand = psuVersionCommand + "<tr><td>" + psuVersionValue.id + "</td>";
        psuVersionCommand = psuVersionCommand + "<td>" + psuVersionValue.cpu + "</td>";
        psuVersionCommand = psuVersionCommand + "<td>" + psuVersionValue.micom + "</td></tr>";
    }
    psuVersionCommand = psuVersionCommand + "</table>";
}

function printFpgaVersion(items) {

    fpgaCommand = fpgaCommand + "<h4>Led Controller Version</h4>"
    fpgaCommand = fpgaCommand + "<table class='table' border=2>";
    fpgaCommand = fpgaCommand + "<tr><th> index </th><th> id </th><th> version </th></tr>";

    for( var ledVersion in items.ledVersion ) {

        var ledVersionValue = items.ledVersion[ledVersion];

        fpgaCommand = fpgaCommand + "<tr><td>" + ledVersion + "</td>";
        fpgaCommand = fpgaCommand + "<td>" + ledVersionValue.id + "</td>";
        fpgaCommand = fpgaCommand + "<td>" + ledVersionValue.version + "</td></tr>";
    }

    fpgaCommand = fpgaCommand + "</table>";
    fpgaCommand = fpgaCommand + "<br><h4>System Controller Version</h4>";
    fpgaCommand = fpgaCommand + "<table class='table'>";
    fpgaCommand = fpgaCommand + "<tr><th> index </th><th> id </th><th> version </th></tr>";

    for( var sysVersion in items.sysVersion ) {

        var sysVersionValue = items.sysVersion[sysVersion];

        fpgaCommand = fpgaCommand + "<tr><td>" + sysVersion + "</td>";
        fpgaCommand = fpgaCommand + "<td>" + sysVersionValue.id + "</td>";
        fpgaCommand = fpgaCommand + "<td>" + sysVersionValue.version + "</td></tr>";
    }
    fpgaCommand = fpgaCommand + "</table>";
}

function printOverallLayout(items, indent, check) {
    var type = ['sysCtrl', 'sysPort', 'ledCtrl', 'ledPort', 'ldm'];
    var childName = ['sysPorts', 'ledCtrls', 'ledPorts', 'ldms'];

    if (items.id) {

        content = type[indent] + ' ' + items.id + ' (' + items.position + ')' ;
        treeCommand = treeCommand + "<li class=\"menu\">";
        treeCommand = treeCommand + "<a>" + content;

        if(check) {
             treeCommand = treeCommand + " [+]";
        }
        
        treeCommand = treeCommand +  "</a><ul class=\"hide\" type=\"circle\"> ";
        
        var child = items[childName[indent]];
        
        for (var item in child) {

			var length=0;
            var childinfo = child[item];

			if(typeof childinfo[childName[indent+1]] != "undefined") { 
				length = Object.keys(childinfo[childName[indent+1]]).length;
			}
			if(length == 0) { 
				check = false; 
			}
			else { 
				check = true; 
			}
            printOverallLayout(child[item], indent + 1, check);           
        }
        treeCommand = treeCommand + "</ul></li>";
    }
}

function changeLdm(thermalVal, thermalStat) {
    $('#ldmThermalVal').text(thermalVal);
    $('#ldmThermalStat').text(thermalStat);
}

function changeLedCtrl(thermalVal, thermalStat, ledPower, signal1, signal2) {
    $('#ledCtrlThermalVal').text(thermalVal);
    $('#ledCtrlThermalStat').text(thermalStat);
    $('#ledCtrlPower').text(ledPower);
    $('#ledCtrlSignal1').text(signal1);
    $('#ledCtrlSignal2').text(signal2);
}

function changeSysCtrl(thermalVal, thermalStat, signal, fan) {
    $('#sysCtrlThermalVal').text(thermalVal);
    $('#sysCtrlThermalStat').text(thermalStat);
    $('#sysCtrlSignal').text(signal);
    $('#sysCtrlFan').text(fan);
}

function changeGetDuplexInfo(isDuplexAlive, isMaster) {
    $('#isDuplexAlive').text(isDuplexAlive);
    $('#isMaster').text(isMaster);
}

function changeGetPitchInfo(pitch) {
    $('#setPitch').val(pitch.toFixed(1));
}

$(document).ready(function(){
    var env = {{{json env}}};
    $('#pageTitle').html('LED FPGA API TEST');

    getSystemSettings('commercial', ['ledLight','ledLightMax','ledLightMode'], function(ret) {
        ledLight.value = ret.ledLight;
        $('#ledLightVal').html(ret.ledLight);
		ledLight.max = ret.ledLightMax;
        ledLightMax.value = ret.ledLightMax;
        $('#ledLightMaxVal').html(ret.ledLightMax);
		$('#ledModeOn').prop('checked', ret.ledLightMode);
    });

    if (!env.supportCinemaModel) {
        getSysCtrlId(function(ret) {
            console.log(ret);
            sysCtrlId = ret.result.id;

            getDuplexInfo(ret.result.id, function(ret) {
                changeGetDuplexInfo(ret.result.isDuplexAlive, ret.result.isMaster);
            });

            getPitchInfo(ret.result.id, function(ret) {
                changeGetPitchInfo(ret.result.pitch/10);
            });
        });
    }

    getSystemProperties(['serialBaudRate'], function(msg) {
		var baudrate = msg.serialBaudRate;
		$('#baudrate').val(baudrate);
		console.log(baudrate);
	});

    initDbcFunction();
    getLowLatencyStatus();

	$('#baudrate').change(function() {
		var baudrate = $(this).val();
		setSystemProperties({
			serialBaudRate: baudrate
		});
	});

	getSystemSettings('hotelMode', ['enableOsdVisibility'], function(ret) {
		$('#osdLock').attr('checked', ret.enableOsdVisibility === 'off');
	});

	getSystemSettings('commercial', ['hideOsd', 'ledResolutionWindow'], function(msg) {
		console.log("hide" + msg.hideOsd);
        $('#hideOsd').attr('checked', msg.hideOsd === 'on');
        var videoScaler = msg.ledResolutionWindow;

        console.log(videoScaler);

        $('#scalerOn').prop('checked', videoScaler.on);
        $('#scalerCustom').prop('checked', videoScaler.custom);

        $('#scalerResolW').val(videoScaler.reference.w);
        $('#scalerResolH').val(videoScaler.reference.h);
        $('#scalerCustomW').val(videoScaler.referenceOriginal.w);
        $('#scalerCustomH').val(videoScaler.referenceOriginal.h);

        $('#scalerInputX').val(videoScaler.input.x);
        $('#scalerInputY').val(videoScaler.input.y);
        $('#scalerInputW').val(videoScaler.input.w);
        $('#scalerInputH').val(videoScaler.input.h);

        $('#scalerOutputX').val(videoScaler.output.x);
        $('#scalerOutputY').val(videoScaler.output.y);
        $('#scalerOutputW').val(videoScaler.output.w);
        $('#scalerOutputH').val(videoScaler.output.h);
	});

    $('#scalerApply').click(function() {
        overlayControl(true, '......');
        var videoScaler = {
            on: $('#scalerOn').prop('checked'),
            custom: $('#scalerCustom').prop('checked'),
            reference: {
                w: Number($('#scalerResolW').val()),
                h: Number($('#scalerResolH').val())
            },
            referenceOriginal: {
                w: Number($('#scalerCustomW').val()),
                h: Number($('#scalerCustomH').val())
            },
            input: {
                x: Number($('#scalerInputX').val()),
                y: Number($('#scalerInputY').val()),
                w: Number($('#scalerInputW').val()),
                h: Number($('#scalerInputH').val())
            },
            output: {
                x: Number($('#scalerOutputX').val()),
                y: Number($('#scalerOutputY').val()),
                w: Number($('#scalerOutputW').val()),
                h: Number($('#scalerOutputH').val())
            }
        };

        console.log(videoScaler);

		setSystemSettings('commercial', {
            ledResolutionWindow: videoScaler
        }, function(ret) {
            console.log(ret)
            overlayControl(false);
        });
    });

	$('#hideOsd').change(function() {
        var checked = $(this).prop('checked');
        console.log(checked);
        setSystemSettings('commercial', {
			hideOsd: checked ? 'on' : 'off'
		});
	});

	$('#osdLock').change(function() {
		var checked = $(this).prop('checked');
		setSystemSettings('hotelMode', {
			enableOsdVisibility: checked ? 'off' : 'on'
		});
	});

    $('#btnLoadLayout').click(function() {
        overlayControl(true, '......');
        loadLayoutFromHW(function(ret) {
            overlayControl(false);
        });
    });

	$('#btnSetGainLoad').click(function() {
        overlayControl(true, 'Set Gain Load In Progress');
	    $('#overlay_progress').html("0%");
        setGainLoad(sysCtrlId, function(ret) {
		    if (ret.returnValue) {
                getGainLoadProgressSubscribe( function(ret) {
                });
            } else {
                alert("Gain Load Fail!!\nError : " + "Gain Load Luna Fail");
                overlayControl(false);
            }
        });
	});

    $('#btnOneShotLayout').click(function() {
        overlayControl(true, 'Load Layout From HW');
        loadLayoutFromHW( function(ret) {
            saveLayout('1', function(ret) {
                overlayControl(false);
                overlayControl(true, 'Set Gain Load In Progress');
                $('#overlay_progress').html("0%");
                setGainLoad(sysCtrlId, function(ret) {
                    if (ret.returnValue) {
                        getGainLoadProgressSubscribe( function(ret) {
                        });
                    } else {
                        alert("Gain Load Fail!!\nError : " + "Gain Load Luna Fail");
                        overlayControl(false);
                    }
                });
            });
        });
    });

    $('#btnGetUsbInfoLdf').click(function() {
		overlayControl(true, '......');
		getListDevice( 'ldf', function(ret) {
            usbInfoPath = ret.usbPath;
            usbInfoLdfCommand = '';
            printUsbInfo('ldf', ret.targetArray);
            $('#layoutUsbInfoLdfDiv').html(usbInfoLdfCommand);
            $('#layoutUsbInfoLdfDiv').show();
            overlayControl(false);
		});
    });

    $('#btnShowHideUsbInfoLdf').click(function() {
        $('#layoutUsbInfoLdfDiv').toggle();
    });

    socket.on('gainLoadProgressSub', function(ret) {
        console.log(ret);
        $('#overlay_progress').html(ret.progress + "%");
        if (ret.description == 'done') {
            alert("Set Gain Load Success");
            overlayControl(false);
        } else if (ret.status == 'NG') {
            alert("Gain Load Fail!!\nError : " + ret.description);
            overlayControl(false);
        }
    });

    socket.on('fpgaUpdateProgress', function(ret) {
        $('#overlay_progress').html(ret.progress + "%");
        if (ret.status == 'done') {
            alert("Update Success");
            overlayControl(false);
        } else if (ret.status == 'error') {
            alert("Update Fail\nError Code : " + ret.errorCode);
            overlayControl(false);
        }
    });

    fpgaUpdateChk( function(ret) {
        console.log(ret);  
        if (ret.fpgaUpdateChk == "in progress") {
            overlayControl(true, "Updating" + "\n" + ret.fpgaFileName);
            $('#overlay_progress').html(ret.fpgaUpdateProgress + "%");
        }
    });

    $('#btnUsbUpdateLdf').click(function() {
        var ldfFile = $('input[name="selectedLdf"]:checked');
        var filePath = usbInfoPath + '/' + ldfFile.parent().parent().children().eq(1).text(); 

        if (filePath != usbInfoPath + '/') {
            selectedLdfFile = filePath;
            overlayControl(true, "Updating" + "\n" + selectedLdfFile);
            getFpgaUpdateProgress( function(ret) {
            });

            spiFpgaUpdate(filePath, function(ret) {
            });
        } else {
            alert("ldf File Not Selected");
        }
    });

    $('#btnGetFpgaVersion').click(function() {
		overlayControl(true, '......');
		getFpgaVersion( function(ret) {
			fpgaVersion = ret.result;
			fpgaCommand = '';
			printFpgaVersion(fpgaVersion);
			$('#layoutFpgaDiv').html(fpgaCommand);
			$('#layoutFpgaDiv').show();
			overlayControl(false);
		});
    });

    $('#btnShowHideFpgaVersion').click(function() {
        $('#layoutFpgaDiv').toggle();
    });

    $('#btnGetPsuVersion').click(function() {
		overlayControl(true, '......');
		getPsuVersion(sysCtrlId, function(ret) {
			psuVersion = ret.result;
			psuVersionCommand = '';
			printPsuVersion(psuVersion);
			$('#layoutPsuVersionDiv').html(psuVersionCommand);
			$("#trPsuVersionDiv").show();
			overlayControl(false);
		});
    });

    $('#btnShowHidePsuVersion').click(function() {
		$("#trPsuVersionDiv").toggle();
    });

    $('#btnGetPsuList').click(function() {
		overlayControl(true, '......');
        getPsuList( function(ret) {
			psuList = ret.result;
			psuListCommand = '';
			printPsuList(psuList);
			$('#layoutPsuListDiv').html(psuListCommand);
			$('#trPsuListDiv').show();
			overlayControl(false);
		});
    });

    $('#btnShowHidePsuList').click(function() {
        $('#trPsuListDiv').toggle();
    });

    $('#btnGetPsuError').click(function() {
		overlayControl(true, '......');
		getPsuError(sysCtrlId, function(ret) {
			psuError = ret.result;
			psuErrorCommand = '';
			printPsuError(psuError);
			$('#layoutPsuErrorDiv').html(psuErrorCommand);
			$('#trPsuErrorDiv').show();
			overlayControl(false);
		});
    });

    $('#btnShowHidePsuError').click(function() {
        $('#trPsuErrorDiv').toggle();
    });
	
	$('#btnGetLayout').click(function() {

		overlayControl(true, '......');
		getOverallLayout(function(ret) {
			overallLayout = ret.result;
			console.log(overallLayout);

			treeCommand = '';
			printOverallLayout(overallLayout, 0, true);
			$('#layoutDiv').html(treeCommand);
			$('#layoutDiv').show();
			$('#layoutDivDescript').show();
			$(".menu>a").click(function(){
            $(this).next("ul").toggleClass("hide");

            var splitText = $(this).text().split(" ");

            if( $(this).css("color") == "rgb(0, 0, 255)") {
				$(this).css("color","black");
                $(this).text($(this).text().replace('[-]','[+]'));
                
                if(splitText[0] == "sysCtrl") {
                    $('#sysCtrlThermalVal').hide();
                    $('#sysCtrlThermalStat').hide();
                    $('#sysCtrlSignal').hide();
                    $('#sysCtrlFan').hide();
                } 
                if(splitText[0] == "ledCtrl" || splitText[0] == "sysPort" || splitText[0] == "sysCtrl") {
                    $('#ledCtrlThermalVal').hide();
                    $('#ledCtrlThermalStat').hide();
                    $('#ledCtrlPower').hide();
                    $('#ledCtrlSignal1').hide();
                    $('#ledCtrlSignal2').hide();
                }
                $('#ldmThermalVal').hide();
                $('#ldmThermalStat').hide();
            }
			else{
				$(this).css("color","blue");
                $(this).text($(this).text().replace('[+]','[-]'));
            
                if(splitText[0] == "ldm") { 
                    getLdmRgbInfo(splitText[1], function(ret) {
                        console.log(ret);
                    });
                }

                if(splitText[0] == "sysCtrl") {
                    $('#sysCtrlThermalVal').show();
                    $('#sysCtrlThermalStat').show();
                    $('#sysCtrlSignal').show();
                    $('#sysCtrlFan').show();
                }
                if(splitText[0] == "ledCtrl" || splitText[0] == "sysPort" || splitText[0] == "sysCtrl") {
                    $('#ledCtrlThermalVal').show();
                    $('#ledCtrlThermalStat').show();
                    $('#ledCtrlPower').show();
                    $('#ledCtrlSignal1').show();
                    $('#ledCtrlSignal2').show();
                }
                $('#ldmThermalVal').show();
                $('#ldmThermalStat').show();
			}
           
            var splitText = $(this).text().split(" ");
            var changeId = splitText[1];

            if(splitText[0] == "ldm") {
                getLdmError(changeId, function(ret) {
                    changeLdm(ret.result.info["thermalVal"], ret.result.info["thermalStat"]);
                });
                changeId = changeId.substr(0, changeId.lastIndexOf("-"));
                changeId = changeId.substr(0, changeId.lastIndexOf("-"));
                splitText[0] = "ledCtrl";
            }

            if(splitText[0] == "ledCtrl") {
                getLedCtrlError(changeId, function(ret) {  
                   changeLedCtrl(ret.result.info["thermalVal"], ret.result.info["thermalStat"],
                       ret.result.info["ledPower"], ret.result.info["signal1"], ret.result.info["signal2"] );
                });
                changeId = changeId.substr(0, changeId.lastIndexOf("-"));
                changeId = changeId.substr(0, changeId.lastIndexOf("-"));
                splitText[0] = "sysCtrl";
            }
        
            if(splitText[0] == "sysCtrl") {
                getSysCtrlError(changeId, function(ret) {
                    changeSysCtrl(ret.result.info["thermalVal"], ret.result.info["thermalStat"],
                        ret.result.info["signal"], ret.result.info["fan"]);
				    });
				}            
			});
			overlayControl(false);
		});
	});

	$('#btnShowHideLayout').click(function() {
		$('#layoutDiv').toggle();
		$('#layoutDivDescript').toggle();
	});

    $('#btnSaveLayout').click(function() {
		overlayControl(true, '......');
        saveLayout('1', function(ret) {
            overlayControl(false);
        });
    });

	$('#btnPosSet').click(function() {
			overlayControl(true, '......');
			var id = $('#positionID').val();
			var pos = $('#positionNum').val();
			var idArr = id.split('-');

			console.log(idArr.length)

			switch (idArr.length) {
			case 2:
                setSysCtrlPortPosition(id, Number(pos), function(ret) {
                    console.log(ret);
                    overlayControl(false);
                });
			    break;
			case 3:
                setLedCtrlDaisyPosition(id, Number(pos), function(ret) {
                    console.log(ret);
                    overlayControl(false);
                });
			    break;
			case 4:
                setLedCtrlPort(id, Number(pos), function(ret) {
                    console.log(ret);
                    overlayControl(false);
                });
			    break;
			case 5:
                if (idArr[4] != '1') {
                    alert('Only first ldm position can be changed');
                    overlayControl(false);
                    break;
                }
                var newId = idArr[0] + '-' + idArr[1] + '-' + idArr[2] + '-' + idArr[3];
                setLdmConnection(newId, Number(pos), function(ret) {
                    console.log(ret);
                    overlayControl(false);
                });
			    break;
			default:
			    break;
			}
	});

	$('#btnPatternOn').click(function() {
			overlayControl(true, '......');
			setTestPattern(sysCtrlId, true, Number($('#patternR').val()), Number($('#patternG').val()), Number($('#patternB').val()), function(ret) {
				overlayControl(false);
				});
			});

	$('#btnPatternOff').click(function() {
			overlayControl(true, '......');
			setTestPattern(sysCtrlId, false, 0, 0, 0, function(ret) {
				overlayControl(false);
				});
			});
    $('#btnSysPortPatternOn').click(function() {
            overlayControl(true, '......');
            setSystemControllerPattern(true, 256, function(ret) {
                overlayControl(false);
                });
            });
    $('#btnSysPortPatternOff').click(function() {
            overlayControl(true, '......');
            setSystemControllerPattern(false, 256, function(ret) {
                overlayControl(false);
                });
            });
    $('#btnLedControllerPatternOn').click(function() {
            overlayControl(true, '......');
            setSystemControllerPattern(true, 1024, function(ret) {
                overlayControl(false);
                });
            });
    $('#btnLedControllerPatternOff').click(function() {
            overlayControl(true, '......');
            setSystemControllerPattern(false, 1024, function(ret) {
                overlayControl(false);
                });
            });
    $('#btnLedControllerPortPatternOn').click(function() {
            overlayControl(true, '......');
            setLedCtrlPortPattern(true, function(ret) {
                overlayControl(false);
                });
            });
    $('#btnLedControllerPortPatternOff').click(function() {
            overlayControl(true, '......');
            setLedCtrlPortPattern(false, function(ret) {
                overlayControl(false);
                });
            });

    $('#btnPsuOutputOn').click(function() {
            overlayControl(true, '......');
            setPsuOutput(true, function(ret) {
                overlayControl(false);
             });
          });

    $('#btnPsuOutputOff').click(function() {
            overlayControl(true, '......');
            setPsuOutput(false, function(ret) {
                 overlayControl(false);
            });
          });

    $('#btnCalServerOn').click(function() {
        var passwd = prompt("Enter the Account Number");
        overlayControl(true, '......');
        checkAccountFunc( passwd, 'cal', true, function(ret) {
            overlayControl(false);
            if (ret) {
                alert("Calibration Server ON");
            } else {
                alert("Please check your account.");
            }
        });
    });

    $('#btnCalServerOff').click(function() {
        var passwd = prompt("Enter the Account Number");
        overlayControl(true, '......');
        checkAccountFunc( passwd, 'cal', false, function(ret) {
            overlayControl(false);
            if (ret) {
                alert("Calibration Server OFF");
            } else {
                alert("Please check your account.");
            }
        });
    });

    $('#btnGetLowLatency').click(function() {
        overlayControl(true, '......');
        getLowLatencyMode( function(ret) {
            console.log(ret);
            if (ret.result.lowLatency) {
                $('#lowLatencyStatus').html('LowLatency Mode ON');
            } else {
                $('#lowLatencyStatus').html('LowLatency Mode OFF');
            }
            overlayControl(false);
        });
    });

    $('#btnSetLowLatencyOff').click(function() {
        overlayControl(true, '......');
        setLowLatencyMode(false, function(ret) {
            console.log(ret);
            overlayControl(false);
            if (!ret.returnValue) {
                alert("Not Support");
            } else {
                getLowLatencyStatus();
            }
        });
    });

    $('#btnSetLowLatencyOn').click(function() {
        overlayControl(true, '......');
        setLowLatencyMode(true, function(ret) {
            overlayControl(false);
            if (!ret.returnValue) {
                alert("Not Support");
            } else {
                getLowLatencyStatus();
            }
        });
    });

    $('#setPitch').change(function() {
            overlayControl(true, '......');
            var pitch = $(this).val();
            pitch = pitch*10;
            setPitch(sysCtrlId, pitch, function(ret) {
                if(ret.returnValue) {
                    changeGetPitchInfo(pitch/10);
                   }
                overlayControl(false);
                });
            });

    $('#ledLight').change(function () {
        overlayControl(true, '......');
        setSystemSettings('commercial', {
            ledLight: Number($(this).val())
        }, function(ret) {
            console.log(ret);
            overlayControl(false);
        });
        }).on('input', function () {
            $('#ledLightVal').html($(this).val());
        });

	 $('#ledLightMax').change(function () {
        overlayControl(true, '......');
        
		setSystemSettings('commercial', {
            ledLightMax: Number($(this).val())
        }, function(ret) {
            console.log(ret);
            overlayControl(false);
        });
		if(ledLight.value > Number($(this).val())) {
			ledLight.value = Number($(this).val());
			$('#ledLightVal').html(Number($(this).val()));
		}
		ledLight.max =  Number($(this).val());

        }).on('input', function () {
            $('#ledLightMaxVal').html($(this).val());
    
		});

		$('#ledModeOn').change(function() {
		overlayControl(true, '......');
		var checked = $('#ledModeOn').prop('checked');
		var value = 0;
		if(checked) {
			value = 1;
		}
		setSystemSettings('commercial', {
			ledLightMode: value
		}, function(ret) {
			console.log(ret);
			overlayControl(false);
		    });
	    });
});
</script>
