<style>
    input[type=range][class|="custom"] {
        -webkit-appearance: none;
        border: 1px solid white;
        width: 100%;
        margin-top: 8px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: darkgray;
    }

    .cardBtn, .whiteCardBtn, .darkGrayBtn, .mediaToolBarBtn, .calibBtn {
    float: right;
	border: 2px solid;
	border-radius: 15px;
	height: 30px;
    width: 130px;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
	font-size: 13px;
    }

    .cardBtn, .whiteCardBtn {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #cf0652;
    }

    .whiteCardBtn {
	background-color: #EEE580;
	border-color: white;
    float: none;
    }

    .cardBtn:hover, .whiteCardBtn:hover, .calibBtn:hover {
	border-radius: 15px;
	background-color: #cf0652;
	border-color: #cf0652;
	color: #ffffff;
    }

    .cardBtn:active, .whiteCardBtn:active, .calibBtn:active {
	background-color: #4d4d4d;
	border-color: #cf0652;
	color: #ffffff;
    }

    .cardBtn:disabled, .whiteCardBtn:disabled {
	background-color: #bdbdbd;
	border-color: #bdbdbd;
	color: #ffffff;
    }

</style>

<script>
var languageTable = {{{json languageTable}}};
</script>
<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			LED Calibration test page
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style='width: 800px;'>
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/ledSignage/language'>Go to System Controller Settings</a>
            </div>

            <div class="panel-body" id="fanDiv">

                <h4>LDM Masking[마스킹 JIG용]</h4>
                <table class='table'>
                    <tr>
                        <td>
                            <select id="setGainFile" style="width: 200px; height: 100px; text-align-last:center; font-size:15pt;">
                        </td>
                        <td>
                            <select id="setSysCtrlPort" style="width: 200px; height: 100px; text-align-last:center; font-size:20pt;">
                                <option value="1">1 port</option>
                                <option value="2">2 port</option>
                                <option value="3">3 port</option>
                                <option value="4">4 port</option>
                                <option value="5">5 port</option>
                                <option value="6">6 port</option>
                            </select>
                        </td>
                        <td>
                            <button id=btnMaskingJIG style="width: 200px; height: 100px;font-size: 30px;">마스킹 적용<br>LED Masking</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Confirm LDM Masking Done</th>
                        <td></td>
                        <td>
                            <button id=btnGetMaskingList>Get</button><button id=btnShowHideMaskingList>Show/Hide</button>
                        </td>
                    </tr>
                    <tr id="trMaskingListDiv" style="display:none;">
						<td colspan=3>
							<div id=layoutMaskingListDiv class=col-md-12 style='overflow:auto; height:200px;'>
							</div>
						</td>
					</tr>
                </table>

                <h4>Calibration Server Setting</h4>
                <table class='table'>
                    <tr>
                        <th>Turn on Calibration Server</th>
                        <td colspan=2>
                            <button id=btnCalServerOn>ON</button> <button id=btnCalServerOff>OFF</button>
                        </td>
                    </tr>
                </table>

                <h4>SET LDM RGB GAIN [ALL]</h4>
            	<table class='table'>
                    <tr> 
                        <th> Set Ldm Rgb Gain Enable/Disable </th>
                        <td>
                            <input type="checkbox" id="ldmRgbGainOn" class=grey>
							<label for="ldmRgbGainOn">&nbsp;</label>
                        </td>
                         <td>
                        </td>
                    </tr>
                    <tr>
                        <th> RED </th>
                        <td>
                            <input class="custom-red" id=currentLdm_Red type=range min=0 max=120 value=100 step="0.5" disabled> 
                        </td>
                        <td>
                            &nbsp;&nbsp;<span id=currentLdm_RedVal style="display:inline-block; width:33px;">100</span>
                        </td>
                    </tr>
                    <tr>
                        <th> GREEN </th>
                        <td>
                            <input class="custom-green" id=currentLdm_Green type=range min=0 max=120 value=100 step="0.5" disabled> 
                        </td>
                        <td>
                            &nbsp;&nbsp;<span id=currentLdm_GreenVal style="display:inline-block; width:33px;">100</span>
                        </td>
                    </tr>
                    <tr>
                        <th> BLUE </th>
                        <td>
                            <input class="custom-blue" id=currentLdm_Blue type=range min=0 max=120 value=100 step="0.5" disabled> 
                        </td>
                        <td>
                            &nbsp;&nbsp;<span id=currentLdm_BlueVal style="display:inline-block; width:33px;">100</span>
                        </td>
                    </tr>
				</table>
                
                <br/>
                <br/>

                <h4>LDM Flash Pixel Gain Down!!</h4>
                <table class=table>
                <tr>
                    <th><font color=red>[USB]</font>&nbsp;Target Pixel </th>
                    <td>
                        <button id=btnGetUsbInfoPixelGain>Get</button><button id=btnShowHideUsbInfoPixel>Show/Hide</button>&nbsp;&nbsp;
                        ID: <input type=text id=usbPixelGainID value='1-1-1-1-1'>
                    </td>
                    <td>
                        <button id=btnTargetPixelGainforUSB>[USB]LDM Flash Pixel</button>
                    </td>
                </tr>
                <tr>
                    <th colspan = 3>
                    <div id=layoutUsbInfoPixelDiv class=col-md-12 style='display: none; overflow:auto; height:300px;'>
                    </div> 
                    </th>
                </tr>    
                </table>            
    
                <h4>LDM Masking</h4>
                <table class=table>
                    <tr>
                        <th>Target Masking</th>
                        <td>
                            ID: <input type=text id=maskingID value='1-1-1-1-1'>
                        </td>
                        <td>
                            <button id=btnTargetMasking>LED Masking</button>
                        </td>
                    </tr>
                    <tr>
                        <th><font color=red>[USB]</font>&nbsp;Target Masking</th>
                        <td>
                            <button id=btnGetUsbInfoGain>Get</button><button id=btnShowHideUsbInfoGain>Show/Hide</button>&nbsp;&nbsp;
                            ID: <input type=text id=usbMaskingID value='1-1-1-1-1'>
                        </td>
                        <td>
                            <button id=btnTargetMaskingforUSB>[USB]LED Masking</button>
                        </td>
                    </tr>
                    <tr>
                        <th colspan = 3>
                        <div id=layoutUsbInfoGainDiv class=col-md-12 style='display: none; overflow:auto; height:300px;'>
                        </div> 
                        </th>
                    </tr>
                    <tr>
                        <th> Remove alternative Directory's File </th>
                        <td>
                            <button id=btnGetMaskingFile>Get</button><button id=btnShowHideMaksingFile>Show/Hide</button>
                        </td>
                        <td>
                            <button id=btnRemoveMaskingFile>[Remove]Gain File</button>
                        </td>
                    </tr>
                    <tr>
                        <th colspan = 3>
                            <div id=layoutFileInfoGainDiv class=col-md-12 style='display: none; overflow:auto; height:200px;'>
                            </div>    
                        </th>
                    </tr>
                    <tr>
                        <th><font color=red>[Upload]</font>&nbsp;Target Masking</th>
                        <td>
                            Save Check : <input type=checkbox id=saveUploadMasking></input>&nbsp;&nbsp;ID: <input type=text id=uploadMaskingID value='1-1-1-1-1'>
                        </td>
                        <td>
                        <div class="filebox">
                            <form method='post' action='/uploadGain' enctype="multipart/form-data" name="uploadForm">
                            
                            <label for="upload" class="whiteCardBtn" id='upload-label'>↑Upload/Masking</label>
                            <input type='file' name='upload' id='upload'>
                            <input type=submit value='Uploading/Masking' id='upload-masking' style='display:none;'>
                            </form>
                        </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>
var sysCtrlId = '1';

var usbInfoPathGain = '';
var usbInfoPixelPathGain = '';
var selectedGainFile = '';
var selectedPixelGainFile = '';
var usbInfoGainCommand = "";
var usbInfoPixelCommand = "";
var MaskingList = {};
var MaskingListCommand = "";
var fileListGainCommand = "";
var removeFileList = [];
var firstLoadProgress = true;
var supportExt = ['txt'];
var gainErrorMsg = "none";

function printMaskingList(items) {
    var MaskingIndex = 1;

    MaskingListCommand = MaskingListCommand + "<h4>Masking Done List</h4>";
    MaskingListCommand = MaskingListCommand + "<table class='table' border=2>";
    MaskingListCommand = MaskingListCommand + "<tr><th>index</th><th> id </th></tr>"; 

    for( var MaskingList in items.gainMaskDoneArr ) {
        var MaskingListValue = items.gainMaskDoneArr[MaskingList];

        if (MaskingListValue.isMaskDone) {
            MaskingListCommand = MaskingListCommand + "<tr><td>" + MaskingIndex + "</td>";
            MaskingListCommand = MaskingListCommand + "<td>" + MaskingListValue.id + "</td></tr>";
            MaskingIndex ++;
        }
    }
    MaskingListCommand = MaskingListCommand + "</table>";
}

function printFileList(type, fileInfo) {

    var fileListCommand="";
    fileListCommand = fileListCommand + "<h4>file Info (*." + type + ")</h4>";

    fileListCommand = fileListCommand + "<table class='table' border=2 id='tablefile'>";
    fileListCommand = fileListCommand + "<tr><th> Select </th><th> File Name </th></tr>";

    for( var file in fileInfo ) {
        var fileName = fileInfo[file];
        fileListCommand = fileListCommand + "<tr><td>" + "<input type=checkbox name=selectedFile value=''></input>" + "</td>";
        fileListCommand = fileListCommand + "<td>" + fileName + "</td>";
    }
    fileListCommand = fileListCommand + "</table>";
    fileListGainCommand = fileListCommand;
}

function printUsbInfoPixel(type, usbInfo) {

    var usbInfoCommand="";
    usbInfoCommand = usbInfoCommand + "<h4>Usb LDM Flash Info (*." + type + ")" + "</h4>";
    usbInfoCommand = usbInfoCommand + "<table class='table' border=2 id='tableUsb'>";
    usbInfoCommand = usbInfoCommand + "<tr><th> Select </th><th> File Name </th></tr>";

    for( var file in usbInfo ) {

        var fileName = usbInfo[file];
        usbInfoCommand = usbInfoCommand + "<tr><td>" + "<input type=radio name=selectedPixel value=''></input>" + "</td>";
        usbInfoCommand = usbInfoCommand + "<td>" + fileName + "</td>";
    }
    usbInfoCommand = usbInfoCommand + "</table>";
    
    if (type == 'txt') {
        usbInfoPixelCommand = usbInfoCommand;
    }
}

function printUsbInfoGain(type, usbInfo) {

    var usbInfoCommand="";
    usbInfoCommand = usbInfoCommand + "<h4>Usb Info (*." + type + ")" + "&nbsp;&nbsp;&nbsp; Save Check : <input type=checkbox id=saveMasking></input></h4>";
    usbInfoCommand = usbInfoCommand + "<table class='table' border=2 id='tableUsb'>";
    usbInfoCommand = usbInfoCommand + "<tr><th> Select </th><th> File Name </th></tr>";

    for( var file in usbInfo ) {

        var fileName = usbInfo[file];
        usbInfoCommand = usbInfoCommand + "<tr><td>" + "<input type=radio name=selectedGain value=''></input>" + "</td>";
        usbInfoCommand = usbInfoCommand + "<td>" + fileName + "</td>";
    }
    usbInfoCommand = usbInfoCommand + "</table>";
    
    if (type == 'txt') {
        usbInfoGainCommand = usbInfoCommand;
    }
}

function gainErrorMsgChk(errorType) {
    if (errorType == 0) {
        gainErrorMsg = "NONE";
    } else if (errorType == -1) {
        gainErrorMsg = "SPI_WRITE_ERROR";
    } else if (errorType == 0xf0) {
        gainErrorMsg = "NOT_INITIALIIZED_CONDITION";
    } else if (errorType == 0xf3) {
        gainErrorMsg = "LED_CTRL_DDR_NG";
    } else if (errorType == 0xf4) {
        gainErrorMsg = "LED_CTRL_LDM_NG";
    } else if (errorType == 0xf5) {
        gainErrorMsg = "GAIN_DOWNLOAD_TIMEOUT";
    } else {
        gainErrorMsg = "UNKNOWN ERROR : " + errorType;
    }
}

$(document).ready(function(){
	$('#pageTitle').html('LED Calibration API TEST');

    getSysCtrlId(function(ret) {
        console.log(ret);
        sysCtrlId = ret.result.id;
    });

    $('#btnGetUsbInfoPixelGain').click(function() {
		overlayControl(true, '......');
		getListDevice( 'txt', function(ret) {
            usbInfoPixelPathGain = ret.usbPath;
            usbInfoPixelCommand = '';
            console.log(ret.targetArray);
            printUsbInfoPixel('txt', ret.targetArray);
            $('#layoutUsbInfoPixelDiv').html(usbInfoPixelCommand);
            $('#layoutUsbInfoPixelDiv').show();
            overlayControl(false);
		});
    });

    $('#btnShowHideUsbInfoPixel').click(function() {
        $('#layoutUsbInfoPixelDiv').toggle();
    });

    getFileList('/etc/palm/led_gain', 'txt', function(ret) {
        overlayControl(true, '......');

        var fileInfo = ret.targetArray;
        var option = $("<option>" + "NONE" + "</option>");
        $('#setGainFile').append(option);
 
        for (var file in fileInfo) {
            var fileName = fileInfo[file];
            if (fileName == 'led_15_DSBJ_Cu_18_PIXEL.txt') {
                fileName = 'LAA015FL9B3/4';
            } else if (fileName == 'led_15_GEN25_DSBJ_Cu_18.txt') {
                fileName = 'LAA015FL9B5/6';
            } else {
                continue;
            }
            var option = $("<option>" + fileName + "</option>");
            $('#setGainFile').append(option);
        }
        overlayControl(false);
    });

    $('#btnGetUsbInfoGain').click(function() {
		overlayControl(true, '......');
		getListDevice( 'txt', function(ret) {
            usbInfoPathGain = ret.usbPath;
            usbInfoGainCommand = '';
            printUsbInfoGain('txt', ret.targetArray);
            $('#layoutUsbInfoGainDiv').html(usbInfoGainCommand);
            $('#layoutUsbInfoGainDiv').show();
            overlayControl(false);
		});
    });

    $('#btnShowHideUsbInfoGain').click(function() {
        $('#layoutUsbInfoGainDiv').toggle();
    });

    $('#btnRemoveMaskingFile').click(function() {
        overlayControl(true, '......');
        $("input[name=selectedFile]:checked").each(function() {
            removeFileList.push($(this).parent().parent().children().eq(1).text());
        });
        removeFile(removeFileList, function(ret) {
            if (!ret) {
                alert("fail to delete");
                overlayControl(false);
            } else {
                getFileList( '/var/', 'txt', function(ret) {
                    fileListGainCommand = '';
                    printFileList('txt', ret.targetArray);
                    $('#layoutFileInfoGainDiv').html(fileListGainCommand);
                    overlayControl(false);
                    removeFileList = [];
                });
            }
        });
    });

    $('#btnGetMaskingFile').click(function() {
		overlayControl(true, '......');
		getFileList( '/var/', 'txt', function(ret) {
              fileListGainCommand = '';
              printFileList('txt', ret.targetArray);
              $('#layoutFileInfoGainDiv').html(fileListGainCommand);
              $('#layoutFileInfoGainDiv').show();
              overlayControl(false);
		});
    });

    $('#btnShowHideMaksingFile').click(function() {
        $('#layoutFileInfoGainDiv').toggle();
    });

    $('#btnCalServerOn').click(function() {
            overlayControl(true, '......');
            setCalServer(true, function(ret) {
                 overlayControl(false);
            });
        });

    $('#btnCalServerOff').click(function() {
            overlayControl(true, '......');
            setCalServer(false, function(ret) {
                 overlayControl(false);
            });
        });

    $('#btnMaskingJIG').click(function() {
            overlayControl(true, 'Masking in Progress...');
            var sysPortId = $('#setSysCtrlPort').val();
            console.log(sysPortId);
            var jigId = sysCtrlId + "-" + sysPortId + "-1";
            console.log(jigId);
            var filePath = $('#setGainFile').val();

            if (filePath == 'NONE') {
                overlayControl(false);
                alert("Please Select Mask File");
                return;
            } else if (filePath == 'LAA015FL9B3/4') {
                filePath = 'led_15_DSBJ_Cu_18_PIXEL.txt';
            } else if (filePath == 'LAA015FL9B5/6') {
                filePath = 'led_15_GEN25_DSBJ_Cu_18.txt';
            }
 
            filePath = "/etc/palm/led_gain/" + filePath;
            console.log(filePath);

            setMaskingJIGforUSB(filePath, jigId, function(ret) {
                overlayControl(false);
                if (!ret.returnValue) {
                    gainErrorMsgChk(ret.gainErrorType);
                    showMaskModal(ret.errorText + " : " + gainErrorMsg);
                } else {
                    showMaskModal("Masking Success!!")
                    overlayControl(true, 'Masking Done Bit Check...');
                    getGainMaskDone( function(ret) {
		                MaskingList = ret.result;
			            MaskingListCommand = '';
			            printMaskingList(MaskingList);
			            $('#layoutMaskingListDiv').html(MaskingListCommand);
			            $('#trMaskingListDiv').show();
			            overlayControl(false);
		            });
                }
            });
        });

    $('#btnTargetMasking').click(function() {
            overlayControl(true, 'Masking In Progress');
			var id = $('#maskingID').val();
            setMaskingJIG(id, function(ret) {
                if (!ret.returnValue) {
                    gainErrorMsgChk(ret.gainErrorType);
                    showMaskModal(ret.errorText + " : " + gainErrorMsg);
                } else {
                    showMaskModal("Masking Success!!")
                }
                overlayControl(false);
            });
        });

    $('#btnTargetPixelGainforUSB').click(function() {
		var id = $('#usbPixelGainID').val();
        var gainFile = $('input[name="selectedPixel"]:checked');
        var gainFileName = gainFile.parent().parent().children().eq(1).text();
        var filePath = usbInfoPixelPathGain + '/' + gainFileName; 

        console.log(gainFile);
        console.log(filePath);
        console.log(usbInfoPixelPathGain);
        console.log(id);
        if (filePath != usbInfoPixelPathGain + '/') {
            selectedPixelGainFile = filePath;
            overlayControl(true, "[Ldm Pixel Gain USB File]" + "\n" + selectedPixelGainFile);
            setPixelGain(id, selectedPixelGainFile, function(ret) {
                if (!ret.returnValue) {
                    gainErrorMsgChk(ret.gainErrorType);
                    showMaskModal(ret.errorText + " : " + gainErrorMsg);
                } else {
                    showMaskModal("LDM Flash Pixel Gain Success!!")
                }
                overlayControl(false);
            });
        } else {
            alert("Pixel Gain File Not Selected");
        }
    });

    $('#btnTargetMaskingforUSB').click(function() {
		var id = $('#usbMaskingID').val();
        var gainFile = $('input[name="selectedGain"]:checked');
        var gainFileName = gainFile.parent().parent().children().eq(1).text();
        var filePath = usbInfoPathGain + '/' + gainFileName; 

        if (filePath != usbInfoPathGain + '/') {
            selectedGainFile = filePath;
            overlayControl(true, "[Masking USB File]" + "\n" + selectedGainFile);
            setMaskingJIGforUSB(selectedGainFile, id, function(ret) {
                if (!ret.returnValue) {
                    gainErrorMsgChk(ret.gainErrorType);
                    showMaskModal(ret.errorText + " : " + gainErrorMsg);
                } else {
                    showMaskModal("Masking Success!!")
                    if ($('input:checkbox[id="saveMasking"]').is(":checked") == true) {
                        copyFile(filePath, gainFileName, function(ret) {
                            console.log(ret);
                        });
                    }
                }
                overlayControl(false);
            });
        } else {
            alert("Gain File Not Selected");
        }
    });

    $('#currentLdm_Red').change(function () {
        overlayControl(true, '......');
        setLdmRgbInfoAll(2*Number($(this).val()), 2*Number($('#currentLdm_Green').val()), 2*Number($('#currentLdm_Blue').val()), function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdm_RedVal').html(Number($(this).val()));
        });

    $('#currentLdm_Green').change(function () {
        overlayControl(true, '......');
        setLdmRgbInfoAll(2*Number($('#currentLdm_Red').val()), 2*Number($(this).val()), 2*Number($('#currentLdm_Blue').val()), function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdm_GreenVal').html(Number($(this).val()));
        });

    $('#currentLdm_Blue').change(function () {
        overlayControl(true, '......');
        setLdmRgbInfoAll(2*Number($('#currentLdm_Red').val()), 2*Number($('#currentLdm_Green').val()), 2*Number($(this).val()), function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdm_BlueVal').html(Number($(this).val()));
        });
    
    $('#ldmRgbGainOn').change(function() {
		overlayControl(true, '......');
		var checked = $('#ldmRgbGainOn').prop('checked');
		if(checked) {
            var result = confirm("Do you really want to change the LDM RGB value? The default value is 100.");
            if (result) {
                document.getElementById("currentLdm_Red").disabled = false;
                document.getElementById("currentLdm_Green").disabled = false;
                document.getElementById("currentLdm_Blue").disabled = false;
            } else {
                $('#ldmRgbGainOn').prop('checked', false);
            }
		} else {
            document.getElementById("currentLdm_Red").disabled = true;
            document.getElementById("currentLdm_Green").disabled = true;
            document.getElementById("currentLdm_Blue").disabled = true;
        }
        overlayControl(false);
    });

    $('#btnGetMaskingList').click(function() {
		overlayControl(true, '......');
        getGainMaskDone( function(ret) {
			MaskingList = ret.result;
			MaskingListCommand = '';
			printMaskingList(MaskingList);
			$('#layoutMaskingListDiv').html(MaskingListCommand);
			$('#trMaskingListDiv').show();
			overlayControl(false);
		});
    });

    $('#btnShowHideMaskingList').click(function() {
        $('#trMaskingListDiv').toggle();
    });

    $('#upload').attr('accept', '.txt');
    $(".filebox :file").on("change", fileChangeHandler);

    function checkLogin(callback) {
        jQuery.ajax({
             type:"GET",
            url:"/checkLoginLed",
            dataType:"JSON",
            success : function(data) {
                 callback(data);
            }, complete : function(data) {
                console.log(data);
            }, error : function(xhr, status, error) {
                console.log(status);
            }
        });
    }

    function uploadAfterCheckLogin(file) {
        checkLogin(function(ret) {
            if (!ret.login) {
                console.log('session expired');
                window.location.replace("/login");
                return;
            }
            uploadFile(file);
        });
    }

    function uploadFile(file) {
        var formData = new FormData();
        formData.append('upload_mask', file);

		overlayControl(true, 'Uploading :' + file.name);
        var xhr = new XMLHttpRequest();
        xhr.open('post', '/uploadGain', true);

        xhr.upload.onprogress = function (e) {
            if (e.lengthComputable) {
                var per = Math.round((e.loaded / e.total) * 100)
                $('#overlay_progress').html(per + "%");
            }
        };

        xhr.upload.onload = function (e) {
            var id = $('#uploadMaskingID').val();
            var filePath = '/var/' + file.name;
            var removeGainFile = [];
            removeGainFile.push(file.name);
            overlayControl(false);

            gainFormatChk(file.name, function(ret) {
                if (!ret) {
                    alert("Error Gain Format. Please Check pixel pitch & Gain file Length");
                    removeFile(removeGainFile, function(ret) {
                        window.location.reload();
                    });
                } else {
                    overlayControl(true, "[Masking Upload File]" + "\n" + file.name);
                    setMaskingJIGforUSB(filePath, id, function(ret) { 
                        if (!ret.returnValue) {
                            gainErrorMsgChk(ret.gainErrorType);
                            showMaskModal(ret.errorText + " : " + gainErrorMsg);
                        } else {
                            showMaskModal("Masking Success!!")
                            if ($('input:checkbox[id="saveUploadMasking"]').is(":checked") == false) {
                                removeFile(removeGainFile, function(ret) {
                                });
                            }
                            window.location.reload();
                        }
                        overlayControl(false);
                    });
                }
            });
        };

        xhr.onerror = function (e) {
            overlayControl(false);
            showWarningModal(getLanguageText(languageTable, "An error occurred while submitting the form."), 5 * 1000);
        };

        xhr.send(formData);
    }

    function fileChangeHandler(evt) {
        var file = document.getElementById('upload').files[0];
        if (!file) {
            return;
        }
        var fileName = file.name; 
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1).toLowerCase();
        if (supportExt.indexOf(ext) < 0) {
            showWarningModalWithCb(getLanguageText(languageTable, "Unsupported File type."), 5 * 1000, 
                function() {
                    window.location.reload();
                });
            return;
        }

        var target = evt.target || evt.srcElement;
        if (target.value.length != 0) {
            $('.filebox :submit').click();
        }
    }

    $('input[type="submit"]').on('click', function (evt) {
        evt.preventDefault();
        var file = document.getElementById('upload').files[0];
        
        if (!file) {
            showWarningModalWithCb(getLanguageText(languageTable, "Please choose a file to upload"), 5 * 1000,
                function() {
                    window.location.reload();
                });
            return;
        }
        uploadAfterCheckLogin(file);
    });

});
</script>
