<link href="/css/mocha.css" rel="stylesheet" />
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>

<div class="row">
	<div class='col-md-12'>
		<ul id=grep>
			<li><b>Select Testcases</b></li>
			<li><input type=checkbox id=checkAll> All</li>
		</ul>
		<table class='table'>
			<tr>
				<td>Open Loop Fan RPM</td>
				<td>50%</td>
				<td><input id=openHalf type=number class=form-control min=0 value=5600></td>
				<td>100%</td>
				<td><input id=openMax type=number class=form-control min=0 value=7450></td>
			</tr>
			<tr>
				<td>Close Loop Fan Max RPM</td>
				<td>50%</td>
				<td><input id=closeHalf type=number class=form-control min=0 value=8000></td>
				<td>100%</td>
				<td><input id=closeMax type=number class=form-control min=0 value=14000></td>
			</tr>
			<tr>
				<td>Power Fan Max RPM</td>
				<td>50%</td>
				<td><input id=powerHalf type=number class=form-control min=0 value=4200></td>
				<td>100%</td>
				<td><input id=powerMax type=number class=form-control min=0 value=8000></td>
			</tr>
		</table>
		<button id=start class=form-control>Start Test</button>
	</div>
	<div class=col-md-12>
		<br>
		<ul class='list-group' id='direction'>
			<li class='list-group-item'><b>테스터 수행 사항 (Direction)</b></li>
			<li class='list-group-item'>HDMI1에 입력을 연결하세요</li>
			<li class='list-group-item'>
				<font color=red>다른 Outdoor web control 페이지를 열지 마세요!!</font>
			</li>
		</ul>
	</div>
	<div class=col-md-11 id='mocha'></div>
	<div id='result'></div>
	<button id=save class='form-control' disabled>결과 저장</button>
</div>

<script src="/js/mocha.js"></script>
<script src="/js/expect.min.js"></script>

<script>
	mocha.setup('bdd')
	var env = {{{json env}}}
</script>
<script src="/js/testsuite.js"></script>
<script>
	function download(filename, text) {
		if (navigator.msSaveBlob) {
			var blob = new Blob([text], { type: 'data:text/plain;charset=utf-8;' });
			navigator.msSaveBlob(blob, filename);
		} else {
			var element = document.createElement('a');
			element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			element.setAttribute('download', filename);
			element.style.display = 'none';
			document.body.appendChild(element);
			element.click();
			document.body.removeChild(element);
		}
	}

	function addTestcase(test) {
		var notIn = ['Input', 'Downtime incidents'];
		var checkbox = '<input type=checkbox class="grep" value="' + test + '"'
		if (notIn.indexOf(test) < 0) {
			checkbox += ' checked ';
		}
		checkbox += '> ' + test;
		var li = '<li>' + checkbox + '</li>';
		$('#grep').append(li);
	}

	//mocha.checkLeaks();
	mocha.globals(['jQuery']);

	mocha.suite.suites.forEach(function (s) {
		addTestcase(s.title);
	});

	$('#checkAll').click(function () {
		$('.grep').prop('checked', $(this).prop('checked'));
	});

	$('.grep').click(function () {
		$('#checkAll').prop('checked', false);
	});

	$('#start').click(function () {
		$('#mocha').html('');
		{{!-- $('#start').attr('disabled', true); --}}
		testSuiteParams = {
			rpm: {
				openLoop: [0, Number($('#openHalf').val()), Number($('#openMax').val())],
				closedLoop: [0, Number($('#closeHalf').val()), Number($('#closeMax').val())],
				power: [0, Number($('#powerHalf').val()), Number($('#powerMax').val())]
			},
			checkScreenPos: $('#checkScreenPos').val(),
			startButton: '#start'
		};

		var grep = '';

		$('.grep').each(function () {
			if ($(this).prop('checked')) {
				grep += $(this).val() + '|';
			}
		});
		grep = grep.substring(0, grep.length - 1);
		console.log(grep);

		if (grep.length) {
			mocha.grep(new RegExp(grep));
		}

		mocha.run();

		$('#start').html('Stop Test');
		$('#start').unbind('click');
		$('#start').click(function () {
			stopTest();
		});
	});

	function stopTest() {
		var timeout = setTimeout(function () { }, 0);
		while (timeout) {
			clearTimeout(timeout);
			timeout--
		}
		restartFanControl();
		$('#start').unbind('click');
		onTestEnd();
	}

	function onTestEnd() {
		var start = testSuiteParams.startButton;
		$(start).attr('disabled', false);
		$(start).html('Run Again');
		$(start).off('click');

		$('#result').html('<h2>테스트가 종료되었습니다. 결과를 확인해주세요.</h2>');
		$('#save').attr('disabled', false);

		$(start).click(function () {
			location.reload();
		});
	}

	var serialNumber;

	$(document).ready(function () {
		$(':checkbox').css('opacity', 1);
		getBasicInfo(function (basic) {
			getWebOSInfo(function (webos) {
				getMacAddr(function (mac) {
					serialNumber = basic.serialNumber;
					var msg = 'Model Name : ' + basic.modelName + '\n'
						+ 'Serial Number : ' + basic.serialNumber + '\n'
						+ 'webOS Ver. : ' + webos.core_os_release + '\n'
						+ 'MAC addr. : ' + mac.wiredInfo.macAddress + '\n'
					showMessage(msg);
				});
			});
		});
	});

	function addZero(i) {
		if (i < 10) {
			return '0' + i;
		}
		return '' + i;
	}

	$('#save').click(function () {
		var txt = '<html><head><meta charset="utf-8"></head><body>' + $('#direction')[0].outerHTML + '</body></html>';
		var d = new Date();
		var fileName = (serialNumber === undefined) ? 'result.html' : serialNumber;
		fileName += '_' + d.getFullYear() + addZero(d.getMonth() + 1) + addZero(d.getDate()) + '_' + addZero(d.getHours()) + addZero(d.getMinutes()) + addZero(d.getSeconds());
		fileName += '.html';
		download(fileName, txt);
	});

	$('#pageTitle').html('Testsuite');
</script>
