<script>
var languageTable = {{{json languageTable}}};
</script>
<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<style>
    .jb-xx-small { font-size: xx-small; }

    .cardBtn, .whiteCardBtn, .darkGrayBtn, .mediaToolBarBtn, .calibBtn {
float: right;
	border: 2px solid;
	border-radius: 15px;
	height: 30px;
    width: 100%;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
	font-size: 13px;
    }

    .cardBtn, .whiteCardBtn {
	background-color: #BDBDBD;
	border-color: #f2f2f2;
	color: #cf0652;
    }

    .whiteCardBtn {
	background-color: #BDBDBD;
	border-color: white;
    float: none;
    }

    .cardBtn:hover, .whiteCardBtn:hover, .calibBtn:hover {
	border-radius: 15px;
	background-color: #cf0652;
	border-color: #cf0652;
	color: #ffffff;
    }

    .cardBtn:active, .whiteCardBtn:active, .calibBtn:active {
	background-color: #4d4d4d;
	border-color: #cf0652;
	color: #ffffff;
    }

    .cardBtn:disabled, .whiteCardBtn:disabled {
	background-color: #bdbdbd;
	border-color: #bdbdbd;
	color: #ffffff;
    }

    input[type=range][class|="custom"] {
        -webkit-appearance: none;
        border: 1px solid white;
        width: 100%;
        margin-top: 8px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: darkgray;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			LED Layout API test page
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style='width: 2000px;'>
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/ledSignage/language'>Go to System Controller Settings</a>
            </div>

            <div class="panel-body" id="fanDiv">
			<h4>LED LAYOUT _ (SYS CTRL ID : <span id="sysId"></span>)</h4>
            <h4>PITCH : <span id='cPitch'></span></h4>
			
            <div id=layoutDiv class=col-md-10 style='overflow:auto; height: 1000px;'>
                <table class=table id=ledLayout style="text-align: center;">
                </table>
            </div>
            <div id=layoutDivDescript class=col-md-2 style='overflow:auto;'>
                <h4> Current Selected ID <br/> <span id=currentSelectedId></span></h4>
                <table id=selectTable class = table border=2 style='border-style: dashed;'>
                    <tr>
                        <td id='firstSection' style='background-color: #F2F5A9;'> Load Setting Value </td>
                        <td id='secondSection' style='background-color: #E6E6E6;'> Calibration LDM </td>
                    </tr>
                </table>

                <div id=layoutGetValue style='display: block;'>
                <br/>
                <h4> SysCtrl </h4>
                   <table class=table border=2>
                        <tr>
                            <td>thermalVal</td>
                            <td id='sysCtrlThermalVal'></td>
                        </tr>
                        <tr>
                            <td>thermalStat</td>
                            <td id='sysCtrlThermalStat'></td>
                        </tr>
                        <tr>
                            <td>signal</td>
                            <td id='sysCtrlSignal'></td>
                        </tr>
                        <tr>
                            <td>fan </td>
                            <td id='sysCtrlFan'></td>
                        </tr>
                     </table>

                    <h4> LedCtrl </h4>
                    <table class=table border=2>
                        <tr>
                            <td>thermalVal</td>
                            <td id='ledCtrlThermalVal'></td>
                        </tr>
                        <tr>
                            <td>thermalStat</td>
                            <td id='ledCtrlThermalStat'></td>
                        </tr>
                        <tr>
                            <td>signal1</td>
                            <td id='ledCtrlSignal1'></td>
                        </tr>
                        <tr>
                            <td>signal2</td>
                            <td id='ledCtrlSignal2'></td>
                        </tr>
                        <tr>
                            <td>ledPower</td>
                            <td id='ledCtrlPower'></td>
                        </tr>
                    </table>
                    
                    <h4> LDM </h4>
                    <table class=table border=2>
                        <tr>
                            <td>thermalVal</td>
                            <td id='ldmThermalVal'></td>
                        </tr>
                        <tr>
                            <td>thermalStat</td>
                            <td id='ldmThermalStat'></td>
                        </tr>
                    </table>
                    <br/>
                    <button id="valReload" class="whiteCardBtn">{{getLanguageText "Value ReLoad"}}</button>
                    <br/>
                    <br/>
                    <button id="blinking" class="whiteCardBtn">{{getLanguageText "Blinking"}}</button>
                </div>

                <div id='layoutSetValue' style='display: none'>
                <br/>
                <h4>SET LDM RGB GAIN</h4>
            	<table class='table'>
                    <tr>
                        <th> RED </th>
                        <td>
                            <input class="custom-red" id=currentLdm_Red type=range min=0 max=120 value=100 step="0.5"> 
                        </td>
                        <td>
                            <input type=number id=currentLdm_RedVal min="0"; max="120" step="0.5"> 
                        </td>
                    </tr>
                    <tr>
                        <th> GREEN </th>
                        <td>
                            <input class="custom-green" id=currentLdm_Green type=range min=0 max=120 value=100 step="0.5"> 
                        </td>
                        <td>
                            <input type=number id=currentLdm_GreenVal min="0"; max="120" step="0.5">
                        </td>
                    </tr>
                    <tr>
                        <th> BLUE </th>
                        <td>
                            <input class="custom-blue" id=currentLdm_Blue type=range min=0 max=120 value=100 step="0.5"> 
                        </td>
                        <td>
                            <input type=number id=currentLdm_BlueVal min="0"; max="120" step="0.5">    
                        </td>
                    </tr>
                    <tr>
                        <th> ALL </th>
                        <td>
                            <input class="custom-white" id=currentLdm_All type=range min=0 max=120 value=100 step="0.5">
                        </td>
                        <td>
                            <input type=number id=currentLdm_AllVal min="0"; max="120" step="0.5">
                        </td>
                    </tr>
				</table>
                <br/>
                <h4>SET LDM Edge Calibration</h4>
                <table class='table' style="text-align:center;">
                    <tr>
                        <td> TOP </td>
                        <td> LEFT </td>
                        <td> RIGHT </td>
                        <td> BOTTOM </td>
                    </tr>
                    <tr>
                        <td> <input type=radio name=selectedEdgePosition value='top' checked="checked"> </td>
                        <td> <input type=radio name=selectedEdgePosition value='left'> </td>
                        <td> <input type=radio name=selectedEdgePosition value='right'> </td>
                        <td> <input type=radio name=selectedEdgePosition value='bottom'> </td>
                    </tr>
                </table>

                <table class='table'>
                    <tr>
                        <th> RED </th>
                        <td>
                            <input class="custom-red" id=currentLdmEdge_Red type=range min=0 max=120 value=100 step="0.5"> 
                        </td>
                        <td>
                            <input type=number id=currentLdmEdge_RedVal min="0"; max="120" step="0.5">
                        </td>
                    </tr>
                    <tr>
                        <th> GREEN </th>
                        <td>
                            <input class="custom-green" id=currentLdmEdge_Green type=range min=0 max=120 value=100 step="0.5"> 
                        </td>
                        <td>
                            <input type=number id=currentLdmEdge_GreenVal min="0"; max="120" step="0.5">
                        </td>
                    </tr>
                    <tr>
                        <th> BLUE </th>
                        <td>
                            <input class="custom-blue" id=currentLdmEdge_Blue type=range min=0 max=120 value=100 step="0.5"> 
                        </td>
                        <td>
                            <input type=number id=currentLdmEdge_BlueVal min="0"; max="120" step="0.5">
                        </td>
                    </tr>
                    <tr>
                        <th> WHITE </th>
                        <td>
                            <input class="custom-white" id=currentLdmEdge_White type=range min=0 max=120 value=100 step="0.5"> 
                        </td>
                        <td>
                            <input type=number id=currentLdmEdge_WhiteVal min="0"; max="120" step="0.5">
                        </td>
                    </tr>
                    <tr>
                        <th> RANGE </th>
                        <td id=whiteRange>
                        </td>
                        <td>
                        </td>
                    </tr>
				</table>

                </div>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>

var ldmWidth_15 = 160;
var ldmHeight_15 = 120;
var width_15 = 24;
var height_15 = 18;
var width_20 = 32;
var height_20 = 24;
var width_25 = 40;
var height_25 = 30;
var currentPitch = 15;
var sysCtrlId = '1';
var ledCtrlColor = ['#F78181', '#ACFA58', '#58D3F7', '#F7FE2E'];
var blockColor = '#A4A4A4';
var checkActualLayout;
var locationObject = new Object();
var prevSelectedBox = new Object();
var currrentLedCtrlId = '1-1-1';
var currentLdmId = '1-1-1-1-1';
var selectSection = 'firstSection';
var currentHoverColor = '';
var currentSelectedEdgeVal = new Object();
var currentSelectedPositionEdgeVal;
var edgeVal = [];
var currentLdmMaxVal = 0;

function calculateId(widthIndex, heightIndex) {
    var sysPortId = '1';
    var ledCtrlId = '1';
    var ledPortId = '1';
    var ldmId = '1';
    var calId = '1-1-1-1-1';

    if (currentPitch == 15) {
        sysPortId = (parseInt(widthIndex/3)) % 4 + 1;
        if ((heightIndex > 8) && (widthIndex < 12)) {
            sysPortId += 4;
        } else if ((heightIndex <= 8) && (widthIndex >= 12)) {
            sysPortId += 8;
        } else if ((heightIndex > 8) && (widthIndex >= 12)) {
            sysPortId += 12;
        }
        ledCtrlId = (widthIndex % 3) + 1;
        ledPortId = (heightIndex % 9) + 1;
    } else if (currentPitch == 20) {
        sysPortId = (parseInt(widthIndex/4)) % 4 + 1;
        if ((heightIndex > 11) && (widthIndex < 16)) {
            sysPortId += 4;
        } else if ((heightIndex <= 11) && (widthIndex >= 16)) {
            sysPortId += 8;
        } else if ((heightIndex > 11) && (widthIndex >= 16)) {
            sysPortId += 12;
        }
        ledCtrlId = (widthIndex % 4) < 2 ? 1 : 2;
        if (Math.floor((heightIndex % 12) / 6) == 1) {
            ledCtrlId = ledCtrlId == 1 ? 4 : 3;
        }
        ledPortId = (heightIndex % 6) + 1;
        ldmId = (widthIndex % 2) + 1;
    } else if (currentPitch == 25) {
        sysPortId = (parseInt(widthIndex/5)) % 4 + 1;
        if ((heightIndex > 14) && (widthIndex < 20)) {
            sysPortId += 4;
        } else if ((heightIndex <= 14) && (widthIndex >= 20)) {
            sysPortId += 8;
        } else if ((heightIndex > 14) && (widthIndex >= 20)) {
            sysPortId += 12;
        }
        ledCtrlId = (widthIndex % 5) < 3 ? 1 : 2;
        if (Math.floor((heightIndex % 15) / 8) == 1) {
            ledCtrlId = ledCtrlId == 1 ? 4 : 3;
        }
        ledPortId = (heightIndex % 15) % 8 + 1;
        ldmId = (widthIndex % 5) % 3 + 1;
    }

    calId = sysPortId + '-' + ledCtrlId + '-' + ledPortId + '-' + ldmId;
    return calId;
}

function returnToArrayPos(width, height) {
    var x_interval_15 = 160;
    var y_interval_15 = 120;
    var x_interval_20 = 120;
    var y_interval_20 = 90;
    var x_interval_25 = 96;
    var y_interval_25 = 72;

    if (currentPitch == 15) {
        locationObject.x = width / x_interval_15;
        locationObject.y = height / y_interval_15;
    } else if (currentPitch == 20) {
        locationObject.x = width / x_interval_20;
        locationObject.y = height / y_interval_20;
    } else if (currentPitch == 25) {
        locationObject.x = width / x_interval_25;
        locationObject.y = height / y_interval_25;
    }
}

function initArray() {
    for (var i = 0; i < checkActualLayout.length; ++i) {
        for (var j = 0; j < checkActualLayout[i].length; ++j) {
            checkActualLayout[i][j] = false;
            logicalIdLayout[i][j] = "";
        }
    }
}

function makeLedCtrlId(originId) {
    var startIndex = 0;
    var endIndex = originId.indexOf("-");;
    var sysPortId = '1';
    var ledCtrlId = '1';
    
    startIndex = endIndex + 1;
    endIndex = originId.indexOf("-", startIndex);
    sysPortId = originId.substr(startIndex, endIndex-startIndex);

    startIndex = endIndex + 1;
    endIndex = originId.indexOf("-", startIndex);
    ledCtrlId = originId.substr(startIndex, endIndex-startIndex);

    return sysCtrlId + '-' + sysPortId + '-' + ledCtrlId;
}

function logicalFormatChange(targetId) {
    var startIndex = 0;
    var endIndex = targetId.indexOf(".");;
    var sysPortId = '1';
    var ledCtrlId = '1';
    var ledPortId = '1';
    var ldmId = '1';

    sysPortId = targetId.substr(startIndex, endIndex-startIndex);

    startIndex = endIndex + 1;
    endIndex = targetId.indexOf(".", startIndex);
    ledCtrlId = targetId.substr(startIndex, endIndex-startIndex);

    startIndex = endIndex + 1;
    endIndex = targetId.indexOf(".", startIndex);
    ledPortId = targetId.substr(startIndex, endIndex-startIndex);

    startIndex = endIndex + 1;
    ldmId = targetId.substr(startIndex);
    
    return sysCtrlId + '-' + sysPortId + '-' + ledCtrlId + '-' + ledPortId + '-' + ldmId;
}   

function makeActualLayoutInfo() {
    getSystemSettings('commercial', ['ledLayout'], function(ret) {
        $('#cPitch').text(ret.ledLayout.commonInfo.pitch.toFixed(1));
        if (ret.ledLayout.commonInfo.pitch == 1.5) {
            // Layout format 
            checkActualLayout = new Array(height_15);
            logicalIdLayout = new Array(height_15);
            for (var i = 0; i < height_15; ++i) {
                checkActualLayout[i] = new Array(width_15);
                logicalIdLayout[i] = new Array(width_15);
            }
            initArray();
            //actual Layout
            for (var i = 0; i < ret.ledLayout.ldmList.length; i++) {
                returnToArrayPos(ret.ledLayout.ldmList[i].x, ret.ledLayout.ldmList[i].y);
                checkActualLayout[Number(locationObject.y)][Number(locationObject.x)] = true;
                logicalIdLayout[Number(locationObject.y)][Number(locationObject.x)] = 
                    ret.ledLayout.ldmList[i].id.substr(ret.ledLayout.ldmList[i].id.indexOf('.') + 1);
            }
            makeLayoutTable(width_15, height_15, 15);
        } else if (ret.ledLayout.commonInfo.pitch == 2) {
            checkActualLayout = new Array(height_20);
            logicalIdLayout = new Array(height_20);
            for (var i = 0; i < height_20; ++i) {
                checkActualLayout[i] = new Array(width_20);
                logicalIdLayout[i] = new Array(width_20);
            }
            initArray();
            for (var i = 0; i < ret.ledLayout.ldmList.length; i++) {
                returnToArrayPos(ret.ledLayout.ldmList[i].x, ret.ledLayout.ldmList[i].y);
                checkActualLayout[Number(locationObject.y)][Number(locationObject.x)] = true;
                logicalIdLayout[Number(locationObject.y)][Number(locationObject.x)] =
                    ret.ledLayout.ldmList[i].id.substr(ret.ledLayout.ldmList[i].id.indexOf('.') + 1);
            }
            makeLayoutTable(width_20, height_20, 20);
        } else if (ret.ledLayout.commonInfo.pitch == 2.5) {
            checkActualLayout = new Array(height_25);
            logicalIdLayout = new Array(height_25);
            for (var i = 0; i < height_25; ++i) {
                checkActualLayout[i] = new Array(width_25);
                logicalIdLayout[i] = new Array(width_25);
            }
            initArray();
            for (var i = 0; i < ret.ledLayout.ldmList.length; i++) {
                returnToArrayPos(ret.ledLayout.ldmList[i].x, ret.ledLayout.ldmList[i].y);
                checkActualLayout[Number(locationObject.y)][Number(locationObject.x)] = true;
                logicalIdLayout[Number(locationObject.y)][Number(locationObject.x)] =
                    ret.ledLayout.ldmList[i].id.substr(ret.ledLayout.ldmList[i].id.indexOf('.') + 1);
            }
            makeLayoutTable(width_25, height_25, 25);
        }
       
        $("#ledLayout td" ).on("mouseover", function() {
            if ($(this).attr('bgcolor') != "#F6CEEC") {
                currentHoverColor = $(this).attr('bgcolor');
            }
            $(this).attr("bgcolor", "#F6CEEC"); 
        });

        $("#ledLayout td" ).on("mouseleave", function() {
            $(this).attr("bgcolor", currentHoverColor);
        });

        $(".actualLayout").click(function(){
            if (Object.keys(prevSelectedBox).length != 0) {
                prevSelectedBox.css('border', 'none');
            }
            prevSelectedBox = $(this);
            overlayControl(true, 'selected LDM Vlaue Loading....');

            $(this).css('border-color', 'black');
            $(this).css('border-style', 'solid');
            $(this).css('border-top-width', '3px');
            var endIndex = $(this).text().indexOf("(");
            var targetId = $(this).text().substr(0, endIndex);
            $('#currentSelectedId').html("<font color='blue'>" + $(this).text() + "</font>");

            targetId = logicalFormatChange(targetId);
            currentLdmId = targetId;
            currentLedCtrlId = makeLedCtrlId(targetId);
            $('input:radio[name=selectedEdgePosition][value="top"]').prop('checked', true);

            console.log(currentLdmId);
            getLdmError(currentLdmId, function(ret) {
                changeLdm(ret.result.info["thermalVal"], ret.result.info["thermalStat"]);
                console.log("1");

                getLedCtrlError(currentLedCtrlId, function(ret) {  
                    changeLedCtrl(ret.result.info["thermalVal"], ret.result.info["thermalStat"],
                        ret.result.info["ledPower"], ret.result.info["signal1"], ret.result.info["signal2"] );
                        console.log("2");

                        getLdmRgbInfo(currentLdmId, function(ret) {
                            console.log("3");
                            $("#currentLdm_Red").val(Number(ret.result.r)/2);
                            $("#currentLdm_RedVal").val(Number(ret.result.r)/2);

                            $("#currentLdm_Green").val(Number(ret.result.g)/2);
                            $("#currentLdm_GreenVal").val(Number(ret.result.g)/2);

                            $("#currentLdm_Blue").val(Number(ret.result.b)/2);
                            $("#currentLdm_BlueVal").val(Number(ret.result.b)/2);

                            var ldmColorMax = Math.max(Math.max(Number(ret.result.r), Number(ret.result.g)), Number(ret.result.b));
                            console.log(ldmColorMax);
                            $('#currentLdm_All').val(ldmColorMax/2);
                            $("#currentLdm_AllVal").val(ldmColorMax/2);
                            currentLdmMaxVal = ldmColorMax/2;

                            getLdmEdgeCalInfo(currentLdmId, function(ret) {
                                console.log("4");
                                var top = ret.result.top;
                                var bottom = ret.result.bottom;
                                var left = ret.result.left;
                                var right = ret.result.right;

                                currentSelectedEdgeVal.top = {r: top.r, g: top.g, b: top.b, w: top.w};
                                currentSelectedEdgeVal.bottom = {r: bottom.r, g: bottom.g, b: bottom.b, w: bottom.w};
                                currentSelectedEdgeVal.left = {r: left.r, g: left.g, b: left.b, w: left.w};
                                currentSelectedEdgeVal.right = {r: right.r, g: right.g, b: right.b, w: right.w};
                                getSelectedEdgeVal();
                                overlayControl(false);
                                });
                        });
                });
            });

            $("input[name=selectedEdgePosition]").click( function() {
                overlayControl(true, 'Ldm Edge Value Loading....');
                getLdmEdgeCalInfo(currentLdmId, function(ret) {
                    var top = ret.result.top;
                    var bottom = ret.result.bottom;
                    var left = ret.result.left;
                    var right = ret.result.right;
                        
                    currentSelectedEdgeVal.top = {r: top.r, g: top.g, b: top.b, w: top.w};
                    currentSelectedEdgeVal.bottom = {r: bottom.r, g: bottom.g, b: bottom.b, w: bottom.w};
                    currentSelectedEdgeVal.left = {r: left.r, g: left.g, b: left.b, w: left.w};
                    currentSelectedEdgeVal.right = {r: right.r, g: right.g, b: right.b, w: right.w};
                    getSelectedEdgeVal();
                    overlayControl(false);
                    });
                });
        });
    });
}

function getSelectedEdgeVal() {
    var selectedPosition;
    var maxColorVal;
    var radioVal = $("input[name=selectedEdgePosition]:checked").val();
    if (radioVal == 'top') {
        selectedPosition = currentSelectedEdgeVal.top;
    } else if (radioVal == 'bottom') {
        selectedPosition = currentSelectedEdgeVal.bottom;
    } else if (radioVal == 'left') {
        selectedPosition = currentSelectedEdgeVal.left;
    } else if (radioVal == 'right') {
        selectedPosition = currentSelectedEdgeVal.right;
    }

    maxColorVal = Math.ceil(24000/Math.max(Math.max(selectedPosition.r, selectedPosition.g), selectedPosition.b));
    currentLdmEdge_White.max = maxColorVal;
    currentLdmEdge_WhiteVal.max = maxColorVal;
    $("#whiteRange").html("[0 ~ "+ maxColorVal + "]");

    $("#currentLdmEdge_Red").val(Number(selectedPosition.r)/2);
    $("#currentLdmEdge_RedVal").val(Number(selectedPosition.r)/2);
    $("#currentLdmEdge_Green").val(Number(selectedPosition.g)/2);
    $("#currentLdmEdge_GreenVal").val(Number(selectedPosition.g)/2);
    $("#currentLdmEdge_Blue").val(Number(selectedPosition.b)/2);
    $("#currentLdmEdge_BlueVal").val(Number(selectedPosition.b)/2);
    $("#currentLdmEdge_White").val(100);
    $("#currentLdmEdge_WhiteVal").val(100);
} 

function changeLdm(thermalVal, thermalStat) {
    $('#ldmThermalVal').text(thermalVal);
    $('#ldmThermalStat').text(thermalStat);
}

function changeLedCtrl(thermalVal, thermalStat, ledPower, signal1, signal2) {
    $('#ledCtrlThermalVal').text(thermalVal);
    $('#ledCtrlThermalStat').text(thermalStat);
    $('#ledCtrlPower').text(ledPower);
    $('#ledCtrlSignal1').text(signal1);
    $('#ledCtrlSignal2').text(signal2);
}

function changeSysCtrl(thermalVal, thermalStat, signal, fan) {
    $('#sysCtrlThermalVal').text(thermalVal);
    $('#sysCtrlThermalStat').text(thermalStat);
    $('#sysCtrlSignal').text(signal);
    $('#sysCtrlFan').text(fan);
}

function makeLayoutTable(width, height, pitch) {
    for (var i = 0; i < height; ++i) {
        var row = '<tr>';
        for (var j = 0; j < width; ++j) {
            var currentledCtrlColor = '';
            var clickEvent = '';
            if (pitch == 15) {
                currentledCtrlColor = checkActualLayout[i][j] ? ledCtrlColor[(j) % 3] : blockColor;
            } else if (pitch == 20) {
                var ledCtrlId = (j % 4) < 2 ? 1 : 2;
                if (Math.floor((i % 12) / 6) == 1) {
                    ledCtrlId = ledCtrlId == 1 ? 4 : 3;
                }
                currentledCtrlColor = checkActualLayout[i][j] ? ledCtrlColor[Number(ledCtrlId)-1] : blockColor;
            } else if (pitch == 25) {
                var ledCtrlId = (j % 5) < 3 ? 1 : 2;
                if (Math.floor((i % 15) / 8) == 1) {
                    ledCtrlId = ledCtrlId == 1 ? 4 : 3;
                }
                currentledCtrlColor = checkActualLayout[i][j] ? ledCtrlColor[Number(ledCtrlId)-1] : blockColor;
            }
            if (checkActualLayout[i][j]) {
                row += '<td class="actualLayout" bgcolor =' + currentledCtrlColor + ' style="cursor: pointer"><p class="jb-xx-small">';
                row += logicalIdLayout[i][j] + '</br>';
            } else {
                row += '<td bgcolor =' + currentledCtrlColor + '><p class="jb-xx-small">';
            }
            row += '(' + calculateId(j, i) + ')</td>';
        }
        row += '</p></tr>';
        $('#ledLayout').append(row);
    }
}

function makeEdgeVal(color, position, changeVal) {
    console.log(color, position, changeVal);
    
    if (color == 'w') {
        edgeVal = [Math.ceil(currentSelectedEdgeVal.top[color]*changeVal), Math.ceil(currentSelectedEdgeVal.bottom[color]*changeVal), 
            Math.ceil(currentSelectedEdgeVal.left[color]*changeVal), Math.ceil(currentSelectedEdgeVal.right[color]*changeVal)];
    }
    
    if (position == 'top') {
        edgeVal = [changeVal, currentSelectedEdgeVal.bottom[color], currentSelectedEdgeVal.left[color], currentSelectedEdgeVal.right[color]];
    } else if (position == 'bottom') {
        edgeVal = [currentSelectedEdgeVal.top[color], changeVal, currentSelectedEdgeVal.left[color], currentSelectedEdgeVal.right[color]];
    } else if (position == 'left') {
        edgeVal = [currentSelectedEdgeVal.top[color], currentSelectedEdgeVal.bottom[color], changeVal, currentSelectedEdgeVal.right[color]];
    } else if (position == 'right') {
        edgeVal = [currentSelectedEdgeVal.top[color], currentSelectedEdgeVal.bottom[color], currentSelectedEdgeVal.left[color], changeVal];
    }
    console.log(edgeVal);
}

$(document).ready(function(){
    getSysCtrlId(function(ret) {
        sysCtrlId = ret.result.id;
        $('#sysId').text(sysCtrlId);
        getPitchInfo(sysCtrlId, function(ret) {
            currentPitch = ret.result.pitch;
            makeActualLayoutInfo();
        });

        getSysCtrlError(sysCtrlId, function(ret) {
            changeSysCtrl(ret.result.info["thermalVal"], ret.result.info["thermalStat"], 
                ret.result.info["signal"], ret.result.info["fan"]);
		});

        $('#valReload').click( function() {
            if (Object.keys(prevSelectedBox).length == 0) {
                alert("Select LDM");
                return;
            }
            getSysCtrlError(sysCtrlId, function(ret) {
                changeSysCtrl(ret.result.info["thermalVal"], ret.result.info["thermalStat"], 
                ret.result.info["signal"], ret.result.info["fan"]);
		    });
            getLdmError(currentLdmId, function(ret) {
                changeLdm(ret.result.info["thermalVal"], ret.result.info["thermalStat"]);
            });
            getLedCtrlError(currentLedCtrlId, function(ret) {  
                changeLedCtrl(ret.result.info["thermalVal"], ret.result.info["thermalStat"],
                    ret.result.info["ledPower"], ret.result.info["signal1"], ret.result.info["signal2"] );
            });
        });

        $('#blinking').click( function() {
            if (Object.keys(prevSelectedBox).length == 0) {
                alert("Select LDM");
                return;
            }
            setLdmPatternBlinking(currentLdmId, function(ret) {
                console.log(ret);
            }); 
        });
    });


    $("#selectTable td" ).on( "mouseover", function() { 
        $( this ).css("background-color", "#F6CEEC" ); 
        $( this).css("cursor", "pointer" ); 
    });

    $("#selectTable td" ).on( "mouseleave", function() {
        if ($(this).attr('id') != selectSection) {
            $( this ).css("background-color", "#E6E6E6" );
        } else {
            $( this ).css("background-color", "#F2F5A9" );
        }
    });

    $("#selectTable td").click( function() {
        if (Object.keys(prevSelectedBox).length == 0) {
            alert("Select LDM");
            return;
        }    
        $("#selectTable td").css("background-color", "#E6E6E6" );
        $(this).css("background-color", "#F2F5A9");
        console.log($(this).attr('id'));
        if ($(this).attr('id') == 'firstSection') {
            $('#layoutGetValue').show();
            $('#layoutSetValue').hide();
        } else if ($(this).attr('id') == 'secondSection') {
            $('#layoutGetValue').hide();
            $('#layoutSetValue').show();
        }
        selectSection = $(this).attr('id');
    });

     $('#currentLdmEdge_RedVal').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        var radioVal = $("input[name=selectedEdgePosition]:checked").val();
        makeEdgeVal('r', radioVal, 2*Number($(this).val()));
        console.log(edgeVal);

        setLdmEdgeCalInfo(currentLdmId, 'r', edgeVal, function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdmEdge_Red').val(Number($(this).val()));
        });

    $('#currentLdmEdge_Red').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        var radioVal = $("input[name=selectedEdgePosition]:checked").val();
        makeEdgeVal('r', radioVal, 2*Number($(this).val()));
        console.log(edgeVal);

        setLdmEdgeCalInfo(currentLdmId, 'r', edgeVal, function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdmEdge_RedVal').val(Number($(this).val()));
        });

    $('#currentLdmEdge_GreenVal').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        var radioVal = $("input[name=selectedEdgePosition]:checked").val();
        makeEdgeVal('g', radioVal, 2*Number($(this).val()));

        setLdmEdgeCalInfo(currentLdmId, 'g', edgeVal, function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdmEdge_Green').val(Number($(this).val()));
        });


    $('#currentLdmEdge_Green').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        var radioVal = $("input[name=selectedEdgePosition]:checked").val();
        makeEdgeVal('g', radioVal, 2*Number($(this).val()));

        setLdmEdgeCalInfo(currentLdmId, 'g', edgeVal, function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdmEdge_GreenVal').val(Number($(this).val()));
        });

    $('#currentLdmEdge_BlueVal').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        var radioVal = $("input[name=selectedEdgePosition]:checked").val();
        makeEdgeVal('b', radioVal, 2*Number($(this).val()));

        setLdmEdgeCalInfo(currentLdmId, 'b', edgeVal, function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdmEdge_Blue').val(Number($(this).val()));
        });


    $('#currentLdmEdge_Blue').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        var radioVal = $("input[name=selectedEdgePosition]:checked").val();
        makeEdgeVal('b', radioVal, 2*Number($(this).val()));

        setLdmEdgeCalInfo(currentLdmId, 'b', edgeVal, function(ret) {
            overlayControl(false);
        });
        }).on('input', function () {
            $('#currentLdmEdge_BlueVal').val(Number($(this).val()));
        });

    $('#currentLdmEdge_WhiteVal').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        var radioVal = $("input[name=selectedEdgePosition]:checked").val();
        makeEdgeVal('w', radioVal, 2*Number($(this).val()));

        setLdmEdgeCalInfo(currentLdmId, 'w', edgeVal, function(ret) {
            getLdmEdgeCalInfo(currentLdmId, function(ret) {
                var top = ret.result.top;
                var bottom = ret.result.bottom;
                var left = ret.result.left;
                var right = ret.result.right;
                        
                currentSelectedEdgeVal.top = {r: top.r, g: top.g, b: top.b, w: top.w};
                currentSelectedEdgeVal.bottom = {r: bottom.r, g: bottom.g, b: bottom.b, w: bottom.w};
                currentSelectedEdgeVal.left = {r: left.r, g: left.g, b: left.b, w: left.w};
                currentSelectedEdgeVal.right = {r: right.r, g: right.g, b: right.b, w: right.w};
                getSelectedEdgeVal();
                overlayControl(false);
                });
        });
        }).on('input', function () {
            $('#currentLdmEdge_White').val(Number($(this).val()));
        });

    $('#currentLdmEdge_White').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        var radioVal = $("input[name=selectedEdgePosition]:checked").val();
        makeEdgeVal('w', radioVal, 2*Number($(this).val()));

        setLdmEdgeCalInfo(currentLdmId, 'w', edgeVal, function(ret) {
            getLdmEdgeCalInfo(currentLdmId, function(ret) {
                var top = ret.result.top;
                var bottom = ret.result.bottom;
                var left = ret.result.left;
                var right = ret.result.right;
                        
                currentSelectedEdgeVal.top = {r: top.r, g: top.g, b: top.b, w: top.w};
                currentSelectedEdgeVal.bottom = {r: bottom.r, g: bottom.g, b: bottom.b, w: bottom.w};
                currentSelectedEdgeVal.left = {r: left.r, g: left.g, b: left.b, w: left.w};
                currentSelectedEdgeVal.right = {r: right.r, g: right.g, b: right.b, w: right.w};
                getSelectedEdgeVal();
                overlayControl(false);
                });
        });
        }).on('input', function () {
            $('#currentLdmEdge_WhiteVal').val(Number($(this).val()));
        });

    $('#currentLdm_All').change(function () {
        overlayControl(true, '......');
        var changeVal = $(this).val() - currentLdmMaxVal;
        
        setLdmRgbInfo(currentLdmId, 2*Number(Number($('#currentLdm_Red').val()) + changeVal), 2*Number(Number($('#currentLdm_Green').val()) + changeVal), 2*Number(Number($('#currentLdm_Blue').val()) + changeVal), function(ret) {
            currentLdmMaxVal += changeVal;
            getLdmRgbInfo(currentLdmId, function(ret) {
                $("#currentLdm_Red").val(Number(ret.result.r)/2);
                $("#currentLdm_RedVal").val(Number(ret.result.r)/2);
                $("#currentLdm_Green").val(Number(ret.result.g)/2);
                $("#currentLdm_GreenVal").val(Number(ret.result.g)/2);
                $("#currentLdm_Blue").val(Number(ret.result.b)/2);
                $("#currentLdm_BlueVal").val(Number(ret.result.b)/2);
                overlayControl(false);
            });
        });
        }).on('input', function () {
            $('#currentLdm_AllVal').val(Number($(this).val()));
        });

    $('#currentLdm_AllVal').change(function () {
        if (Number($(this).val()) > 120 || Number($(this).val()) < 0) {
            alert("Invalid Number Set / Not Setting Value");
            $('#currentLdm_WhiteVal').val($('#currentLdm_White').val());
            return;
        }
        overlayControl(true, '......');
        var changeVal = $(this).val() - currentLdmMaxVal;
        setLdmRgbInfo(currentLdmId, 2*Number(Number($('#currentLdm_Red').val()) + changeVal), 2*Number(Number($('#currentLdm_Green').val()) + changeVal), 2*Number(Number($('#currentLdm_Blue').val()) + changeVal), function(ret) {
            currentLdmMaxVal += changeVal;
            getLdmRgbInfo(currentLdmId, function(ret) {
                $("#currentLdm_Red").val(Number(ret.result.r)/2);
                $("#currentLdm_RedVal").val(Number(ret.result.r)/2);
                $("#currentLdm_Green").val(Number(ret.result.g)/2);
                $("#currentLdm_GreenVal").val(Number(ret.result.g)/2);
                $("#currentLdm_Blue").val(Number(ret.result.b)/2);
                $("#currentLdm_BlueVal").val(Number(ret.result.b)/2);
                overlayControl(false);
            });
        });
        }).on('input', function () {
            $('#currentLdm_All').val(Number($(this).val()));
        });

    $('#currentLdm_RedVal').change(function () {
        if (Number($(this).val()) > 120 || Number($(this).val()) < 0) {
            alert("Invalid Number Set / Not Setting Value");
            $('#currentLdm_RedVal').val($('#currentLdm_Red').val());
            return;
        }
        overlayControl(true, '......');
        setLdmRgbInfo(currentLdmId, 2*Number($(this).val()), 2*Number($('#currentLdm_Green').val()), 2*Number($('#currentLdm_Blue').val()), function(ret) {
            getLdmRgbInfo(currentLdmId, function(ret) {
                var ldmColorMax = Math.max(Math.max(Number(ret.result.r), Number(ret.result.g)), Number(ret.result.b));
                $('#currentLdm_All').val(ldmColorMax/2);
                $("#currentLdm_AllVal").val(ldmColorMax/2);
                currentLdmMaxVal = ldmColorMax/2;
                overlayControl(false);
            });
        });
        }).on('input', function () {
            $('#currentLdm_Red').val(Number($(this).val()));
        });

    $('#currentLdm_GreenVal').change(function () {
        if (Number($(this).val()) > 120 || Number($(this).val()) < 0) {
            alert("Invalid Number Set / Not Setting Value");
            $('#currentLdm_GreenVal').val($('#currentLdm_Green').val());
            return;
        }
        overlayControl(true, '......');
        setLdmRgbInfo(currentLdmId, 2*Number($('#currentLdm_Red').val()), 2*Number($(this).val()), 2*Number($('#currentLdm_Blue').val()), function(ret) {
            getLdmRgbInfo(currentLdmId, function(ret) {
                var ldmColorMax = Math.max(Math.max(Number(ret.result.r), Number(ret.result.g)), Number(ret.result.b));
                $('#currentLdm_All').val(ldmColorMax/2);
                $("#currentLdm_AllVal").val(ldmColorMax/2);
                currentLdmMaxVal = ldmColorMax/2;
                overlayControl(false);
            });
        });
        }).on('input', function () {
            $('#currentLdm_Green').val(Number($(this).val()));
        });
    
    $('#currentLdm_BlueVal').change(function () {
        if (Number($(this).val()) > 120 || Number($(this).val()) < 0) {
            alert("Invalid Number Set / Not Setting Value");
            $('#currentLdm_BlueVal').val($('#currentLdm_Blue').val());
            return;
        }
        overlayControl(true, '......');
        setLdmRgbInfo(currentLdmId, 2*Number($('#currentLdm_Red').val()), 2*Number($('#currentLdm_Green').val()), 2*Number($(this).val()), function(ret) {
            getLdmRgbInfo(currentLdmId, function(ret) {
                var ldmColorMax = Math.max(Math.max(Number(ret.result.r), Number(ret.result.g)), Number(ret.result.b));
                $('#currentLdm_All').val(ldmColorMax/2);
                $("#currentLdm_AllVal").val(ldmColorMax/2);
                currentLdmMaxVal = ldmColorMax/2;
                overlayControl(false);
            });
        });
        }).on('input', function () {
            $('#currentLdm_Blue').val(Number($(this).val()));
        });

    $('#currentLdm_Red').change(function () {
        overlayControl(true, '......');
        console.log(currentLdmId);
        setLdmRgbInfo(currentLdmId, 2*Number($(this).val()), 2*Number($('#currentLdm_Green').val()), 2*Number($('#currentLdm_Blue').val()), function(ret) {
            getLdmRgbInfo(currentLdmId, function(ret) {
                var ldmColorMax = Math.max(Math.max(Number(ret.result.r), Number(ret.result.g)), Number(ret.result.b));
                $('#currentLdm_All').val(ldmColorMax/2);
                $("#currentLdm_AllVal").val(ldmColorMax/2);
                currentLdmMaxVal = ldmColorMax/2;
                overlayControl(false);
            });
        });
        }).on('input', function () {
            $('#currentLdm_RedVal').val(Number($(this).val()));
        });

    $('#currentLdm_Green').change(function () {
        overlayControl(true, '......');
        setLdmRgbInfo(currentLdmId, 2*Number($('#currentLdm_Red').val()), 2*Number($(this).val()), 2*Number($('#currentLdm_Blue').val()), function(ret) {
            getLdmRgbInfo(currentLdmId, function(ret) {
                var ldmColorMax = Math.max(Math.max(Number(ret.result.r), Number(ret.result.g)), Number(ret.result.b));
                $('#currentLdm_All').val(ldmColorMax/2);
                $("#currentLdm_AllVal").val(ldmColorMax/2);
                currentLdmMaxVal = ldmColorMax/2;
                overlayControl(false);
            });
        });
        }).on('input', function () {
            $('#currentLdm_GreenVal').val(Number($(this).val()));
        });

    $('#currentLdm_Blue').change(function () {
        overlayControl(true, '......');
        setLdmRgbInfo(currentLdmId, 2*Number($('#currentLdm_Red').val()), 2*Number($('#currentLdm_Green').val()), 2*Number($(this).val()), function(ret) {
            getLdmRgbInfo(currentLdmId, function(ret) {
                var ldmColorMax = Math.max(Math.max(Number(ret.result.r), Number(ret.result.g)), Number(ret.result.b));
                $('#currentLdm_All').val(ldmColorMax/2);
                $("#currentLdm_AllVal").val(ldmColorMax/2);
                currentLdmMaxVal = ldmColorMax/2;
                overlayControl(false);
            });
        });
        }).on('input', function () {
            $('#currentLdm_BlueVal').val(Number($(this).val()));
        });
        console.log($('input[name=selectedEdgePosition]:checked').val());

});
</script>
