<style>
    th, td {
        text-align: left;
    }
</style>

<script>
var languageTable = {{{json languageTable}}};
</script>
<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			LED PSU API test page
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style='width: 1000px;'>
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/ledSignage/language'>Go to System Controller Settings</a>
            </div>

            <div class="panel-body" id="fanDiv">
			<h4>PSU Setting</h4>
				<table class=table>
                    <tr>
                        <th>Current SysCtrl Ip</th>
                        <td></td>
                        <td id='sysCtrlIp'></td>
                    </tr>
					<tr>
						<th>PSU Setting Info LOAD</th>
                        <td><input type=number id=firstIp value=192 min=0 max=255>&nbsp;.&nbsp;
                        <input type=number id=secondIp value=168 min=0 max=255>&nbsp;.&nbsp;
                        <input type=number id=thirdIp value=0 min=0 max=255>&nbsp;.&nbsp;<font color='blue'>(</font>
                        <input type=number id=startIp value=1 min=0 max=255>&nbsp; ~ &nbsp;
                        <input type=number id=endIp value=255 min=0 max=255>&nbsp;<font color='blue'>)</font></td>
						<td><button id='btnGetPsuLayout'>GET</button> <button id='btnShowHidePsuLayout'>Show/Hide</button> </td>

                    </tr>
                    <tr id="trPsuLayoutDiv" style="display:none;">
						<td colspan=3>
							<div id=layoutPsuLayoutDiv class=col-md-12 style='overflow:auto; height:200px;'>
							</div>
						</td>
					</tr>
                    <tr>
                        <th>Save Layout</th>
                        <td></td>
                        <td><button id='btnSavePsuLayout'>SAVE ALL LAYOUT</button></td>
                </table>
 
            <h4>System Controller Setting</h4>
				<table class=table>
					<tr>
                        <th>PSU List Registered on System Controller</th>
                        <td></td>
						<td>
                            <button id='btnGetPsuList'>GET</button> <button id='btnShowHidePsuList'>Show/Hide</button>
                        </td>
                    </tr>
                    <tr id="trPsuListDiv" style="display:none;">
						<td colspan=3>
							<div id=layoutPsuListDiv class=col-md-12 style='overflow:auto; height:300px;'>
							</div>
						</td>
					</tr>
                    <tr>
                        <th>Delete PSU List Registered on System Controller</th>
                        <td></td>
						<td>
                            <button id='btnDeletePsuList'>Delete</button>
						</td>
					</tr>
                    <tr>
                        <th> Register PSU on the System Controller&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" onclick="javascript:addRow()">Add Row(PSU IP)</button>&nbsp;&nbsp;&nbsp;<button id='btnSetPsuList'>Set PSU List</button></th>
                    </tr>
                    <tr>
                        <table id='addPsuIPT' class=table border=1>
                            <tr>
                                <td> PSU IP </td>
                                <td> Auto Setting PSU ID </td>
                                <td> PSU ID </td>
                            </tr>
                            <tbody id="psuTbody">
                            </tbody>
                        </table>
                    </tr>
                    <tr>
                        <td> If you want to manually set the PSU ID, please enter the value in the PSU ID column.
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>

var psuLayout = {};
var psuLayoutCommand = "";
var index = 0;
var sysCtrlIp = '';
var ipRange = {};
var sysCtrlId = '1';
var psuList = {};
var psuListCommand="";
var psuIdArray = new Array;
var addPsuId = '1';
var addPsuIdArray = new Array;
var setPsuIpArray = [];

function printPsuList(items) {

    psuListCommand = psuListCommand + "<h4>PsuList  |  (psuMax : " + items.psuMax + ")  ";
    psuListCommand = psuListCommand + "(psuMin : " + items.psuMin + ")</h4>";

    psuListCommand = psuListCommand + "<table class='table' border=2>";
    psuListCommand = psuListCommand + "<tr><th> id </th><th> ip </th><th> ipv6 </th><th> mac </th><th> port </th><th> type </th></tr>"; 

    for( var psuList in items.psuList ) {

        var psuListValue = items.psuList[psuList];

        psuListCommand = psuListCommand + "<tr><td>" + psuListValue.id + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.ip + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.ipv6 + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.mac + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.port + "</td>";
        psuListCommand = psuListCommand + "<td>" + psuListValue.type + "</td>";
    }
    psuListCommand = psuListCommand + "</table>";
}

function addRow() {
    psuListArray = document.getElementById('psuTbody');
    row = psuListArray.insertRow(psuListArray.rows.length);
    cell = row.insertCell(0);
    cell_2 = row.insertCell(1);
    cell_3 = row.insertCell(2);

    var addPsuIdVal = sysCtrlId + '-';
    while(1) {
        var check = true;
        for(var psuId in psuIdArray) {
            if(psuIdArray[psuId] == addPsuId) {
                check = false;
                break;
            }
        }
        if (check) { 
            addPsuIdVal = addPsuIdVal + addPsuId;
            psuIdArray.push(addPsuId);
            addPsuIdArray.push(addPsuId);
            break;
        }
        addPsuId ++;
    }

    cell.innerHTML = "<td><input type='text' name=sysPsuIp value=''></td>";
    cell_2.innerHTML = "<td name='defaultID'>" + addPsuIdVal + "</td>";
    cell_3.innerHTML = "<td><input type='text' name=sysPsuId value=''></td>";
}

function searchIpRangePrefix() {
    splitIp = sysCtrlIp.split('.');
    $('#firstIp').val(splitIp[0]);
    $('#secondIp').val(splitIp[1]);
    $('#thirdIp').val(splitIp[2]);
}

function printPsuLayout(items) {
    psuLayoutCommand = psuLayoutCommand + "<h4>PsuList</h4>";
    psuLayoutCommand = psuLayoutCommand + "<table class='table' border=2>";
    psuLayoutCommand = psuLayoutCommand + "<tr><th> Mac Address </th><th> IP </th><th>Set Id</th><th>Cpu ver.</th><th>Micom ver.</th><th> changeIP </th> <th>Save</th></tr>"; 

    for (var psu in items) {

        var currentIp = items[psu].ip;
        psuLayoutCommand = psuLayoutCommand + "<tr><td>" + items[psu].macAddr + "</td>";
        psuLayoutCommand = psuLayoutCommand + "<td>" + items[psu].ip + "</td>";
        psuLayoutCommand = psuLayoutCommand + "<td>" + items[psu].setId + "</td>";
        psuLayoutCommand = psuLayoutCommand + "<td>" + items[psu].cpu + "</td>";
        psuLayoutCommand = psuLayoutCommand + "<td>" + items[psu].micom + "</td>";
        psuLayoutCommand = psuLayoutCommand + "<td> <input type=text name=psuIp value=''> </td>";
        psuLayoutCommand = psuLayoutCommand + "<td> <input type='button' class='savePsuIp' value='SAVE' onclick='savePsu($(this).parent().parent().children().eq(1).text());'/> </td>";
    }
    psuLayoutCommand = psuLayoutCommand + "</table>";

}

function savePsu(currentIp) {

    overlayControl(true, '......');
    var psuIpArray = [];

    for (var i = 0; i < psuLayout.length; ++i) {
        if (psuLayout[i].ip == currentIp) {
            psuIpArray.push( {currentIp: psuLayout[i].ip, changeIp: $("input[name='psuIp']")[i].value });
            break;
        }
    }
    savePsuIp(psuIpArray, function(ret) {
        searchPsu(ipRange, function(ret) {
            psuLayout = ret;
            psuLayoutCommand = '';
            printPsuLayout(psuLayout);
            $('#layoutPsuLayoutDiv').html(psuLayoutCommand);
            overlayControl(false);
        });
    });
}

$(document).ready(function(){

    getSysCtrlId(function(ret) {
        console.log(ret);
        sysCtrlId = ret.result.id;
    });

    getPsuList( function(ret) {
        var rawPsuList = ret.result;
        for( var psuList in rawPsuList.psuList ) {
            var psuListValue = rawPsuList.psuList[psuList];
            var idNum = psuListValue.id.substring(psuListValue.id.indexOf('-')+1);
            psuIdArray.push(idNum);
        }
    });

    getNetworkStatus(function (ret) {
        $("#sysCtrlIp").text(ret.wired.ipAddress);
    });

    $('#pageTitle').html('LED FPGA API TEST');

    $('#btnGetPsuList').click(function() {
	    overlayControl(true, '......');
        getPsuList( function(ret) {
			psuList = ret.result;
			psuListCommand = '';
			printPsuList(psuList);
			$('#layoutPsuListDiv').html(psuListCommand);
			$('#trPsuListDiv').show();
			overlayControl(false);
		});
    });

    $('#btnSetPsuList').click(function() {
        overlayControl(true, '......');
        setPsuIpArray = [];
 
        for(var i = 0; i < $('#addPsuIPT >tbody >tr').length-1; ++i) {
            var psuId = $("input[name='sysPsuId']")[i].value == null || $("input[name='sysPsuId']")[i].value == undefined || $("input[name='sysPsuId']")[i].value == "" ? sysCtrlId + '-' + addPsuIdArray[i] : $("input[name='sysPsuId']")[i].value;
            setPsuIpArray.push( {ip :$("input[name='sysPsuIp']")[i].value, id :psuId, port: 9761});
        }

        setPsuList( setPsuIpArray, function(ret) {
            var text = ret.hasOwnProperty('errorText') ? "ERROR : " + ret.errorText : "SUCCESS";
            overlayControl(false);
            alert(text);
        });
    });

    $('#btnShowHidePsuList').click(function() {
        $('#trPsuListDiv').toggle();
    });

    $('#btnDeletePsuList').click(function() {
        var confirmVal = confirm("Are you sure you want to delete PSU List?");
        if(confirmVal) {
           overlayControl(true, '......');
           deletePsuList( function(ret) {
               overlayControl(false);
            });
        }
    });

    $('#btnGetPsuLayout').click(function() {
        overlayControl(true, '......');
        ipRange = {firstIp: $("#firstIp").val(), secondIp: $("#secondIp").val(), thirdIp: $("#thirdIp").val(), startIp: $("#startIp").val(), endIp: $("#endIp").val()};

        searchPsu(ipRange, function(ret) {
            psuLayout = ret;
            psuLayoutCommand = '';
            printPsuLayout(psuLayout);
            $('#layoutPsuLayoutDiv').html(psuLayoutCommand);
            $('#trPsuLayoutDiv').show();
            overlayControl(false);
        });
    });

    $('#btnShowHidePsuLayout').click(function() {
        $('#trPsuLayoutDiv').toggle();
    });

    $('#btnSavePsuLayout').click(function() {
        overlayControl(true, '......');
        var psuIpArray = [];

        for (var i = 0; i < $("input[name='psuIp']").length; ++i) {
            if ($("input[name='psuIp']")[i].value != '') {
                psuIpArray.push( {currentIp: psuLayout[i].ip, changeIp: $("input[name='psuIp']")[i].value})
            }
        }
        if(psuIpArray.length == 0) {
            overlayControl(false);
        } else {
            savePsuIp(psuIpArray, function(ret) {
                searchPsu(ipRange, function(ret) {
                    psuLayout = ret;
                    psuLayoutCommand = '';
                    printPsuLayout(psuLayout);
                    $('#layoutPsuLayoutDiv').html(psuLayoutCommand);
                    overlayControl(false);
                });
            });
        }
    });
});
</script>
