<script>
var languageTable = {{{json languageTable}}};
</script>
<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>

<style>
    input[type=range][class|="custom"] {
        -webkit-appearance: none;
        border: 1px solid white;
        width: 100%;
        margin-top: 8px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: darkgray;
    }

    .cardBtn, .whiteCardBtn, .darkGrayBtn, .mediaToolBarBtn, .calibBtn {
float: right;
	border: 2px solid;
	border-radius: 15px;
	height: 30px;
    width: 130px;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
	font-size: 13px;
    }

    .cardBtn, .whiteCardBtn {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #cf0652;
    }

    .whiteCardBtn {
	background-color: #F4C6EC;
	border-color: white;
    float: none;
    }

    .cardBtn:hover, .whiteCardBtn:hover, .calibBtn:hover {
	border-radius: 15px;
	background-color: #cf0652;
	border-color: #cf0652;
	color: #ffffff;
    }

    .cardBtn:active, .whiteCardBtn:active, .calibBtn:active {
	background-color: #4d4d4d;
	border-color: #cf0652;
	color: #ffffff;
    }

    .cardBtn:disabled, .whiteCardBtn:disabled {
	background-color: #bdbdbd;
	border-color: #bdbdbd;
	color: #ffffff;
    }
</style>

<div class="row">
    
    <div class="col-md-12">
        <h1 class="page-header">
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style='width: 1200px;'>
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/ledSignage/language'>Go to System Controller Settings</a>
            </div>

            <div class="panel-body" id="fanDiv">
                <div class="panel panel-default panel-wide">
                <div class="panel-heading" role="tab">
                    <h4 class='panel-title'>
                        <strong>{{getLanguageText "DBC Temparature"}}</strong>
                    </h4>
                </div>
                <div class="panel-body" id="fanPanel">
                    <div class="col-md-10">
                        <div class='col-md-12'>
                    <canvas id="dbcGraph" width="880" height="320"></canvas>
                    </div>
                </div>
                </div
            </div>
            <br/>
            <table class='table'>
                <tr>
                    <th style="width: 200px;" >Max Thermal / Target PM</th>
                    <td style="text-align:center;"><strong>Max Thermal : </strong><BIG><span id='maxThermalVal'></span></BIG>
                        &nbsp;&nbsp;&nbsp;<strong>Target PM percent : </strong><BIG><span id='targetPmVal'></span></BIG></td>
                    <td> <button id="loadTemp" class="whiteCardBtn">{{getLanguageText "LOAD VALUE"}}</button> </td>
                </tr>
                <tr>
                    <th style="width: 200px;;" > Set Temp </th>
                    <td colspan="2"> <select id="setTemp" style="width: 80px; height: 25px;"></select> </td>
                </tr>
                <tr>
                    <th style="width: 200px;"> Set PWM (0~100) </th>
                    <td style="width: 600px;"> <input class='custom' id='dbcRange' type=range min=0 max=100 value=0> </td>
                    <td style="width: 100px;"> <span id='dbcVal'>0</span> </td>
                </tr>
            </table>

            <br/>
            <br/>
            <h4> DBC TEMPERATURE / PWM </h4>
            <table class='table' id="getDbcValTable" style="border-style: solid; text-align: center;">
            </table>

            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>
var dbcVal = [];
var dbcTableArray = [
    '5C', '10C', '15C', '20C', '25C',
    '30C', '35C', '40C', '45C', '50C',
    '55C', '60C', '65C', '70C', '75C',
    '80C', '85C', '90C', '95C', '100C'
];

function getDbcValTable(dbcVal) {
    $('#getDbcValTable > tbody').empty();
    for (var index = 0; index < 4; ++index) {
        row = "<tr>";
        row += "<td class='second' style='background-color: #D8D8D8;' ><strong>" + dbcTableArray[index] + "</strong></td>";
        row += "<td class='second'>" + dbcVal[index] + "</td>";
        row += "<td class='second' style='background-color: #D8D8D8;'><strong>" + dbcTableArray[index + 4] + "</strong></td>";
        row += "<td class='second'>" + dbcVal[index + 4] + "</td>";
        row += "<td class='second' style='background-color: #D8D8D8;'><strong>" + dbcTableArray[index + 8] + "</strong></td>";
        row += "<td class='second'>" + dbcVal[index + 8] + "</td>";
        row += "<td class='second' style='background-color: #D8D8D8;'><strong>" + dbcTableArray[index + 12] + "</strong></td>";
        row += "<td class='second'>" + dbcVal[index + 12] + "</td>";
        row += "<td class='second' style='background-color: #D8D8D8;'><strong>" + dbcTableArray[index + 16] + "</strong></td>";
        row += "<td class='second'>" + dbcVal[index + 16] + "</td>";
        row += "</tr>";

        $('#getDbcValTable').append(row);
    }
}

function getDbcValRange(option) {
    overlayControl(true, '......');
    getDbcTable( function(ret) {
        for (dbcValue in ret.result.DBCTable) {
            var obj = ret.result.DBCTable[dbcValue];
           
            if (Number(option) == 5*(Number(dbcValue) + 1)) {
                $('#dbcRange').val(obj[Object.keys(obj)[0]]);
                $('#dbcVal').html(obj[Object.keys(obj)[0]]);
                overlayControl(false);
                break;
            }
        }
    });
}

function loadValue() {
    getMaxThermalVal( function(ret) {
        $('#maxThermalVal').html(ret.result.maxThermalVal);
    });
    getFinalPmVal( function(ret) {
        $('#targetPmVal').html(ret.result.finalPmVal);
    });
}

function makeOption() {
    for (var count = 5; count <= 100; count +=5) {
        var option = $("<option value ='" + count +"'>" + count + "°C</option>");
        $('#setTemp').append(option);
    }
}

var chartOption = {
    pointDot: true,
    pointDotRadius: 5,
    pointHitDetectionRadius: 3,
    datasetStrokeWidth: 3,

    scaleLabel: " <%=value%>",

    tooltipTemplate: "<%if (label){%><%=label%> -> <%}%><%=value%>",

    bezierCurve: false,
    maintainAspectRatio: true,
    animation: false
};

$(document).ready(function(){
    makeOption();  
    
    $('#setTemp').change(function() {
        getDbcValRange($(this).val());
    });

    $('#dbcRange').change(function () {
        overlayControl(true, '......');
        var selectedPWM = Number($(this).val());
        var changeDbcVal = new Object();
        var changeDbcData = [];
        getDbcTable( function(ret) {
            for (dbcValue in ret.result.DBCTable) {
                var obj = ret.result.DBCTable[dbcValue];
                var key = dbcTableArray[dbcValue];

                if (Number($("#setTemp").val()) == 5*(Number(dbcValue) + 1)) {
                    changeDbcVal[key] = selectedPWM;
                    changeDbcData.push(selectedPWM);
                } else {
                    changeDbcVal[key] = obj[Object.keys(obj)[0]];
                    changeDbcData.push(obj[Object.keys(obj)[0]]);
                }
            }
            setDbcTable( changeDbcVal, function(ret) {
                var dbcData = {
                    labels : ["5°C", "10°C", "15°C", "20°C", "25°C", "30°C", "35°C", "40°C", "45°C", "50°C", "55°C", "60°C", "65°C", "70°C", "75°C", "80°C", "85°C", "90°C", "95°C", "100°C"]
                    ,datasets : [
                    {
                        fillColor : "#F8E0EC",
                        strokeColor : "#A4A4A4",
                        pointColor : "#fff",
                        pointStrokeColor : "#9DB86D",
                        data : changeDbcData
                    }
                    ]
                }
                var dbcGraph = document.getElementById('dbcGraph').getContext('2d');
                new Chart(dbcGraph).Line(dbcData, chartOption);
                getDbcValTable(changeDbcData);
                overlayControl(false);
            });
        });
    }).on('input', function() {
        $('#dbcVal').html($(this).val());
    });

    getDbcTable( function(ret) {
        var index = 5;
        for (dbcValue in ret.result.DBCTable) {
            var obj = ret.result.DBCTable[dbcValue];
            dbcVal.push(obj[Object.keys(obj)[0]]);
            
            var dbcValId = '#dbcVal' + index;
            $('dbcValId').html(obj[Object.keys(obj)[0]]);
            if (Number(index) == 5) {
                $('#dbcRange').val(obj[Object.keys(obj)[0]]);
                $('#dbcVal').html(obj[Object.keys(obj)[0]]);
            }
            index += 5;
        }
        var dbcData = {
            labels : ["5°C", "10°C", "15°C", "20°C", "25°C", "30°C", "35°C", "40°C", "45°C", "50°C",
                "55°C", "60°C", "65°C", "70°C", "75°C", "80°C", "85°C", "90°C", "95°C", "100°C"]
                , datasets : [
                {
                    fillColor : "#F8E0EC",
                    strokeColor : "#A4A4A4",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : dbcVal
                }
            ]
        }
        var dbcGraph = document.getElementById('dbcGraph').getContext('2d');
        new Chart(dbcGraph).Line(dbcData, chartOption);
        getDbcValTable(dbcVal);
    });

    loadValue();
    $('#loadTemp').click( function() {
        loadValue();
    });
});

</script>
