<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/page/common.js"></script>

<style style="text/css">
/* Define the hover highlight color for the table row */
    td{
        font-family: Consolas;
        font-size: 14pt;
        text-align: center;
    }
    tr:hover {
        background-color: #eeeeee;
    }
    input[type=checkbox]
    {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
    padding: 10px;
    }

    .cardBtn, .whiteCardBtn, .darkGrayBtn, .mediaToolBarBtn, .calibBtn {
float: right;
	border: 2px solid;
	border-radius: 15px;
	height: 30px;
    width: 130px;
	padding: 3px 10px 1px 10px;
	font-weight: normal;
	outline: none;
	font-size: 13px;
}

    .cardBtn, .whiteCardBtn {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #cf0652;
    }

    .whiteCardBtn {
	background-color: #F4C6EC;
	border-color: white;
    float: none;
    }

.cardBtn:hover, .whiteCardBtn:hover, .calibBtn:hover {
	border-radius: 15px;
	background-color: #cf0652;
	border-color: #cf0652;
	color: #ffffff;
}

.cardBtn:active, .whiteCardBtn:active, .calibBtn:active {
	background-color: #4d4d4d;
	border-color: #cf0652;
	color: #ffffff;
}

.cardBtn:disabled, .whiteCardBtn:disabled {
	background-color: #bdbdbd;
	border-color: #bdbdbd;
	color: #ffffff;
}

</style>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
			LED SUM Test Page ( Register Value )
        </h1>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style='width: 1030px;'>
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                </h4>
            </div>
            <div class="panel-body" id="fanDiv">
				<a href='/ledSignage/language'>Go to System Controller Settings</a>
            </div>

            <div class="panel-body" id="fanDiv">
            <h4> USER SETTING FLAG : &nbsp; <input type=checkbox id="userFlag" class=grey> <label for="userFlag">&nbsp;</label></h4>
            <br/>
            <table id=bitmap class=hoverTable>
            <tr>
            <td width=100px>Color</td>
            <td width=150px>CF[Addr]</td>
            <td width=30px>15</td>
            <td width=30px>14</td>
            <td width=30px>13</td>
            <td width=30px>12</td>
            <td>|</td>
            <td width=30px>11</td>
            <td width=30px>10</td>
            <td width=30px>9</td>
            <td width=30px>8</td>
            <td>|</td>
            <td width=30px>7</td>
            <td width=30px>6</td>
            <td width=30px>5</td>
            <td width=30px>4</td>
            <td>|</td>
            <td width=30px>3</td>
            <td width=30px>2</td>
            <td width=30px>1</td>
            <td width=30px>0</td>
            <td width=100px>HEX</td>
            <td width=200px>BIN</td>
            </tr>
            </table>
            <br/>
            <button id="apply" class="whiteCardBtn">{{getLanguageText "Apply"}}</button>
            </div>
        </div>
    </div>
</div><!-- /.col-md-12 -->
<!-- /.row -->

<script>

var startAddrRed = 0xD0;
var startAddrGreen = 0xD8;
var startAddrBlue = 0xE0;
var rowName = ['CF4', 'CF3', 'CF2', 'CF1'];
var index = 0;
var colorArray = ['r', 'g', 'b'];
var overlayGetVal = 0;
var overlaySaveVal = 0;
var userFlagSet = false; // initial Load 

// 500nit 
var defaultRED = [7936, 115, 61859, 40779];
var defaultGREEN = [7936, 115, 45503, 8007];
var defaultBLUE = [7936, 114, 29119, 8009];

function toBinStr(val) {
    return ("000000000000000" + val.toString(2)).substr(-16);
}

function toHexStr(val) {
    return '0x' + (("000000000000000" + val.toString(16)).substr(-4));
}

function makeColorTable(colorAddr, color, colorCode) {
    index = 0;
    for (var i = colorAddr; i < colorAddr + 0x08; i = i + 0x02) {
        if (i == colorAddr) {
            var row = '<tr><td rowspan="4" style = "background-color:' + colorCode + ';">' + color + '</td><td>' + rowName[index] + '[0x' + i.toString(16) + ']</td>';
        } else {
            var row = '<tr><td>' + rowName[index] + '[0x' + i.toString(16) + ']</td>';
        }
        for (var j = 0; j != 16; ++j) {
            row += '<td><input type=checkbox name="addr' + i.toString(16) + '" value=' + (15 - j) + '></td>';
            if ((j == 3) || (j == 7) || (j==11)) {
                row += '<td>|</td>'
            }
        }
        row += '<td id="val' + i.toString(16) + '">0x0000</td>';
        row += '<td id="bin' + i.toString(16) + '">0000000000000000</td>';
        row += '</tr>';
        $('#bitmap').append(row);
        index ++;
    }
}

function makeAllTable() {
    makeColorTable(startAddrRed, "RED", "#F5BCA9");
    makeColorTable(startAddrGreen, "GREEN", "#BCF5A9");
    makeColorTable(startAddrBlue, "BLUE", "#A9E2F3");
}

function valRefresh(startAddr) {
    for(var index = startAddr; index < startAddr + 0x08; index = index + 0x02) {
        var addr = index.toString(16);
        var name = 'addr' + addr;
        var val = 0;
        $('[name="' + name + '"]').each(function() {
            if ($(this).prop('checked')) {
            val += 1 << $(this).val();
            }
        });
        $('#val' + addr).html(toHexStr(val));
        $('#bin' + addr).html(toBinStr(val));
    }
}

function getSUMRGBVal(color, startAddr) {
    getSUM2035RGB(color, function(ret) {
        var cfArray = ret.result[color];
        for (var index in cfArray) {
            var cfName = rowName[index];
            var sumVal = cfArray[index][cfName];
            var addr = startAddr + (index * 2);
            var name = 'addr' + addr.toString(16);

            $('#val' + addr.toString(16)).html(toHexStr(sumVal));
            $('#bin' + addr.toString(16)).html(toBinStr(sumVal));

            for (var i = 0; i != 16; ++i) {
                $('[name="' + name + '"][value="' + i + '"]').prop('checked', (sumVal & (1 << i)) != 0);
            }
        }
        if (overlayGetVal != 2) {
            overlayGetVal ++;
        } else {
            overlayGetVal = 0;
            overlayControl(false);
        }
    });
}

function loadSUMRGBVal() {
    overlayControl(true, 'loading SUM RGB Value');
    getSUMRGBVal('r', startAddrRed);
    getSUMRGBVal('g', startAddrGreen);
    getSUMRGBVal('b', startAddrBlue);
}

function sumValueSave(color, startAddr, load) {
    var cf4Val = 0;
    var cf3Val = 0;
    var cf2Val = 0;
    var cf1Val = 0;
  
    if (!load) {
        $('[name="addr' + startAddr.toString(16) + '"]').each(function() {
            if ($(this).prop('checked')) {
                cf4Val += 1 << $(this).val();
            }
        });

        startAddr += 0x02;
        $('[name="addr' + startAddr.toString(16) + '"]').each(function() {
            if ($(this).prop('checked')) {
                cf3Val += 1 << $(this).val();
            }
        });

        startAddr += 0x02;
        $('[name="addr' + startAddr.toString(16) + '"]').each(function() {
            if ($(this).prop('checked')) {
                cf2Val += 1 << $(this).val();
            }
        });

        startAddr += 0x02;
        $('[name="addr' + startAddr.toString(16) + '"]').each(function() {
            if ($(this).prop('checked')) {
                cf1Val += 1 << $(this).val();
            }
        });
    } else {
        var defaultArray;
        if (color == 'r') {
            defaultArray = defaultRED;
        } else if (color == 'g') {
            defaultArray = defaultGREEN;
        } else if (color == 'b') {
            defaultArray = defaultBLUE;
        }

        cf4Val = defaultArray[0];
        cf3Val = defaultArray[1];
        cf2Val = defaultArray[2];
        cf1Val = defaultArray[3];
    }

    var cfValue = {
        CF4: parseInt(cf4Val, 10),
        CF3: parseInt(cf3Val, 10),
        CF2: parseInt(cf2Val, 10),
        CF1: parseInt(cf1Val, 10)
    };

    setSUM2035RGB(color, cfValue, function(ret) {
        console.log(overlaySaveVal);
        if (overlaySaveVal !=2 ) {
            overlaySaveVal ++;
        } else {
            if (userFlagSet) {
                setSUM2035UserMode(true, function(ret) {
                    console.log("user Flag Set / Save");
                    userFlagSet = false;
                    overlayControl(false);
                    if (load) {
                        loadSUMRGBVal();
                    }
                });
            } else {
                console.log("SUM Value Save");
                overlayControl(false);
            }
            overlaySaveVal = 0;
        }
    });
}

$(document).ready(function(){
    makeAllTable();
    loadSUMRGBVal();

    $('[type=checkbox]').change(function() {

        if ($(this).attr('id') != "userFlag") {
            var name = $(this).attr('name');
            var val = 0;
            $('[name="' + name + '"]').each(function(idx) {
                if ($(this).prop('checked')) {
                    val += 1 << $(this).val();
                }
            });
            var addr = name.substring(4);
            $('#val' + addr).html(toHexStr(val));
            $('#bin' + addr).html(toBinStr(val));;
        }
    });

    getSUM2035UserMode( function(ret) {
        $('#userFlag').prop('checked', ret.result.on);
    });

    $('#apply').click( function() {
        getSUM2035UserMode( function(ret) {
            if (!ret.result.on) {
                alert("Please!! First change the mode to user.");
            } else {
                overlayControl(true, 'SUM Value Save');
                sumValueSave('r', startAddrRed, false);
                sumValueSave('g', startAddrGreen, false);
                sumValueSave('b', startAddrBlue, false);
            }
        });
    });

    $('#userFlag').change(function() {
        overlayControl(true, '......');
        var checked = $('#userFlag').prop('checked');

        if (checked) {
            console.log("check");
            userFlagSet = true;
            overlayControl(false);
            overlayControl(true, 'SUM Value Save');
            sumValueSave('r', startAddrRed, true);
            sumValueSave('g', startAddrGreen, true);
            sumValueSave('b', startAddrBlue, true);
        } else {
            setSUM2035UserMode(false, function(ret) {
                console.log("off");
                overlayControl(false);
                loadSUMRGBVal();
            });
        }
    });
});

</script>
