<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>

<style>
    @media (max-width: 359px) {
        .img-button-mobile.small {
            width: 120px;
            background-size: 100% 100%;
        }

        .img-button-mobile.small:active {
            width: 120px;
            background-size: 100% 100%;
        }

        input[type=password][class="custom passwd-mobile"] {
            width: 250px;
            background-size: 100% 100%;
        }

        input[type=password][class*="custom passwd-mobile"]:focus {
            width: 250px;
            background-size: 100% 100%;
        }
    }
</style>

<div class="row">
    <div class="col-md-12">
        <!-- Basic Status Here -->
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Change Password"}}
                </h4>
                <hr>
            </div>

            <form action='changePasswd' method='post'>
                <table class='table'>
                    <tbody>
                    <tr>
                        <td class="td-component-title">
                            {{getLanguageText "Current Password"}}<br>
                            <input type=password name=current id='current' class='custom passwd-mobile'>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-component-title">
                            {{getLanguageText "New Password"}}<br>
                            <input type=password name=passwd id='passwd' class='custom passwd-mobile'>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-component-title">
                            {{getLanguageText "Confirm New Password"}}<br>
                            <input type=password name=check id='check' class='custom passwd-mobile'>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel-bottom panel-mobile">
            <div class="wrapper-center">
                <a href="/dashBoard">
                    <button class='img-button-mobile small' id='cancel'>{{getLanguageText "Cancel"}}</button>
                </a>
                <button class='img-button-mobile small' id='change'>{{getLanguageText "Apply"}}</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#change").click(function (e) {
            e.preventDefault();
            var current = $("#current").val();
            var passwd = $("#passwd").val();
            var check = $("#check").val();

            checkPasswd(current, function (msg) {
                if (msg == true) {
                    if (passwd.length < 6) {
                        showWarning(getLanguageText(languageTable, "Input 6 or more characters"), 5000);
                        return;
                    }
                    if (passwd != check) {
                        showWarning(getLanguageText(languageTable, "Check whether two passwords are same"), 5000);
                        return;
                    }
                    $("form").submit();
                    alert(getLanguageText(languageTable, "Your Password has been changed."));
                } else {
                    showWarning(getLanguageText(languageTable, "Password is incorrect. Please Try Again"), 5000);
                    return;
                }
            });
        });

        $('#pageTitle').html(getLanguageText(languageTable, "Change Password"));
    });
</script>
