<script src="/js/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/charts.js"></script>

<div class="row">
    <div class="top-refresh">
        <button class="btn-refresh" onclick='window.location.reload();'>{{getLanguageText "Refresh"}}</button>
    </div>
    <div>
        <center>
            <ul class=pagination id=pager></ul>
        </center>
    </div>
    <br/>
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
                <h4 class='panel-title'>
                    <a href="javascript:void(0);" id="toggle-temperature" style="text-decoration:none; color:#6f6f6f;">
                        {{getLanguageText "Temperature"}}(
                        <span id="celsius">°C</span>
                        /
                        <span id="fahrenheit">°F</span>
                        )
                    </a>
                </h4>
                <hr>
            </div>
            <div class="panel-body" id=tempPanel>
                <div class='col-mo-10'>
                    <canvas id="tempChart"></canvas>
                </div>
                <div class="col-mo-2" id='tempLegend'>
                </div>
            </div>
        </div>
        {{#checkToSupportChart "fanRpm"}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <strong>{{getLanguageText "Fan RPM"}}</strong>
                </h4>
                <hr>
            </div>
            <div class="panel-body" id="fanPanel">
                <div class="col-mo-10">
                    <canvas id="fanChart"></canvas>
                </div>
                <div class="col-mo-2" id="fanLegend">
                </div>
            </div>
        </div>
        {{/checkToSupportChart}}
        {{#checkToSupportChart "backlight"}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <strong>{{getLanguageText "Backlight"}}/{{getLanguageText "EyeQ sensor"}}</strong>
                </h4>
                <hr>
            </div>
            <div class="panel-body" id="backlightPanel">
                <div class="col-mo-10">
                    <canvas id="backlightChart"></canvas>
                </div>
                <div class="col-mo-2" id="backlightLegend">
                </div>
            </div>
        </div>
        {{/checkToSupportChart}}
        {{#env.supportBrighness}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <strong>{{getLanguageText "Brightness"}}</strong>
                </h4>
                <hr>
            </div>
            <div class="panel-body" id="brightnessPanel">
                <div class="col-mo-10">
                    <canvas id="brightnessChart"></canvas>
                </div>
                <div class="col-mo-2" id="brightnessLegend">
                </div>
            </div>
        </div>
        {{/env.supportBrighness}}
        {{#env.supportAcCurrent}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <strong>{{getLanguageText "AC Current"}}</strong>
                </h4>
                <hr>
            </div>
            <div class="panel-body" id="AcCurrentPanel">
                <div class="col-mo-10">
                    <canvas id="AcCurrentChart"></canvas>
                </div>
                <div class="col-mo-2" id="AcCurrentLegend">
                </div>
            </div>
        </div>
        {{/env.supportAcCurrent}}
        {{#env.supportSolarVoltage}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <strong>{{getLanguageText "Solar"}}</strong>
                </h4>
                <hr>
            </div>
            <div class="panel-body" id="solarPanel">
                <div class="col-mo-10">
                    <canvas id="solarChart"></canvas>
                </div>
                <div class="col-mo-2" id="solarLegend">
                </div>
            </div>
        </div>
        {{/env.supportSolarVoltage}}
    </div>
</div>

<script>
    var env = {{{json env}}};
    {{#checkToSupportChart "fanRpm"}}
    env.supportFan = true;
    {{else}}
    env.supportFan = false;
    {{/checkToSupportChart}}

    {{#checkToSupportChart "backlight"}}
    env.supportBacklight = true;
    {{else}}
    env.supportBacklight = false;
    {{/checkToSupportChart}}

    init(env, {{page}});
</script>
