<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/checkscreen.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Screen Fault Detection"}}
                    <span id='checkScreenReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table'>
                <tbody>
                    <tr>
                        <td class="first"><span>{{getLanguageText "Screen Fault Detection"}}</span></td>
                        <td class="second">
                            <div class="wrapper-center">
                                <input id='isCheckScreenOn' type="checkbox" class="grey">
                                <label for="isCheckScreenOn">&nbsp;</label>
                            </div>
                        </td>
                        <td class="third"></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class='col-md-6'>
                        <span>{{getLanguageText "Status"}}</span> :&nbsp;
                        <span id=calibrated>Reading...</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class='table table-bordered table-striped'>
                        <thead>
                            <tr>
                                {{#if env.checkscreenPosition}}<th><span>{{getLanguageText "Position"}}</span></th>{{/if}}
                                <th><span>{{getLanguageText "Width"}}</span></th>
                                <th><span>{{getLanguageText "Height"}}</span></th>
                            </tr>
                        </thead>
                        <tr>
                            {{#if env.checkscreenPosition}}<td><span id=position></span></td>{{/if}}
                            <td><span id=width></span></td>
                            <td><span id=height></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default panel-mobile">
            <div class="panel-body">
                <div class="col-md-12">
                    <table class='table'>
                        <tbody>
                            <tr>
                                <td class="first"><span>{{getLanguageText "Show Color"}}</span></td>
                                <td class="second">
                                    <div class="wrapper-center">
                                        <input type=checkbox id='showColor' class=grey>
                                        <label for='showColor'>&nbsp;</label>
                                    </div>
                                </td>
                                <td class="third"></td>
                            </tr>
                            <tr>
                                <td class="first"><span>{{getLanguageText "Status"}}</span></td>
                                <td class="second">
                                    <div class="wrapper-center">
                                        <div class="wrapper-center">
                                            <span id=valid></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="third"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class='table showcolor-status showColorStatus mobile'>
                        <tr>
                            <td class='showcolor-subject no-border-top'>{{getLanguageText "Draw"}}</td>
                            <td class='showcolor-object no-border-top'>
                                <div style="float:left;">
                                    <div style="width:50px; height:40px;">
                                        <img src='/images/image_draw.png'>
                                    </div>
                                    <div id=drawColor style="width:40px; height:24px; position:relative; top: -38px; left: 4px">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class='no-border-bottom'>
                            <td class='showcolor-subject'><span>{{getLanguageText "Sensor"}}</span></td>
                            <td class='showcolor-object'>
                                <div style="width:50px; height:40px;">
                                    <img src='/images/image_sensor.png'>
                                </div>
                                <div id=sensorColor style="width:36px; height:25px; position:relative; top: -36px; left: 6px">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        {{#if env.supportPanelErrorOut}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span>{{getLanguageText "BLU Status"}}</span>
                </h4>
                <hr>
            </div>
            <table class='table'>
                <tbody>
                    <tr>
                        <td class="first"><span>{{getLanguageText "BLU Status"}}</span></td>
                        <td class="second">
                            <div class="wrapper-center">
                                <span id="BLUReturn"></span>
                            </div>
                        </td>
                        <td class="third"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {{/if}}

        {{#if env.supportPsuStatus}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    PSU {{getLanguageText "Status"}}
                </h4>
                <hr>
            </div>
            <table class='table'>
                <tbody>
                    {{#for 1 env.psuNum 1}}
                    <tr>
                        <td class="first">PSU #{{this}}</td>
                        <td class="second">
                            <div class="wrapper-center">
                                <span id="PSU{{this}}Status"></span>
                            </div>
                        </td>
                        <td class="third"></td>
                    </tr>
                    {{/for}}
                </tbody>
            </table>
        </div>
        {{/if}}
    </div>
</div>

<script>
    var env = {{{json env}}};
    initCheckScreen();
    $('#pageTitle').html(getLanguageText(languageTable, 'Screen Fault Detection'));
</script>
