<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/utils.js"></script>
<script src='/js/page/dashboard.js'></script>
<div class="dashboard-wrapper">
    <div class="top-refresh mobile">
        <input class=custom id='dataRefresh' type="checkbox">
        <label for="dataRefresh">{{getLanguageText "5 min. Refresh"}}</label>
        <div class='refresh'>
            <button class="btn-refresh dashboard" onclick='getAllData();'></button>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-mo-12 col-xs-12 gap-3">
            <a href="time">
                <div class="card-time-mobile">
                    <div class="date">
                        <div class="day">
                            <span id="day"></span>
                        </div>
                        <div class="month-year">
                            <span id="monthYear"></span>
                        </div>
                    </div>
                    <div class="cur-time">
                        <span id="curTime"></span>
                    </div>
                    <div class="run-time">
                        <div class="text">{{getLanguageText "Run Time Since Last Power Up"}}</div>
                        <div class="time"><span id='upTime'></span></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-mo-6 col-xs-12 gap-3">
            <div class="card big-mobile summary-inline" style="height:189px;">
                <div class="card-body">
                    <div class="content">
                        <center><img id=scr class="wide-screen" style="height:189px"></center>
                        <div id='blackScr' style='background-color: black; width: 100%; height: 189px; color: white;'>
                            <center>{{getLanguageText "Screen Power Off"}}</center>
                        </div>
                        <div class="screenshot-message rtl_language" id="screenshotStatus" style="text-align: left"></div>
                    </div>
                </div>
                <div class="card-footer mobile">
                    <div class="refresh" style="float: right">
                        <button class="btn-refresh screenshot" onclick="$('#scr').click();"></button>
                    </div>
                    <div class="button" style="float: left; padding-left: 5px">
                        <input class=custom id='captureRefresh' type="checkbox">
                        <label for="captureRefresh">&nbsp;</label>
                    </div>
                    <div class="text txt_rolling" style="float: none; padding-left: 5px">
                        <span>{{getLanguageText "10 sec Auto Refresh"}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-mo-6 col-xs-12 gap-3">
            <div class="card big-mobile green summary-inline" id="tempCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Temperature"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/charts">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile tempSensor">
                            {{#each env.curTempSensor}}
                                <div class="temperature">
                                    <span id='{{id}}Temp'>-</span>
                                </div>
                            {{/each}}
                        </div>
                        <div class="status">
                            {{#each env.curTempSensor}}
                                <div class="sensorname">
                                    {{name}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="signalCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Signal"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/device">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div id="status-has-tail mobile" class="status mobile"><span id='signal'>{{getLanguageText "Loading"}}..</span></div>
                        <div class="tail"><span id='stall'></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile green summary-inline">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "S/W Ver."}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/system">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id='firmware'>{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="signageNameCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Signage Name"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/network">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id='signageName'style="word-break: break-all; font-family: none">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="setIDCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Set ID"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/system">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id='setID'>{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="DPMCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "DPM (Standby Mode)"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/device">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status-has-tail mobile"><span id='DPM'>{{getLanguageText "Loading.."}}</span></div>
                        <div class="tail rtl_language"><span id='DPMmode'></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="networkCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Network"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/network">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status-has-tail mobile"><span id='ip'>{{getLanguageText "Loading"}}..</span></div>
                        <div class="tail"><span id='wan'></span></div>
                    </div>
                </div>
            </div>
        </div>
        {{#env.playViaUrl}}
            <div class="col-mo-4 col-xs-6 gap-3">
                <div class="card mobile summary-inline" id="URLCard">
                    <div class="card-header mobile">
                        <div class="card-title mobile txt_rolling">
                            <span>{{getLanguageText "Play via URL"}}</span>
                        </div>
                        <div class="linkarrow mobile">
                            <a href="/playViaUrl">
                                <img src="/images/btn_more_n.png">
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content">
                            <div class="status-has-tail mobile"><span id='URLStatus'>{{getLanguageText "Loading"}}..</span></div>
                            <div class="tail"><span id='URL' style="font-family: none"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        {{/env.playViaUrl}}

        {{#env.tileMode.visible}}
            <div class="col-mo-4 col-xs-6 gap-3">
                <div class="card mobile summary-inline" id="tileModeCard">
                    <div class="card-header mobile">
                        <div class="card-title mobile txt_rolling">
                            <span>{{getLanguageText "Tile Mode"}}</span>
                        </div>
                        <div class="linkarrow mobile">
                            <a href="/tileMode">
                                <img src="/images/btn_more_n.png">
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content">
                            <div class="status mobile"><span id='tileMode'>{{getLanguageText "Loading"}}..</span></div>
                            <div class="tail">
                                <span id="tileModeSettings"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/env.tileMode.visible}}

        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="failOverCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Fail Over"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/failOver">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="failOver">{{getLanguageText "Loading"}}..</span></div>
                        <div class="tail txt_oneline_clip">
                            <span id="failOverPriority"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if env.checkscreen.support}}
        {{!-- check screen information --}}
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="screenCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Screen Fault Detection"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/checkScreen">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="checkScreen">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if env.supportPsuStatus}}
        {{!-- PSU information --}}
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="PSUCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>PSU {{getLanguageText "Status"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/checkScreen">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="PSU">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if env.supportDoor}}
        {{!-- door information --}}
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="doorCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Door"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/door">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="door">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if env.fanControl.support}}
        {{!-- fan information --}}
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="fanCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Fan"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/fan">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="fan">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if env.supportPanelErrorOut}}
        {{!-- BLU information --}}
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="BLUCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "BLU Status"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/checkScreen">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="BLU">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        {{#env.supportBrighness}}
        {{!-- Brightness information --}}
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="brighnessCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Brightness"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/charts">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="brightness">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{/env.supportBrighness}}

        {{#env.supportAcCurrent}}
        {{!-- AC Current information --}}
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="acCurrentCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "AC Current"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/charts">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="acCurrent">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{/env.supportAcCurrent}}

        {{#env.supportSolarVoltage}}
        {{!-- Solar information --}}
        <div class="col-mo-4 col-xs-6 gap-3">
            <div class="card mobile summary-inline" id="solarVoltageCard">
                <div class="card-header mobile">
                    <div class="card-title mobile txt_rolling">
                        <span>{{getLanguageText "Solar"}}</span>
                    </div>
                    <div class="linkarrow mobile">
                        <a href="/charts">
                            <img src="/images/btn_more_n.png">
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <div class="status mobile"><span id="solarVoltage">{{getLanguageText "Loading"}}..</span></div>
                    </div>
                </div>
            </div>
        </div>
        {{/env.supportSolarVoltage}}
    </div>

    <div class="panel panel-default panel-mobile">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">{{getLanguageText "Issue History"}}</h4>
            <hr>
        </div>
        <table class='table' id='incidentTable' style="font-size:10px;">
            <thead>
            <tr>
                <th style="padding-bottom:23px;">{{getLanguageText "Category"}}</th>
                <th>{{getLanguageText "Sensor"}}<br>{{getLanguageText "Event"}}</th>
                <th>{{getLanguageText "Start"}}<br>{{getLanguageText "End"}}</th>
                <th>{{getLanguageText "Status"}}<br>{{getLanguageText "Duration"}}</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<script>
    var env = {{{json env}}};

    applyLanguageText();
    init();

    function applyLanguageText() {
        for (var i = 1; i <= $(".sensorname").length; i++) {
            var elm = $(".sensorname:nth-child(" + i + ")");
            elm.html(getLanguageText(languageTable, elm.html().replace(/\s/g, "")));
        }
    }
</script>
