<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/range.js"></script>
<script src="/js/page/device.js"></script>
{{#if env.outdoor}}
<script src="/js/page/picture.js"></script>
{{/if}}


{{#if env.outdoor}}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<span>{{getLanguageText "Picture Settings"}}</span> <span id='pictureReturn'></span>
				</h4>
				<hr>
			</div>
			<table class='table'>
				<tr>
					<td class="td-component-title">{{getLanguageText "Picture Mode"}}</td>
					<td class="td-component">
						<div class="wrapper-right">
							<div id="pictureModeSelect"></div>
						</div>
					</td>
					<td class='td-component'>
						<span id='modified' class='small-text' style='font-size: 9pt'></span>
					</td>
				</tr>
				<tr>
					<td class="td-component-title">{{getLanguageText "Energy Saving"}}</td>
					<td class="td-component">
						<div class="wrapper-right">
							<div id="energySavingSelect"></div>
						</div>
					</td>
					<td class='td-component-small'>
					</td>
				</tr>
			</table>
			<table class='table' id="min-max-table">
				<tr>
					<td class="td-component-title">
						<span>{{getLanguageText "Min Backlight"}}</span>
					</td>
					<td class="td-component">
						<div class="wrapper-right">
							<div id="MinBacklightSelect"></div>
						</div>
					</td>
					<td class='td-component-small'>
					</td>
				</tr>
				<tr>
					<td class="td-component-title">
						<span>{{getLanguageText "Max Backlight"}}</span>
					</td>
					<td class="td-component">
						<div class="wrapper-right">
							<div id="MaxBacklightSelect"></div>
						</div>
					</td>
					<td class='td-component-small'>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
{{/if}}

{{#unless env.hideMenus.backlight}}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Backlight"}} <span id='backlightReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table'>
                <tbody>
                {{#if env.supportScreenOnOff}}
                <tr>
                    <td class="td-component-title">{{getLanguageText "Screen"}}</td>
                    <td class="td-component">
                        <input id='btnScreen' type="checkbox" class="grey">
                        <label for="btnScreen">&nbsp;</label>
                    </td>
                </tr>
                {{/if}}
                <tr class="with-component">
                    <td class="td-component-title txt_backlight">{{wordsList.backlight}}</td>
                    <td class="td-component">
                        <span id=backlightVal></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="component mobile">
                        <input class=custom id=backlight type=range min=0 max=100>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/unless}}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                        {{getLanguageText "Power Off Management"}} <span id='pmModeReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table'>
                <tbody>
                <tr class="with-component">
                    <td class="first mobile">{{getLanguageText "DPM (Standby Mode)"}}</td>
                    <td class="second mobile">
                    </td>
                    <td class="third mobile text"/>
                </tr>
                <tr>
                    <td colspan="3" class="component mobile">
                        <div id='DPMSelect'></div>
                    </td>
                </tr>
                {{#env.pmMode.visible}}
                <tr class="with-component">
                    <td class="first mobile">{{getLanguageText "PM Mode"}}</td>
                    <td class="second mobile">
                    </td>
                    <td class="third mobile text"/>
                </tr>
                <tr>
                    <td colspan="3" class="component mobile">
                        <div id='pmModeSelect'></div>
                    </td>
                </tr>
                {{/env.pmMode.visible}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{#unless env.hideMenus.sound}}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Sound Control"}} <span id='soundReturn'></span>
                </h4>
                <hr>
            </div>

            <table class='table'>
                <tbody>
                <tr class="with-component">
                    <td class="first mobile">{{getLanguageText "Volume"}}</td>
                    <td class="second mobile">
                        <span id='volumn-val'> </span>
                    </td>
                    <td class="third mobile text"/>
                </tr>
                <tr>
                    <td colspan="3" class="component mobile">
                        <input class=custom type=range id="volumn-level" min=0 max=100>
                    </td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Mute"}}</td>
                    <td class="td-component">
                        <input id='muted' type="checkbox" class="grey">
                        <label for="muted">&nbsp;</label>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{{/unless}}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Select Input Source"}} <span id='inputReturn'></span>
                </h4>
                <hr>
            </div>
            <div>
                <ul id='inputList' class='inputListRadio list-group'>
                </ul>
            </div>
        </div>
    </div>
</div>

{{#if env.outdoor}}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile long">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span>{{getLanguageText "Rotation"}}</span> <span id='portraitReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table'>
                <tbody>
                    <tr>
                        <td class="td-component-title"><span>{{getLanguageText "Screen Rotation"}}</span></td>
                        <td class="td-component">
                            <div class="wrapper-right">
                                <div id='portrait'></div>
                            </div>
                        </td>
                        <td class='td-component-small'></td>
                    </tr>
                    <tr>
                        <td class="td-component-title"><span>{{getLanguageText "External Input Rotation"}}</span></td>
                        <td class="td-component">
                            <div class="wrapper-right">
                                <div id='rotation'></div>
                            </div>
                        </td>
                        <td class='td-component-small'></td>
                    </tr>
                    <tr>
                        <td class="td-component-title"><span>{{getLanguageText "Aspect Ratio when rotated"}}</span></td>
                        <td class="td-component">
                            <div class="wrapper-right">
                                <div id='aspectRatio'></div>
                            </div>
                        </td>
                        <td class='td-component-small'></td>
                    </tr>
                </tbody>
            </table>
            <div class="wrapper_rotate_img">
                <div class="Portrait-status-subject">
                    <span>{{getLanguageText "Screen Rotation Status"}}</span>
                </div>
                <div class="wrapper-portrait">
                    <img id="rotation_off" src="../images/rotation_off_n.png">
                    <img id="rotation_90" src="../images/rotation_90_n.png">
                    <img id="rotation_180" src="../images/rotation_180_n.png">
                    <img id="rotation_270" src="../images/rotation_270_n.png">
                </div>

                <div class="rotation-status-subject">
                    <span>{{getLanguageText "External Input Rotation Status"}}</span>
                </div>
                <div class="wrapper-rotation">
                    <img src="../images/picture_image_01.png" id="rotate_img">
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="row">
    <div class="col-lg-12">
        <div class="panel-bottom panel-mobile">
            <div class="wrapper-center">
                <button id="rebootModal-btn" class="img-button-mobile small">{{getLanguageText "Reboot"}}</button>
            </div>
        </div>
    </div>
</div>
<script>
    var env = {{{json env}}};
    $(".txt_backlight").text(getLanguageText(languageTable, $(".txt_backlight").text()));
    var wordsList = {{{json wordsList}}};
    {{#supportFan}}
        env.supportFan = true;
    {{/supportFan}}
    initDevice(env, wordsList);
    {{#if env.outdoor}}
    initPicture();
    {{/if}}
</script>
