<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/door.js"></script>

<style>
	.flat-blue .table > tbody > tr > td.td-component-small.td-component-small-expand {
		width: 80px;
	}
</style>

<div class="row">
	<div class="col-lg-12">

		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<span>{{getLanguageText "Door Sensor Status"}}</span>
				</h4>
				<hr>
			</div>
			<table class='table' id='doorTable'>
				<tr>
					<td class=first width=20%><strong><span>{{getLanguageText "Sensor"}}</span>
					<td class=first><strong><span>{{getLanguageText "Status"}}</span>
				</tr>
				<tbody>

				</tbody>
			</table>
		</div>
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<span>{{getLanguageText "Door Control"}}</span> <span id='doorReturn'></span>
				</h4>
				<hr>
			</div>
			<table class='table'>
				<tr>
					<td class=td-component-title><span>{{getLanguageText "Control Type"}}</span> </td>
					<td class=td-component>
						<div id='muteOption'></div>
					</td>
				</tr>
				<tr>
					<td class="td-component-title"><span>{{getLanguageText "Reset Mute"}}</span></td>
					<td class="td-component">
						<button class='img-button-mobile small table' id='reset'><span>{{getLanguageText "Reset"}}</span></button>
					</td>
				</tr>
			</table>
			<table class='table'>
				<tr>
					<td class="td-component-title-big"><span>>{{getLanguageText "Reset Mute' is Needed"}}</span></td>
					<td class="td-component-small td-component-small-expand"><span id=lockout>False</span></td>
				</tr>
			</table>

		</div>
	</div>
</div>

<script>
	var env = {{{json env}}}
	$('#pageTitle').html(getLanguageText(languageTable, 'Door Monitor'));
	initDoor(env);
</script>