<link href="/css/failover.css" rel="stylesheet">
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/utils.js"></script>
<script src="/js/page/failover.js"></script>

<style>
    .hide-input input[type=radio][class="custom"]:not(old) {
        width: 0;
    }

    .hide-input input[type="radio"][class="custom"]:not(old) + label {
        padding-left: 35px;
    }

    .hide-input input[dir="rtl"][type="radio"][class="custom"]:not(old) + label {
        padding-left: 0;
        padding-right: 35px;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <br>
                <h4 class="panel-title">
                    {{getLanguageText "Basic Setting"}} <span id="failoverReturn"></span>
                </h4>
                <hr>
            </div>
            <table class='table' id='wiredPanel'>
                <tbody>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Fail Over"}}</td>
                    <td class="td-component">
                        <div class="wrapper-left">
                            <input id='btnFailover' type="checkbox" class="grey">
                            <label for="btnFailover">&nbsp;</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table" id="failOverTable">
                <tbody>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Input Priority"}}</td>
                    <td class="td-component">
                        <div class="failover_menu_mobile wrapper-left" style="margin-left:-70px">
                            <input type="radio" class="custom" value="auto" name="failOverPriority" id="failOverPriorityauto">
                            <label for="failOverPriorityauto">{{getLanguageText "Auto"}}</label>

                            </br></br>

                            <input type="radio" class="custom" value="manual" name="failOverPriority" id="failOverPrioritymanual">
                            <label for="failOverPrioritymanual">{{getLanguageText "Manual"}}</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table" id="failOverPriorityInfo">
                <tbody>
                <tr>
                    <td class="td-component wrapper-center">
                        <span class="mobile" style="display: block; padding-bottom: 10px"></span>
                        <button class="img-button-mobile small" onclick=showFailOverProritySettingModal()
                                data-toggle="modal" data-target="#failOverPrioritySettingModal">{{getLanguageText "Setting"}}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="advancedSetting">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default panel-mobile">
                <div class="panel-heading" role="tab" id="headingOne">
                    <br>
                    <h4 class="panel-title">
                        {{getLanguageText "Advanced Setting"}}
                    </h4>
                    <hr>
                </div>
                <table class='table'>
                    <tbody>
                    <tr>
                        <td class="td-component-title">{{getLanguageText "Backup via storage"}}</td>
                        <td class="td-component">
                            <div class="wrapper-left">
                                <input id='btnBackup' type="checkbox" class="grey">
                                <label for="btnBackup">&nbsp;</label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table" id="advancedSettingTable" style="display:none">
                    <tbody>
                    <tr>
                        <td class="td-component">
                            <div>{{getLanguageText "Input Priority"}}</div>
                            <br>
                            <div class="hide-input">
                                {{#if env.failover.backupViaStorage.auto.visible}}
                                <input type="radio" class="custom" value="auto" name="playViaStorage" id="playViaStorageauto">
                                <label for="playViaStorageauto">{{getLanguageText "Auto"}}</label>
                                {{/if}}
                                {{#if env.failover.backupViaStorage.manual.visible}}
                                <br><br>
                                <input type="radio" class="custom" value="manual" name="playViaStorage" id="playViaStoragemanual">
                                <label for="playViaStoragemanual">{{getLanguageText "Manual"}}</label>
                                {{/if}}
                                {{#if env.failover.backupViaStorage.supersign.visible}}
                                <br><br>
                                <input type="radio" class="custom" value="supersign" name="playViaStorage" id="playViaStoragesupersign">
                                <label for="playViaStoragesupersign">{{getLanguageText "SuperSign Contents"}}</label>
                                {{/if}}
                                {{#if env.failover.backupViaStorage.siapp.visible}}
                                <br><br>
                                <input type="radio" class="custom" value="siapp" name="playViaStorage" id="playViaStoragesiapp">
                                <label for="playViaStoragesiapp">{{getLanguageText "SI App / Play via URL"}}</label>
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table" id="intervalTable">
                    <tbody>
                    <tr>
                        <td class="td-component-title"> - {{getLanguageText "Capture time Interval"}}</td>
                        <td class="td-component">
                            <div class="wrapper-left">
                                <span id='intervalSelect'></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="BackupImage" style="width:100%">
        <div class="row" id="BackupImageUpload">
            <div class="col-lg-12">
                <div class="panel panel-default panel-mobile">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            {{getLanguageText "Backup Media Upload"}}
                        </h4>
                        <hr>
                    </div>
                    <div>
                        <form method='post' action='/upload' enctype="multipart/form-data" name="uploadForm">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="first">
                                        <div style="width: 25%; display: inline-block;">{{getLanguageText "Select File"}}</div>
                                        <div id="fileName" style="display: inline-block; word-break: break-all">&nbsp;</div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td align="center" style="text-align: center">
                                        <div class="file_upload" style="display: inline-block; text-align: center">
                                            <label class="img-button-mobile small" for="upload">{{getLanguageText "Browse"}}</label>
                                            <input type="file" class="upload_disable" name="upload" id="upload">
                                        </div>
                                        <input type=submit class="upload_disable img-button-mobile small" value={{getLanguageText "upload"}}>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="backupFileList">
            <div class="col-lg-12">
                <div class="panel panel-default panel-mobile">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <br>
                        <h4 class="panel-title">
                            {{getLanguageText "Backup file Thumbnail Image"}}
                        </h4>
                        <hr>
                    </div>
                    <div style="text-align:center;padding:10px 0px 10px 0px;">
                        <img id="failoverImage" src="/failoverimage" style="width:320px; height: 180px;"><br/>

                        <div style="margin-top:5px;">
                            <img id="failoverImagetype" style="background-color:#CDCDCD;border: 1px solid #CDCDCD;">
                            <span id="failoverImageName"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel-bottom panel-mobile">
            <div class="wrapper-center">
                <button id="apply" class="img-button-mobile small">{{getLanguageText "Apply"}}</button>
            </div>
        </div>
    </div>
</div>

<!-- failOverPrioritySettingModal -->
<div class="modal fade" id="failOverPrioritySettingModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content mobile">
            <div class="modal-header mobile">
                <h4 class="modal-title mobile">{{getLanguageText "Input Priority Setting"}}</h4>
            </div>
            <div class="modal-body mobile"></div>
            <div class="modal-footer mobile">
                <button type="button" class="img-button-mobile small cancel_btn" data-dismiss="modal">{{getLanguageText "Cancel"}}</button>
                <button type="button" class="img-button-mobile small save_btn" data-dismiss="modal" onclick=savePriority()> {{getLanguageText "Save"}}</button>
            </div>
        </div>
    </div>
</div>

<script>
    applyLanguageText();
    var env = {{{json env}}};

    $(document).ready(function () {
        init();
    });

    function applyLanguageText() {
        $("input[type='submit']").val(toCapitalize($("input[type='submit']").val()));
        $(".cancel_btn").html($(".cancel_btn").html().toUpperCase());
        $(".save_btn").html($(".save_btn").html().toUpperCase());
    }
</script>