<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/fan.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <span>{{getLanguageText "Current Fan RPM"}}</span>
                    <div class="top-right-refresh">
                        <button class="btn-refresh" id='refresh'><span>{{getLanguageText "Refresh"}}</span></button>
                    </div>
                </h4>
                <hr>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    {{#each env.curTempSensor}}
                    {{name}}: <span id='{{id}}Temp' class="span-fan">-</span><A1><C6>C&nbsp;
                    {{/each}}
                    {{#each env.fanControl.fans}}
                    <table id='{{id}}RPM' class="table table-fan">
                        <thead>
                            <tr>
                                <th colspan=2 class="fan_name">{{name}} Fan</th>
                            </tr>
                            <tr class="grey">
                                <th width=40%>ID</th>
                                <th>RPM</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#for 1 numberOfFans 1}}
                            <tr>
                                <td>{{this}}</td>
                                <td id="{{../id}}{{this}}rpm"> - </td>
                            </tr>
                            {{/for}}
                        </tbody>
                    </table>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tempSensors = [];
    var env = {{{json env}}}

    $('#pageTitle').html(getLanguageText(languageTable, 'Fan Status'));

    {{#each env.curTempSensor}}
    tempSensors.push({id: "{{id}}", name: "{{name}}"});
    {{/each}}


    $('#refresh').click(function() {
        refreshSensor();
    });

    refreshSensor();
</script>
