<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/language.js"></script>

<div class="row">
	<div class="col-lg-12">
		<!-- Basic Status Here -->
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					{{getLanguageText "Menu Language"}}
				</h4>
				<hr>
			</div>
			<div class="panel col-lg-12" id="langTable"></div>
		</div>
	</div>
</div>

<script>
	init({{{json env}}});
</script>
