<link href="/css/log.css" rel="stylesheet">
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/log.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 id="fileName" class="panel-title mobile">
                    {{getLanguageText "File Name"}} : {{curFile}}
                </h4>
                <hr>
                <div id='filter'></div>
            </div>

            <div id="log" class="pre-scrollable log-pre mobile"></div>

            <center>
                <ul class="pagination pagination-sm">
                    {{#each files}}
                        <li {{{isCurFile this ../curFile}}}><a href='/logFile?file={{this}}&filter={{../filter}}'>{{logNumber this}}</a></li>
                    {{/each}}
                </ul>
            </center>
        </div>
    </div>
</div>

<script>
    var env = {{{json env}}};
    var logJson = {{{json log}}};

    {{#supportFan}}
        env.supportFan = true;
    {{else}}
        env.supportFan = false;
    {{/supportFan}}

    initLog("{{curFile}}", "{{filter}}");
</script>
