<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/media.js"></script>

<div class="row">
	<div class="col-lg-12">
		<!-- Basic Status Here -->
		<div class="panel panel-default panel-mobile">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<span>{{getLanguageText "Media file List"}}</span> {{curDir}}</h4>
				<div id=filter></div>
				<hr>
			</div>
			<div class='col-xs-12 col-mo-12 col-md-12 media-file-list'>
				{{#each dirs }}
				<div class='col-xs-12 col-mo-6 col-md-6 col-lg-4'>
					<div class="media-card">
						<span name='{{this}}' class='dir'><img src="/images/folder-icon.png" class='img-responsive'> </span>
						<div class="footer">
							<div class='icon' name='{{this}}'></div>
							<div class="filename">
								{{fileName this}}
							</div>
						</div>
					</div>
				</div>
				{{/each}}

				{{#each files }}
				<div class='col-xs-12 col-mo-6 col-md-6 col-lg-4'>
					<div class="media-card">
						{{#isNew this ../newFiles}}
						<div class="new-tag">
							<img src="../images/tag_new.png">
						</div>
						{{/isNew}}
						<span id='{{@index}}' name='{{this}}' class='img'><img src="/images/video-ddd.png" class='img-responsive'> </span>
						<div class="footer">
							<div id='{{@index}}' class='icon' name='{{this}}'></div>
							<div class="filename">
								<span data-toggle='tooltip' title='{{this}}'>{{fileName this}}</span>
							</div>
						</div>
						<div class="button mobile">
							<button class='btn img-button-delete' action='del' id='{{@index}}' name='{{this}}'></button>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>

<script>
	var curFiles = [];
	var env = {{{json env}}};
	var maxSize = {{maxSize}};

	$('[data-toggle="tooltip"]').tooltip();

	{{#each dirs}}
		curFiles.push('{{this}}');
	{{/each}}
	{{#each files}}
		curFiles.push('{{this}}');
	{{/each}}

	var title = getLanguageText(languageTable, 'Media file Upload (XXX GB available)').replace('GB', '').replace('XXX', '\u202A{{fileSize maxSize}}\u202C');
	$('#mediaTitle').text(title);
	init('{{curDir}}', '{{filter}}');
</script>
