<html>
<script>
    function checkResolution() {
        if (screen.width > 1024) {
            var newPath = window.location.pathname.replace(/mobile$/, '')
                    .replace(/mobile\//, '');
            console.log(newPath);
            window.location.replace(newPath);
        }
    }

    checkResolution();

    window.onresize = checkResolution;

</script>
<head>
    <title>{{getLanguageText "LG Control Manager"}}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/flat-admin.js"></script>

    <!-- set languageTable value -->
    <script>
        var languageTable = {{{json languageTable}}};
    </script>

    <script src="/js/page/common.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/flat-blue.css">
</head>

<body class="flat-blue mobile">
<div class="app-container">
    <div class="row content-container">
        <nav class="navbar navbar-default navbar-fixed-top navbar-top navbar-overlay">
            <div class="container-fluid mobile">
                <div class="navbar-header mobile">
                        <button id="navMenuButton" type="button" class="navbar-expand-toggle">
                            <img src='/images/ic_header_menu_n.png'>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li id="boxPageTitle" class="active txt_rolling"><span id='pageTitle'></span></li>
                        </ol>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <img src="/images/LG_logo.png" class="logo"></img>
                </ul>
            </div>
        </nav>
        <div class="side-menu sidebar-inverse">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <!--<a class="navbar-brand" href="/changePasswd">-->
                        <div width="270px" height="281">
                            <img src="/images/image_01.png" width="270px" height="281" id="navbar-background">
                            <div id="userMenu" class="user-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        <img src="/images/profile_photo_default.png">
                                    </a>
                                    <ul class="dropdown-menu user-profile animated fadeInDown" style="z-index: 100;">
                                        {{#env.outdoor}}
                                        <li class="title dropdown-li">
                                            <a href="/mobile/language" class="dropdown-a txt_rolling">
                                                <span>{{getLanguageText "Menu Language"}}</span>
                                            </a>
                                        </li>
                                        {{/env.outdoor}}
                                        <li class="title dropdown-li">
                                            <a href="/mobile/changePasswd" class="dropdown-a txt_rolling">
                                                <span>{{getLanguageText "Change Password"}}</span>
                                            </a>
                                        </li>
                                        <li class="title dropdown-li">
                                            <a href="/logout" class="dropdown-a txt_rolling">
                                                <span>{{getLanguageText "Logout"}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </div>
                        </div>
                        <!--</a>-->
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="single-menu">
                            <a href="/mobile/dashBoard">
                                <span class="title">{{getLanguageText "Dashboard"}}</span>
                            </a>
                        </li>

                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-element">
                                <span class="title">{{getLanguageText "Device Control"}}</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-element" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a class="txt_display" href="/mobile/device">{{wordsList.deviceTitle}}</a></li>
                                        <li><a href="/mobile/time">{{{getLanguageText "Time & Date"}}}</a></li>
                                        <li><a href="/mobile/network">{{getLanguageText "Network"}}</a></li>

                                        {{#if env.checkscreen.support}}
                                            <li><a href="/mobile/checkScreen">{{getLanguageText "Screen Fault Detection"}}</a></li>
                                        {{/if}}
                                        {{#if env.supportDoor}}
                                            <li><a href="/mobile/door">{{getLanguageText "Door Monitor"}}</a></li>
                                        {{/if}}
                                        {{#if env.tileMode.visible}}
                                            <li><a href="/mobile/tileMode">{{getLanguageText "Tile Mode"}}</a></li>
                                        {{/if}}
                                        <li><a href="/mobile/failOver">{{getLanguageText "Fail Over"}}</a></li>
                                        {{#if env.playViaUrl}}
                                            <li><a href="/mobile/playViaUrl">{{getLanguageText "Play via URL"}}</a></li>
                                        {{/if}}
                                        <li><a href="/mobile/update">{{getLanguageText "S/W Update"}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        {{#env.outdoor}}
                        <li class="single-menu">
                            <a href="/mobile/remocon">
                                <span class="title">{{getLanguageText "Virtual Controller"}}</span>
                            </a>
                        </li>
                        {{/env.outdoor}}

                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-table">
                                <span class="title">{{getLanguageText "Information"}}</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-table" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/mobile/charts">{{getLanguageText "Charts"}}</a></li>
                                        {{#supportFan}}
                                        <li><a href="/mobile/fan">{{getLanguageText "Fan Status"}}</a></li>
                                        {{/supportFan}}
                                        <li><a href="/mobile/logFile">{{getLanguageText "Log"}}</a></li>
                                        <li><a href="/mobile/system">{{getLanguageText "System Information"}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        {{#env.outdoor}}
                        <li class="single-menu">
                            <a href="/mobile/media">
                                <span class="title">{{getLanguageText "Media Library"}}</span>
                            </a>
                        </li>
                        {{/env.outdoor}}
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Page Content -->
        <div class='main-body-lg main-body-xs'>
            <div class="side-body mobile">
                <div id="page-wrapper">
                    <div id='warningMessage'>
                    </div>
                    <div class="container-fluid mobile">
                        {{{ body }}}
                    </div>
                    <!-- /.container-fluid -->
                    <div class='container-fluid' id='alertMessage'></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(".txt_display").text(getLanguageText(languageTable, $(".txt_display").text()));
    var imageIndex = (Math.floor(Math.random() * 10) % 4) + 1;
    var imageSrc = '/images/image_0' + imageIndex + '.png';
    $('#navbar-background').attr('src', imageSrc);
    $('.title.dropdown-li:first-child').css('margin-top', {{env.outdoor}} ? '20px' : '40px');
</script>

</html>
