<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/network.js"></script>

<style>
    input[type=text] {
        width: 100%;
        padding-left: 0px;
        background-color: white;
    }

    .line_space {
        font-size: 1px;
    }

    input[type=text] {
        font-size: 12pt;
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Signage Name"}} <span id='networkReturn'></span>
                </h4>
                <hr>
                <input type="text" id="signageName" class='form-control' maxlength="20" style="font-family: none">
            </div>
            <div class="panel-heading" role="tab" id="headingOne">
                <br>
                <h4 class="panel-title">
                    {{getLanguageText "Wired"}} - <span id=wiredConnection></span>
                </h4>
                <hr>
                <div id='filter'></div>
            </div>
            <table class='table' id='wiredPanel'>
                <tbody>
                <tr id="dhcpLow">
                    <td class="td-component-title">{{getLanguageText "Set Automatically"}}</td>
                    <td class="td-component">
                        <input id='dhcp' type="checkbox" class="grey">
                        <label for="dhcp">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                    <td class="td-component-title" colspan="2">
                        {{getLanguageText "IP Address"}}
                        <div class="line_space">&nbsp;</div>
                        <input type="text" id="ip">
                    </td>
                </tr>
                <tr id="netMask_low">
                    <td class="td-component-title" colspan="2">
                        {{getLanguageText "Subnet Mask"}}
                        <div class="line_space">&nbsp;</div>
                        <input type="text" id="netMask">
                    </td>
                </tr>
                <tr id="netPrefix_low">
                    <td class="td-component-title" colspan="2">
                        {{getLanguageText "Subnet prefix length"}}
                        <div class="line_space">&nbsp;</div>
                        <input type="text" id="netPrefix">
                    </td>
                </tr>
                <tr>
                    <td class="td-component-title" colspan="2">
                        {{getLanguageText "Gateway"}}
                        <div class="line_space">&nbsp;</div>
                        <input type="text" id="gateway">
                    </td>
                </tr>
                <tr>
                    <td class="td-component-title" colspan="2">
                        {{getLanguageText "DNS Server"}}
                        <div class="line_space">&nbsp;</div>
                        <input type="text" id="dns">
                    </td>
                </tr>
                <tr>
                    <td class="td-component-title" colspan="2">
                        {{getLanguageText "MAC Address"}}
                        <div class="line_space">&nbsp;</div>
                        <input type="text" id="mac" disabled>
                    </td>
                </tr>
                </tbody>
            </table>
            {{#supportWifi}}
                <div class="panel-heading" role="tab" id="headingWifi">
                    <br>
                    <h4 class="panel-title" id="wifiTitle">
                            {{getLanguageText "Wi-Fi"}} - <span id=wifiConnection></span>
                    </h4>
                    <hr>
                    <div id='wifiFilter'></div>
                </div>
                <table class='table' id='wifiPanel'>
                    <tbody>
                    <tr id="dhcpwifiLow">
                        <td class="td-component-title">{{getLanguageText "Set Automatically"}}</td>
                        <td class="td-component">
                            <input id='dhcpwifi' type="checkbox" class="grey">
                            <label for="dhcpwifi">&nbsp;</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-component-title" colspan="2">
                            {{getLanguageText "IP Address"}}
                            <div class="line_space">&nbsp;</div>
                            <input type="text" id="ipwifi">
                        </td>
                    </tr>
                    <tr id="netMaskwifi_low">
                        <td class="td-component-title" colspan="2">
                            {{getLanguageText "Subnet Mask"}}
                            <div class="line_space">&nbsp;</div>
                            <input type="text" id="netMaskwifi">
                        </td>
                    </tr>
                    <tr id="netPrefixwifi_low">
                        <td class="td-component-title" colspan="2">
                            {{getLanguageText "Subnet Mask"}}
                            <div class="line_space">&nbsp;</div>
                            <input type="text" id="netPrefixwifi">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-component-title" colspan="2">
                            {{getLanguageText "Gateway"}}
                            <div class="line_space">&nbsp;</div>
                            <input type="text" id="gatewaywifi">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-component-title" colspan="2">
                            {{getLanguageText "DNS Server"}}
                            <div class="line_space">&nbsp;</div>
                            <input type="text" id="dnswifi">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-component-title" colspan="2">
                            {{getLanguageText "MAC Address"}}
                            <div class="line_space">&nbsp;</div>
                            {{!-- <div class="td-component" id=macwifi></div> --}}
                            
                            {{!-- <td class="td-component" id=macwifi></td> --}}
                            <input type="text" id="macwifi" disabled>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {{/supportWifi}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel-bottom panel-mobile">
            <div class="wrapper-center">
                <button id="apply" class="img-button-mobile">{{getLanguageText "Apply"}}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var env = {};
        env.secured = {{env.secured}};
        env.port = {{env.port}};
        init(env);
    });
</script>
