<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/playViaUrl.js"></script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <br>
                <h4 class="panel-title">
                        {{getLanguageText "URL Setting"}} <span id='PlayViaUrlReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table' id='wiredPanel'>
                <tbody>
                <tr>
                    <td class="td-component-title">{{getLanguageText "URL Loader"}}</td>
                    <td class="td-component">
                        <div class="wrapper-left">
                            <input id='loader' type="checkbox" class="grey">
                            <label for="loader">&nbsp;</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Set URL"}}</td>
                    <td class="td-component">
                        <div class="wrapper-left">
                            <input type="text" id="url" class="custom background mobile" size=15 style="font-family: none">
                        </div>
                        <button id="preview" class="img-button-mobile small remo txt_rolling">
                            <span>{{getLanguageText "Preview"}}</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel-bottom panel-mobile">
            <div class="wrapper-center">
                <button id="apply" class="img-button-mobile">{{getLanguageText "Save"}}</button>
            </div>
        </div>
    </div>
</div>
