<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/system.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">{{getLanguageText "Set ID"}}</h4>
                <hr>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Set ID"}}(1~1000)</td>
                    <td class="td-component"><span id='setID'></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">{{getLanguageText "System Information"}}</h4>
                <hr>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Model Name"}}</td>
                    <td class="td-component"><span id='model'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Serial Number"}}</td>
                    <td class="td-component"><span id='serial'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Software Version"}}</td>
                    <td class="td-component"><span id='firmware'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "webOS Version"}}</td>
                    <td class="td-component"><span id='webos'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Bootloader Version"}}</td>
                    <td class="td-component"><span id='bootloader'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Micom Version"}}</td>
                    <td class="td-component"><span id='micom'></span></td>
                </tr>
                {{#supportMicomFanControl}}
                <tr>
                    <td class="td-component-title">{{getLanguageText "Fan Micom Version"}}</td>
                    <td class="td-component"><span id='fanmicom'></span></td>
                </tr>
                {{/supportMicomFanControl}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var env = {{{json env}}};
    {{#supportMicomFanControl}}
        env.supportMicomFanControl = true;
    {{else}}
        env.supportMicomFanControl = false;
    {{/supportMicomFanControl}}

    initSystem();
</script>
