<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/tilemode.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">{{getLanguageText "Basic Setting"}}</h4>
                <hr>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Tile Mode"}}</td>
                    <td class="td-component"><span id='tileMode'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Tile Mode Settings"}}</td>
                    <td class="td-component"></td>
                </tr>
                <tr>
                    <td class="td-component-title">- <span class="rtl_language">{{getLanguageText "Row"}} (1~15)</span></td>
                    <td class="td-component"><span id='row'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">- <span class="rtl_language">{{getLanguageText "Column"}} (1~15)</span></td>
                    <td class="td-component"><span id='column'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">- <span class="rtl_language">{{getLanguageText "Tile ID"}} (1~225)</span></td>
                    <td class="td-component"><span id='tileID'></span></td>
                </tr>
                </tbody>
            </table>
            <div id="tileModeViewSpace" style="margin: auto;padding-top:10px;padding-bottom:10px;">
                <table id="tileModeView" style="border:2px solid black; margin: auto; border-spacing:2px; border-collapse: separate"></table>
            </div>
        </div>

        {{#env.naturalMode.visible}}
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">{{getLanguageText "Advanced Setting"}}</h4>
                <hr>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Natural Mode"}}</td>
                    <td class="td-component"><span id='naturalMode'></span></td>
                </tr>
                <tr>
                    <td class="td-component-title">- <span class="rtl_language">{{getLanguageText "Natural Size"}}(0~100)</span></td>
                    <td class="td-component"><span id='naturalSize'></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        {{/env.naturalMode.visible}}
    </div>
</div>
