<link href="/css/time.css" rel="stylesheet">
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/time.js"></script>

<div class="row" style="display: table;">
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Time Setting"}} <span id='ntpReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table'>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Set Automatically"}}</td>
                    <td class="td-component">
                        <div class="wrapper-right">
                            <input id='useNTP' type="checkbox" class="grey">
                            <label for="useNTP">&nbsp;</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row" id='time-date' style="display: none;">
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Time & Date"}} <span id='setCurrentTimeReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table'>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Time"}}</td>
                    <td class="td-component">

                        <input type='text' class='input-text-2char' id='hour' size=2 maxlength=2>: <input type='text' class='input-text-2char'
                                                                                                          id='minute' size=2 maxlength=2>

                        <div id='ampm' class='dropdown-ampm mobile'></div>
                    </td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Date"}}</td>
                    <td class="td-component">
                        <input type='text' class='input-text-2char' id='month' size=2 maxlength=2> /
                        <input type='text' class='input-text-2char' id='day' size=2 maxlength=2> /
                        <input type='text' class='input-text-4char' id='year' size=4 maxlength=4>
                    </td>
                </tr>
            </table>
            <table class='table'>
                <tr>
                    <td class="td-component-title">{{getLanguageText "Daylight Saving Time"}}</td>
                    <td class="td-component">
                        <input id='useDST' type="checkbox" class="grey">
                        <label for="useDST">&nbsp;</label>
                    </td>
                </tr>
            </table>
            <table class='table dstTable' style="display: none;">
                <tr>
                    <td class="td-component-title">{{getLanguageText "Start Time"}}</td>
                    <td class="td-component">
                        <table class="dst-time-setting-table">
                            <tr>
                                <td>{{getLanguageText "Month"}} :</td>
                                <td>
                                    <div id='dstStartMonth'>
                                </td>
                            </tr>
                            <tr>
                                <td>{{getLanguageText "Week"}} :</td>
                                <td>
                                    <div id='dstStartWeek'></div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{getLanguageText "Weekday"}} :</td>
                                <td>
                                    <div id='dstStartWeekday'></div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{getLanguageText "Hour"}} :</td>
                                <td>
                                    <div id='dstStartHour'>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td-component-title">{{getLanguageText "End Time"}}</td>
                    <td class="td-component">
                        <table class="dst-time-setting-table">
                            <tr>
                                <td>{{getLanguageText "Month"}} :</td>
                                <td>
                                    <div id='dstEndMonth'>
                                </td>
                            </tr>
                            <tr>
                                <td>{{getLanguageText "Week"}} :</td>
                                <td>
                                    <div id='dstEndWeek'></div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{getLanguageText "Weekday"}} :</td>
                                <td>
                                    <div id='dstEndWeekday'></div>
                                </td>
                            </tr>
                            <tr>
                                <td>{{getLanguageText "Hour"}} :</td>
                                <td>
                                    <div id='dstEndHour'>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </div>
        <div class="wrapper-center">
            <button id="time-apply" class="img-button-mobile">{{getLanguageText "Apply"}}</button>
        </div>
    </div>
</div>

<div class="row" id='time-zone' style="display: none;">
    <div class="col-md-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{getLanguageText "Time Zone"}} <span id='setCityReturn'></span>
                </h4>
                <hr>
            </div>
            <table class='table'>
                    <tr class="with-component">
                        <td class="first mobile">{{getLanguageText "Continent"}}</td>
                    </tr>
                    <tr>
                        <td class="component mobile" style="padding-top: 0">
                            <div id='continent'></div>
                        </td>
                    </tr>

                    <tr class="with-component">
                        <td class="first mobile">{{getLanguageText "Country/Territory"}}</td>
                    </tr>
                    <tr>
                        <td class="component mobile" style="padding-top: 0">
                            <div id='country'></div>
                        </td>
                    </tr>

                    <tr class="with-component">
                        <td class="first mobile">{{getLanguageText "City"}}</td>
                    </tr>
                    <tr>
                        <td class="component mobile" style="padding-top: 0">
                            <div id='city'></div>
                        </td>
                    </tr>
            </table>
        </div>
        <div class="wrapper-center">
            <button id="time-zone-apply" class="img-button-mobile">{{getLanguageText "Apply"}}</button>
        </div>
    </div>
</div>
