<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/page/update.js"></script>

<style>
    #msgEmptyTable {
        max-width: 300px;
        text-align: center;
    }

    #msgEmptyTable .txt_empty_table {
        font-size: small;
        font-weight: 600
    }

    @media (max-width: 359px) {
        #msgEmptyTable {
            max-width: 250px;
        }
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-mobile">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <span class="rtl_language">{{getLanguageText "S/W Update file list"}}</span>
                </h4>
                <hr>
                <input class=custom id='micomUpdate' type="checkbox">
                <label for="micomUpdate">{{getLanguageText "Micom Update"}}</label>
            </div>

            <table class='table table-update-file'>
                <tr>
                    <th>{{getLanguageText "File Name"}}</th>
                    <th>{{getLanguageText "Update"}}</th>
                    <th>{{getLanguageText "Delete"}}</th>
                </tr>
                {{#if files}}
                    {{#each files }}
                        <tr class='file-list' name='{{this}}'>
                            <td>
                                <p class="file-info mobile" name='{{this}}'>
                                    {{this}}({{fileSize (lookup ../size @index)}})
                                </p>
                            </td>
                            <td>
                                <button class='btn img-button-update update' name='{{this}}' disabled></button>
                            </td>
                            <td>
                                <button class='btn img-button-delete delete' name='{{this}}'></button>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td id="msgEmptyTable" colspan="3">
                            <div class="txt_rolling txt_empty_table">
                                <span>{{getLanguageText "S/W update file does not exist."}}</span>
                            </div>
                            <div class="txt_rolling txt_empty_table">
                                <span>{{getLanguageText "Please upload S/W update file via PC browser."}}</span>
                            </div>
                            <div class="txt_rolling txt_empty_table">
                                <span>※ {{getLanguageText "File upload via mobile devices does not support."}}</span>
                            </div>
                        </td>
                    </tr>
                {{/if}}
            </table>
        </div>
    </div>
</div>

<script>
    var env = {{{json env}}};
    var supportExt = ['epk'];
    {{#supportMicomFanControl}}
        env.supportMicomFanControl = true;
        supportExt.push('txt');
    {{else}}
        env.supportMicomFanControl = false;
    {{/supportMicomFanControl}}

    env.uploadedFiles = [];
    {{#each files}}
        env.uploadedFiles.push("{{this}}");
    {{/each}}

    env.maxSize = {{maxSize}};

    init(env);

    $('#upload').attr('accept', '.epk, .txt');
    $('#upload').click(function (e) {
        var userAgent = window.navigator.userAgent;
        if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i)) {
            showWarning('Uploading file is not allowed in iPhone or iPad');
            e.preventDefault();
        }
    });
</script>
