<script src="/js/page/ledSignage/imb.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<link rel="stylesheet" href="/css/signage_style.css">

<style>
    html, body {
        background-color: #cdcdcd;
        color: black;
    }
</style>

<div class="row">
    <div class="col-lg-8">
        <h3>{{getLanguageText 'IMB Settings'}}</h3>
        <table class='table' border='2' rules='none' style="background-color: #F3E2A9; width: 70%;">
            <tr>
                <td class="first">{{getLanguageText "IMB Status"}}
                </td>
                <td class="second" id='imbStatus'>
                </td>
            </tr>
            <tr>
                <td class="second">{{getLanguageText "Marriage Status"}}
                </td>
                <td class="second" id='marriageStatus'> 
                </td>
            </tr>
        </table>
        <table class='table'>
            <tr>
                <td class="first">{{getLanguageText "Marriage"}}
                </td>
                <td class="second">
                    <button id="imbAuthenticate" class="whiteCardBtn" disabled>{{getLanguageText "Authenticate"}}</button>
                </td>
            </tr>
        </table>

        <!--
        <h3>{{getLanguageText 'IMB Display(Test)'}}</h3>
        <table class='table' border='2' rules='none' style="background-color: #F3E2A9; width: 70%;">
            <tr>
                <td class="first">{{getLanguageText "SecureSiliconStatus"}}
                </td>
                <td class="second" id='secureSiliconStatus'>
                </td>
            </tr>
            <tr>
                <td class="second">{{getLanguageText "Fpga Status"}}
                </td>
                <td class="second" id='fpgaStatus'>
                </td>
            </tr>
            <tr>
                <td class="second">{{getLanguageText "Cpu Status"}}
                </td>
                <td class="second" id='cpuStatus'>
                </td>
            </tr>
             <tr>
                <td class="second">{{getLanguageText "Button Status"}}
                </td>
                <td class="second" id='buttonStatus'>
                </td>
            </tr>
        </table>
        -->
    </div>
</div>

<script>
//imbStatus -> OK(normal), NG(abnormal)
var imbStatus = 'OK';

//marriageStatus -> Requiredment Marriage, NG, OK
var marriageStatus = 'Requiredment Marriage';

$(document).ready(function () {
//load IMB Status
    document.onkeydown = timeResetModalOn;

    getImbStatusOnLoad(2);
    addAuthenticateModal();
    initAuthenticateModal();
    addTimerResetModal();
    initTimerResetModal();
    changeRtlCinema();
});

</script>
