<html lang="en">

<script>
    var languageTable = {{{json languageTable}}};
    var localeInfo = {{{json localeInfo}}};
</script>

<head>
    <meta charset="utf-8">
    <title>Control Manager | LG Electronics Signage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon-32x32.png"/>

<!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;">-->

    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/2017ux.css">-->
    <!--<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">-->
    <!--<meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com/css2; font-src 'self' https://fonts.gstatic.com;">-->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap">-->

    <link rel="stylesheet" type="text/css" href="/assets/default/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/assets/default/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/side_bar.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/filter.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lang_rtl.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/control_led_w4/control_led_w4_common.css" />

    <script type="text/javascript" src="/assets/lib/jquery-3.6.0.min.js"></script>

    <!--<script src="/js/jquery.min.js"></script>-->
    <!--<script src="/js/bootstrap.min.js"></script>-->
    <script src="/js/socket.io.js"></script>
    <script src="/js/page/common.js"></script>
    <!--<script src="/js/page/ledSignage/common.js"></script>-->
    <script src="/js/client-common.js"></script>
    <script src="/js/client-api.js"></script>
    <script src="/js/design/ledSignage/common.js"></script>
    <script src="/assets/lib/index.umd.js"></script>
    <script src="/assets/lib/focus-trap.umd.js"></script>
</head>


<body>
<div class="loading">
    <div class="loading-icon"></div>
    <div class="loading-content" id="loading-contents"></div>
</div>
<!-- ByPass --> <a href="#go-content" class="bypass">{{getLanguageText "Go to content"}}</a> <!-- ByPass -->
<!-- Scripts -->
<div id="ROOT_CONTAINER" class="wrapper">
    <!--
        header를 로드하기 위한 컨테이너 입니다.
        이곳에 header.html의 <div class="header-container"> 가 로드 됩니다.
        개발 시 해당 컨테이너는 무시하시고,
        header-container를 컴포넌트로 개발하시면 됩니다.
      -->
    <div class="header-box">
        <!-- Begin Header Container -->
        <div class="header-container control-led-w4">
            <header>
                <!-- Left side -->
                <div class="left-side">
                    <button type="button" class="btn btn-hamburger"><span class="ir">open menu</span></button>
                    <a href="/loginLed" class="logo">
                        <img src="../../assets/images/header_scs_logo.svg" alt="System Controller Settings logo" />
                    </a>
                </div>
                <!-- Left side -->

                <!-- Right side -->
                <div class="right-side">
                    <ul class="features">
                        <!--Sitemap -->
                        <li>
                            <a href="/ledSignage/sitemap" class="sitemap"><font style="vertical-align: inherit;">Site Map </font></a>
                        </li>
                        <!-- Account -->
                        <li>
                            <button type="button" class="btn-account" title="select account.">{{getLanguageText "manager"}}</button>
                            <div class="user-menu">
                                <ul role="menu">
                                    <li >
                                        <a href="/ledSignage/signage_change_pwd" role="menuitem">{{getLanguageText "Change Password"}}</a>
                                    </li>
                                    <li >
                                        <a href="/logout" role="menuitem">{{getLanguageText "Logout"}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Right side -->
            </header>
        </div>
        <!-- End Header Container -->
    </div>

    <!-- Content Container -->
    <div class="content-container control-led-w4">
        <!--
          GNB를 로드하기 위한 컨테이너 입니다.
          이곳에 gnb_content.html의 <div class="side-bar"> 가 로드 됩니다.
          개발 시 해당 컨테이너는 무시하시고,
          side-bar를 컴포넌트로 개발하시면 됩니다.
        -->
        <div class="gnb-box">
            <!-- Side Bar -->
            <div class="side-bar">
                <!-- Side Top -->
                <div class="side-top">
                    <!--
                        side-bar Collapsed 일 때 햄버거 버튼 title : 메인 메뉴를 펼칩니다.
                        side-bar Expand 일 때 햄버거 버튼 title : 메인 메뉴를 접습니다.
                      -->
                    <button type="button" class="btn-hamburger">
                        <div class="menu-tooltip">Menu Extension</div>
                    </button>
                    <div class="side-logo">
                        <img src="/assets/images/menu_scs_logo.svg" alt="System Controller Settings logo" />
                    </div>

                </div>
                <!-- Side Top -->

                <!-- Side Bottom -->
                <div class="side-bottom">
                    <nav>
                        <!-- Main menu Depth 1 -->
                        <ul id="main-menu" class="main-menu" role="menu">

                            <li id="menu-1" class="menu-language parent-menu focus" role="menuitem">
                                <!-- 활성화된 메뉴 aria-selected 속성을 true로 설정합니다. -->
                                <button type="button" class="btn-main-menu"  name="language" >language</button>
                                <div class="menu-tooltip">{{getLanguageText "Language"}}</div>
                            </li>

                            <li id="menu-2" class="menu-network parent-menu" role="menuitem">
                                <!-- 활성화된 메뉴 aria-selected 속성을 false로 설정합니다. -->
                                <button type="button" class="btn-main-menu" name="network" >network
                                </button>
                                <div class="menu-tooltip">{{getLanguageText "Network"}}</div>
                            </li>

                            {{#cinemaModelBlock}}
                            <li id="menu-3" class="menu-assistan parent-menu" role="menuitem">
                                <button type="button" class="btn-main-menu" name="ledAssistant" >LED Assistant</button>
                                <div class="menu-tooltip">LED Assistant</div>
                            </li>
                            <!-- 테스트 위한- 나오게 하기위해 분기태그 주석처리  내용은 스샷확인              -->
                            <li id="menu-4" class="menu-lgc parent-menu" role="menuitem">
                                <button type="button" class="btn-main-menu" name="signage365Care" >LG ConnectedCare</button>
                                <div class="menu-tooltip">LG ConnectedCare</div>
                            </li>
                            {{/cinemaModelBlock}}
                            <li id="menu-5" class="menu-settings parent-menu" role="menuitem">
                                <button type="button" class="btn-main-menu" name="system" >Settings</button>
                                <div class="menu-tooltip">{{getLanguageText "Setting"}}</div>
                            </li>
                        </ul>
                        <!-- Main menu Depth 1 -->
                    </nav>

                </div>
                <!-- Side Bottom -->
            </div>
            <!-- Side Bar -->
        </div>

        <!-- Content Box -->
        <div id="go-content" role="main" class="content-box">
            {{{body}}}

        </div>
        <!-- Content Box -->
    </div>
    <!-- Content Container -->


</div>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/ui_loader.js"></script>
</body>

<script>
    $('.loading').hide();

    if (localeInfo && localeInfo.locales && localeInfo.locales.UI === 'ar-SA') {
        changeRtl();
    }

/*$("[href]").each(function() {
    if (this.href == window.location.href) {
        $(this).addClass("curMenu");
    }

    if(window.location.href.indexOf('#') > -1){
        if( window.location.href.indexOf(this.href) > -1 ){
            $(this).addClass("curMenu");
        }
    }
});*/
</script>
</html>
