<script src="/js/client-api.js"></script>
<script src="/js/design/ledSignage/ledAssistant.js"></script>
<!-- Content top -->
<div class="content-top">
  <div class="top-left">
    <h2>
      LED Assistants
    </h2>
    <!-- BreadCrumb -->
    <div class="breadcrumb">
      {{!-- <span class="bread">{{getLanguageText "LED Assistant Settings"}}</span> --}}
    </div>
    <!-- BreadCrumb -->
  </div>
</div>
<!-- Content top -->
<!-- Content middle -->
<div class="content-middle">
  <div class="content-middle-box">
    <!-- Content middle right -->
    <div class="content-middle-right">
      <!-- Detail Container -->
      <div class="control-container control-led-w4">
        <!-- LED Assistant 설정 -->
        <div class="list-box">
          <div class="title-box">
            <h3 aria-hidden="true" class="section-title">
              {{getLanguageText "LED Assistant Settings"}}
            </h3>
          </div>
          <div class="field field-type-switch field-flex">
            <div class="field-label">
                {{getLanguageText "LED Assistant Settings"}} {{getLanguageText "Activate"}}
            </div>
            <div class="field-form">
              <div class="switch" id="activate-switch">
                <label for="serverEnable" class="switch-controller">
                    {{getLanguageText "LED Assistant Settings"}} {{getLanguageText "Activate"}}
                </label>
                <input
                  type="checkbox"
                  id="serverEnable"
                  name="serverEnable"
                  role="switch"
                  aria-checked="false"
                />
                <span class="slider"></span>
              </div>
            </div>
          </div>
          <div class="field field-type-radio field-flex">
            <div id="setting-tit-id" class="field-label">
              {{getLanguageText "Advanced Setting"}}
            </div>
            <div class="field-form flex">
              <div class="radio">
                <input
                  type="radio"
                  name="radio-type"
                  id="ipv4"
                  aria-labelledby="setting-tit-id ipv4"
                />
                <label for="ipv4">
                  IPv4
                </label>
              </div>
              <div class="radio">
                <input
                  type="radio"
                  name="radio-type"
                  id="ipv6"
                  aria-labelledby="setting-tit-id ipv6"
                />
                <label for="ipv6">
                  IPv6
                </label>
              </div>
            </div>
          </div>
          <div class="field field-type-input field-flex field-ip" id="ipv4Row">
            <label for="serverIP" class="field-label">
              {{getLanguageText "IP Address"}}
            </label>
            <div class="field-form">
              <div class="input-box">
                <input
                  type="text"
                  id="serverIP"
                  name="serverIP"
                  placeholder="0.0.0.0"
                />
              </div>
            </div>
          </div>
          <div class="field field-type-input field-flex field-ip" id="ipv6Row">
            <label for="serverIPv6" class="field-label">
              {{getLanguageText "IP Address"}}
            </label>
            <div class="field-form">
              <div class="input-box">
                <input
                  type="text"
                  id="serverIPv6"
                  name="serverIPv6"
                  placeholder="0:0:0:0:0:0:0:0"
                />
              </div>
            </div>
          </div>
          <div class="field field-type-input field-flex field-port">
            <label for="serverPort" class="field-label">
              {{getLanguageText "Port Number"}}
            </label>
            <div class="field-form">
              <div class="input-box">
                <input
                  type="text"
                  id="serverPort"
                  name="serverPort"
                  placeholder="3000"
                />
              </div>
            </div>
          </div>
          <div class="field field-type-input field-flex field-state">
            <label for="serverStatus" class="field-label">
              {{getLanguageText "State"}}
            </label>
            <div class="field-form">
              <div class="input-box">
                <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                <input
                  type="text"
                  class="readonly"
                  readonly
                  id="serverStatus"
                  name="serverStatus"
                  value="{{getLanguageText "Not Connected"}}"
                />
                <button type="button" class="btn-input-remove hide">
                  input delete
                </button>
              </div>
              <!--
                              '연결 됨' 상태 일 때 input에 .color-point 추가
                            <div class="input-box">
                              <input type="text" class="color-point readonly" readonly id="network-gateway" name="network-gateway" value="연결 됨" />
                            </div>
                            -->
            </div>
          </div>
        </div>
      </div>
      <!-- Detail Container -->
      <!-- Button box -->
      <div class="button-container">
        <button type="button" class="btn btn-primary btn-submit" id="apply">
          {{getLanguageText "Apply"}}
        </button>
      </div>
      <!-- Button box -->
    </div>
    <!-- Content middle right -->
  </div>
</div>
<!-- Content middle -->
<script>
  var env =
  {{{json env}}}
  ;
// initLedAssistant();
// changeRtlDir();
</script>