<script src="/js/design/ledSignage/network.js"></script>

<!-- Content top -->
<div class="content-top">
    <div class="top-left">
        <h2>{{getLanguageText "Network"}}</h2>
    </div>
</div>
<!-- Content top -->

<!-- Content middle -->
<div class="content-middle">
    <div class="content-middle-box">
        <!-- Content middle right -->
        <div class="content-middle-right">
            <!-- Detail Container -->
            <div class="control-container">
                <div class="list-box" id="wiredPanel">
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Wired"}}<span class="title-label color-point">{{getLanguageText "Connected"}}</span></h3>
                    </div>
                    {{!-- <div class="field field-type-checkbox field-flex">
                        <div class="field-label">{{getLanguageText "Automatically Assign IP Address"}}</div>
                        <div class="field-form">
                            <div class="checkbox">
                                <input type="checkbox" name="ip-address-auto" id="dhcp"
                                       checked />
                                <label for="ip-address-auto" id="dhcp-switch-label"><span class="ir" id="btn-auto">{{getLanguageText "Automatically Assign IP Address"}}</span></label>
                            </div>
                        </div>
                    </div>--}}

                    <div class="field field-type-checkbox field-flex">
                    <label for="dhcp" class="field-label">
                        <font style="vertical-align: inherit;">
                            {{getLanguageText "Set Automatically"}}
                        </font>
                    </label>

                    <div class="field-form">
                      <div class="switch">
                        <span class="switch-controller"></span>
                        <!-- 활성화 시 aria-checked="true" -->
                        <input type="checkbox" id="dhcp" name="dhcp" role="switch" aria-checked="false">
                        <span class="slider"></span>
                      </div>
                    </div>
                  </div>
                    <div class="field field-type-radio field-flex">
                        <div id="setting-tit-id" class="field-label">{{getLanguageText "Advanced Setting"}}</div>
                        <div class="field-form flex">
                            
                            <div class="radio">
                                <input type="radio" name="radio-type" id="ipv4" aria-labelledby="setting-tit-id ipv4" checked="true">
                                <label for="ipv4"><font style="vertical-align: inherit;">IPv4 </font></label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="radio-type" id="ipv6" aria-labelledby="setting-tit-id ipv6"
                                >
                                <label for="ipv6" id="IPv-6-label"><font style="vertical-align: inherit;">IPv6 </font></label>
                            </div>
                        </div>
                    </div>
                    <div class="field field-type-input field-flex">
                        <label for="network-ip" class="field-label">{{getLanguageText "IP Address"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="network-ip" name="network-ip">
                            </div>
                        </div>
                    </div>
                    <div class="field field-type-input field-flex">
                        <label for="network-subnet" class="field-label">{{getLanguageText "Subnet Mask"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="network-subnet" name="network-subnet">
                            </div>
                        </div>
                    </div>
                    <div class="field field-type-input field-flex">
                        <label for="network-gateway" class="field-label">{{getLanguageText "Gateway"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="network-gateway" name="network-gateway">
                            </div>
                        </div>
                    </div>
                    <div class="field field-type-input field-flex">
                        <label for="network-dns" class="field-label">{{getLanguageText "DNS Server"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="network-dns" name="network-dns">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-box" > 
                    <div class="title-box">
                        <h3 class="section-title">{{getLanguageText "Wi-Fi"}}<span class="title-label">{{getLanguageText "Disconnected"}}</span></h3>
                    </div>
                    <div id="wifiPanel">

            <div class="field field-type-checkbox field-flex">
                <div class="field-label">{{getLanguageText "Set Automatically"}}</div>
                <div class="field-form">
                    <div class="checkbox">
                        <input type="checkbox" name="dhcpwifi" id="dhcpwifi"
                                checked />
                        <label for="dhcpwifi" ><span class="ir" id="dhcpwifi">{{getLanguageText "Automatically Assign IP Address"}}</span></label>
                    </div>
                </div>
            </div>
            <div class="field field-type-input field-flex">
                <label for="network-ipwifi" class="field-label">{{getLanguageText "IP Address"}}</label>
                    <div class="field-form">
                        <div class="input-box">
                            <input type="text" id="network-ipwifi" name="network-ipwifi">
                        </div>
                    </div>
            </div>

                    <div class="field field-type-input field-flex">
                        <label for="network-subnetwifi" class="field-label">{{getLanguageText "Subnet Mask"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="network-subnetwifi" name="network-subnetwifi">
                            </div>
                        </div>
                    </div>
                     <div class="field field-type-input field-flex">
                        <label for="network-gatewaywifi" class="field-label">{{getLanguageText "Gateway"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="network-gatewaywifi" name="network-gatewaywifi">
                            </div>
                        </div>
                    </div>
                    <div class="field field-type-input field-flex">
                        <label for="network-dnswifi" class="field-label">{{getLanguageText "DNS Server"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="network-dnswifi" name="network-dnswifi">
                            </div>
                        </div>
                    </div>

                    <div class="field field-type-input field-flex">
                        <label for="network-macwifi" class="field-label">{{getLanguageText "MAC Address"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" id="network-macwifi" name="network-macwifi">
                            </div>
                        </div>
                    </div>
                    </div>

                </div>

            </div>
            <!-- Detail Container -->
            <div class="button-container">
                <button type="button" class="btn" id="apply">{{getLanguageText "Apply"}}</button>
                <button type="button" class="btn btn-primary" id="btn-ping-test">{{getLanguageText "Ping Test"}}</button>
            </div>
        </div>
        <!-- Content middle right -->

    </div>
</div>
<!-- Content middle -->
{{> ping_address_modal }}
{{> ping_ing_modal }}
{{> ping_complete_modal }}

<script>
var env = {{{json env}}};

$(document).ready(function () {
    env.secured = {{env.secured}};
    env.port = {{env.port}};

    // addWarningModal();
    // getNetworkData();

    if (!env.supportCinemaModel) {
        // addPingModal();
        // initPingModal();
    }

    /*if (!env.disableWifi) {
        getSystemSettings('commercial', ['ledOsdAvailable'], function (msg) {
            if (msg && msg.ledOsdAvailable && msg.ledOsdAvailable === '1') {
                $('#wifiPanel').show();
            }
        });
    }*/

    /*$('#wifiTitle').click(function () {
        showWarningModal(getLanguageText(languageTable, "To choose an AP, please use Settings App. with a remote controller."));
        return;
    });*/

    /*$('#apply').click(function() {
        var checkIP = checkIPv4;
        var setIP = setIPv4;
        /!*
        if (isIPv6()) {
            checkIP = checkIPv6;
            setIP = setIPv6;
        }
        *!/
        var ableSetting = true;
        var wiredConnected = (prevData.ipv4.state === 'connected');
        if (wiredConnected && !($('#dhcp').prop('checked') || checkIP())) {
            ableSetting = false;
        }

        if (!env.disableWifi) {
            var checkIPWifi = checkIPv4.bind(this, true);
            var wifiConnected = (prevData.ipv4Wifi.state === 'connected');

            if (wifiConnected && !($('#dhcpWifi').prop('checked') || checkIPWifi())) {
                ableSetting = false;
            }
        }

        if(ableSetting) {
            setIP();
        } else {
            showWarningModal(setInvalidTxt());
            return;
        }
    });*/

    // changeRtlDir();
});
</script>
