<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<!--<script src="/js/page/ledSignage/signage_pin.js"></script>-->
<!--<link rel="stylesheet" href="/css/signage_style.css">-->
<!--<script src="/js/page/ledSignage/signage365Care.js"></script>-->
<script src="/js/design/ledSignage/signage365Care.js"></script>
<!-- Content top -->
<div class="content-top">
  <div class="top-left">
    <h2>
      <font style="vertical-align: inherit;">
        LG ConnectedCare
      </font>
    </h2>
  </div>
</div>
<!-- Content top -->
<!-- Content middle -->
<div class="content-middle">
  <div class="content-middle-box">
    <!-- Content middle right -->
    <div class="content-middle-right">
      <!-- Detail Container -->
      <div class="control-container control-led-w4">
        <h3 id="app-title">
          <font style="vertical-align: inherit;">
            {{getLanguageText
              "Enable or disable {apptitle} service on this device"
            }}
          </font>
        </h3>
        <div class="list-box">
          <div class="title-box">
            <h4 class="section-title">
              <label for="appEnable">
                <font style="vertical-align: inherit;">
                  {{getLanguageText "LG ConnectedCare App"}}
                </font>
              </label>
            </h4>
            <div class="switch">
              <span class="switch-controller"></span>
              <!-- 활성화 시 aria-checked="true" -->
              <input
                type="checkbox"
                id="appEnable"
                name="appEnable"
                role="switch"
                aria-checked="false"
              />
              <span class="slider"></span>
            </div>
          </div>
          <div class="field field-type-input field-flex field-user-id">
            <label for="id-account" class="field-label">
              {{getLanguageText "Account"}}
            </label>
            <div class="field-form">
              <div class="input-box">
                <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                <input
                  type="text"
                  class="readonly"
                  readonly
                  id="id-account"
                  name="id-account"
                  value="{{getLanguageText "Number"}}
                     : 099916 /
                    {{getLanguageText "Name"}}
                     : qetest1"
                />
              </div>
            </div>
          </div>
          <div class="field field-type-input field-flex field-version">
            <label for="appVersion" class="field-label">
              {{getLanguageText "Version"}}
            </label>
            <div class="field-form">
              <div class="input-box">
                <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                <input
                  type="text"
                  class="readonly"
                  readonly
                  id="appVersion"
                  name="appVersion"
                  value="{{getLanguageText "Ver"}} 1.1.0"
                />
              </div>
              <div class="btn-group">
                <button type="button" class="btn" id="btn-update-check">
                  {{getLanguageText "Check for Update"}}
                </button>
              </div>
            </div>
          </div>
          <div class="field field-type-input field-flex field-state">
            <label for="serverStatus" class="field-label">
              {{getLanguageText "Server Status"}}
            </label>
            <div class="field-form">
              <div class="input-box">
                <!-- input이 readonly 상태 일 때 클래스 .readonly 추가 -->
                <input
                  type="text"
                  class="color-point readonly"
                  readonly
                  id="serverStatus"
                  name="serverStatus"
                  value="{{getLanguageText "Connected"}}"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="list-box">
          <div class="title-box">
            <h3 class="section-title">
              {{getLanguageText "Reset"}}
            </h3>
            <div class="btn-group">
              <button type="button" class="btn" id="btn-reset">
                {{getLanguageText "Reset"}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content middle right -->
  </div>
</div>
<!-- Content middle -->
<script>
  $(document).ready(function(){
    getContents365Care();
    getSystemSetting365Care();
    change365Enable()
});
</script>