<!DOCTYPE html>
<html lang="en">
<script>
    var languageTable = {{{json languageTable}}};
    var localeInfo = {{{json localeInfo}}};
</script>
<head>
    <meta charset="utf-8">
    <title>Change Password | LG Electronics Signage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon-32x32.png"/>

<!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;">-->
<!--    <script src="/js/jquery.min.js"></script>-->
    {{!-- <script type="text/javascript" src="/assets/lib/jquery-3.6.0.min.js"></script> --}}
    <script src="/js/jquery.cookie.js"></script>
<!--    <script src="/js/bootstrap.min.js"></script>-->
    {{!-- <script src="/js/socket.io.js"></script> --}}
<!--    <script src="/js/page/ledSignage/signage_common.js"></script>-->
    <script src="/js/design/ledSignage/signage_common.js"></script>
<!--    <script src="/js/page/ledSignage/signage_change_pwd.js"></script>-->
<!--    <script src="/js/page/ledSignage/common.js"></script>-->
    {{!-- <script src="/js/design/ledSignage/common.js"></script> --}}
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/css/signage_style.css">-->
<!--    <link rel="stylesheet" href="/css/signage_change_pwd.css">-->



    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/default/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/assets/default/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/side_bar.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/filter.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/common_login.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/control_led_w4/control_led_w4_login.css" />

</head>
<body>
<!-- ByPass --> <a href="#go-content" class="bypass">{{getLanguageText "Go to content"}}</a> <!-- ByPass -->
<!-- Scripts -->
<div id="ROOT_CONTAINER" class="wrapper login">
    <!--
        header를 로드하기 위한 컨테이너 입니다.
        이곳에 header.html의 <div class="header-container"> 가 로드 됩니다.
        개발 시 해당 컨테이너는 무시하시고,
        header-container를 컴포넌트로 개발하시면 됩니다.
      -->
    <div class="header-box"></div>

    <!-- Content Container -->
    <div class="content-container">

        <!-- Content Box -->
        <div id="go-content" role="main" class="content-box">
            <div class="login-container">
                <h1 class="title">{{getLanguageText "Change Password"}}</h1>
                <form id="login">
                    <fieldset class="login-form">
                        <legend>{{getLanguageText "Change Password"}}</legend>
                        <div class="login-content">

                            <div class="field field-type-input field-password">
                                <label for="input-password" class="field-label">{{getLanguageText "Current Password"}}</label>
                                <!--
                                    validation 결과가 fail일 경우 aria-invalid 값을 true로 입력합니다. (기본값 : false)
                                  -->
                                <div class="field-form">
                                    <div class="input-box">
                                        <input type="password" id="input-password" name="input-password" placeholder="{{getLanguageText "Current Password"}}" aria-invalid="false"/>
                                        <button type="button" class="btn-input-remove hide">input delete</button>
                                    </div>

                                </div>
                            </div>
                            <div class="field field-type-input field-new-password">
                                <label for="input-new-password" class="field-label">{{getLanguageText "New Password"}}</label>
                                <div class="field-form">
                                    <div class="input-box">
                                        <input type="password" id="input-new-password" name="input-new-password" placeholder="{{getLanguageText "New Password"}}" aria-invalid="false" />
                                        <button type="button" class="btn-input-remove hide">input delete</button>
                                    </div>
                                </div>
                            </div>
                            <div class="field field-type-input field-confirm-password">
                                <label for="input-confirm-password" class="field-label">{{getLanguageText "Confirm New Password"}}</label>
                                <div class="field-form">
                                    <div class="input-box">
                                        <input type="password" id="input-confirm-password" name="input-confirm-password" placeholder="{{getLanguageText "Confirm New Password"}}" aria-invalid="false" />
                                        <button type="button" class="btn-input-remove hide">input delete</button>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="button" class="btn  btn-large btn-login" id="btn-cancel-pwd">{{getLanguageText "Cancel"}}</button>
                                <button type="button" class="btn btn-primary btn-large btn-login" id="btn-confirm-pwd">{{getLanguageText "Confirm"}}</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- Content Container -->

    <!-- copyright -->
    <footer class="copyright">Copyright © LG Electronics. All Rights Reserved.</footer>
</div>

{{!-- <script type="text/javascript" src="/assets/js/common.js"></script> --}}
{{!-- <script type="text/javascript" src="/assets/js/ui_loader.js"></script> --}}
<script src='/js/design/ledSignage/signage_change_pwd.js'></script>

</body>
</html>
