<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>LG Signage</title>

    <script>
        var languageTable = {{{json languageTable}}};
        var localeInfo = {{{json localeInfo}}};
        var env = {{{json env}}};
    </script>
    <script type="text/javascript" src="/assets/lib/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
<!--    <script src="/js/bootstrap.min.js"></script>-->
    <script src="/js/design/ledSignage/signage_common.js"></script>
    <script src="/js/design/ledSignage/signage_login.js"></script>
    <script src="/js/page/ledSignage/common.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/css/signage_style.css">-->
<!--    <link rel="stylesheet" href="/css/signage_login.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/default/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/assets/default/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/side_bar.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/form.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/filter.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/control_led_w4/control_led_w4_login.css" />
</head>
<body>
<!-- ByPass --> <a href="#go-content" class="bypass">{{getLanguageText "Go to content"}}</a> <!-- ByPass -->
<!-- Scripts -->
<div id="ROOT_CONTAINER" class="wrapper">
    <div class="login">
        <!--
            header를 로드하기 위한 컨테이너 입니다.
            이곳에 header.html의 <div class="header-container"> 가 로드 됩니다.
            개발 시 해당 컨테이너는 무시하시고,
            header-container를 컴포넌트로 개발하시면 됩니다.
          -->
        <div class="header-box">
            <!-- Begin Header Container -->
            <div class="header-container control-led-w4" >
                <header>
                    <!-- Left side -->
                    <div class="left-side">
                        <button type="button" class="btn btn-hamburger"></button>
                        <a href="/" class="logo">
                            <img src="../../assets/images/header_scs_logo.svg" alt="System Controller Settings logo" />
                        </a>
                    </div>
                    <!-- Left side -->

                    <!-- Right side -->
                    <div class="right-side">
                    <ul class="features">
                        <!--Sitemap -->
                        <li>
                            <a href="/ledSignage/sitemap" class="sitemap"><font style="vertical-align: inherit;">Site Map </font></a>
                        </li>
                        <!-- Account -->
                        <li>
                            <button type="button" class="btn-account" title="select account.">{{getLanguageText "manager"}}</button>
                            <div class="user-menu">
                                <ul role="menu">
                                    <li >
                                        <a href="/ledSignage/signage_change_pwd" role="menuitem">{{getLanguageText "Change Password"}}</a>
                                    </li>
                                    <li >
                                        <a href="/logout" role="menuitem">{{getLanguageText "Logout"}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                    <!-- Right side -->
                </header>
            </div>
            <!-- End Header Container -->
        </div>

        <!-- Content Container -->
        <div class="content-container">
            <!-- Content Box -->
            <div id="go-content" role="main" class="content-box">
                <div class="login-container">
                    <form id="login">
                        <fieldset class="login-form">
                            <legend>{{getLanguageText "Login"}}</legend>
                            <div class="login-content">
                                <div class="field field-type-input field-password">
                                    <label for="input-password" class="field-label">{{getLanguageText "Password"}}</label>
                                    <!--
                                        validation 결과가 fail일 경우 aria-invalid 값을 true로 입력합니다. (기본값 : false)
                                      -->
                                    <div class="field-form">
                                        <div class="input-box">
                                            <input type="password" id="input-password" name="input-password"
                                                   class="input_pin" placeholder="{{getLanguageText "Password"}}" aria-invalid="true" />
                                            <button type="button" class="btn-input-remove hide">input delete</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="field field-type-input field-security">
                                    <label for="input_captcha" class="field-label">{{getLanguageText "captcha"}}</label>
                                    <div class="security-info">
                                        <!-- 이곳에 CAPTCHA를 넣어주세요. -->
                                        <div class="captcha-box img_captcha" style="background-color: black">
                                            <img src="/request/captchapng" alt="{{getLanguageText "captcha"}}">
                                        </div>

                                        <div class="button-wrap">
                                            <button type="button" class="btn btn-login-refresh">{{getLanguageText "Reset"}}</button>
                                            <button type="button" class="btn btn-voice">{{getLanguageText "listen to voice"}}</button>
                                        </div>
                                    </div>
                                    <div class="field-form">
                                        <div class="input-box">
                                            <input type="text" class="input_captcha" name="input_captcha" placeholder="{{getLanguageText "captcha"}}" aria-invalid="true" />
                                            <button type="button" class="btn-input-remove hide">input delete</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <button type="button" class="btn btn-primary btn-large btn-login" id="btnLogin">{{getLanguageText "Login"}}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- Content Box -->
        </div>
        <!-- Content Container -->

        <!-- copyright -->
        <footer class="copyright">Copyright © LG Electronics. All Rights Reserved.</footer>
    </div>
</div>
<!-- popup wrapper -->
<div id="login-error-modal" class="popup-wrapper">
    <div class="dim">&nbsp;</div>
    <!--
        입력 필드가 있는 Popup은 role="dialog" 속성을 부여합니다.
        aria-labelledby="label의 id" 속성을 지정하여 스크린 리더가 팝업의 제목을 읽을 수 있도록 합니다.
        aria-modal 속성을 true로 설정하면 스크린 리더가 팝업 내의 콘텐츠만 읽습니다.

        (스크린 리더의 종류에 따라 지원되지 않을 수 있습니다. 크롬에서 NVDA 스크린리더는 해당 속성을 지원합니다.
        자세한 내용은 https://a11ysupport.io/tech/aria/aria-modal_attribute 링크에서 확인할 수 있습니다.)
      -->
    <div class="popup popup-alert" role="dialog" aria-labelledby="popup-label" aria-modal="true">
        <!-- popup-container -->
        <div class="popup-container">
            <h1 id="popup-label" class="ir">information message</h1>

            <!-- Popup content -->
            <div class="popup-content">
                <div id="login-failed-text" class="alet-text">
                    Input time correctly
                </div>
            </div>
            <!-- Popup content -->

            <!-- Popup footer -->
            <div class="popup-footer">
                <div class="button-container">
                    <button type="button" id="login-error-ok" class="btn btn-large btn-primary btn-select">OK</button>
                </div>
            </div>
            <!-- Popup footer -->
        </div>
        <!-- popup-container -->
    </div>
</div>
<!-- popup wrapper -->

</body>
</html>
