<script src="/js/design/ledSignage/sitemap.js"></script>
<!-- Content top -->
<div class="content-top">
  <div class="top-left">
    <h2>
      <font style="vertical-align: inherit;">
        {{getLanguageText "Sitemap"}}
      </font>
    </h2>
  </div>
</div>
<!-- Content top -->
<!-- Content middle -->
<div class="content-middle">
  <div class="content-middle-box">
    <!-- Content middle right / sitemap -->
    <div class="content-middle-right">
      <!-- Detail Container -->
      <div class="sitemap-container">
        <div class="map-title">
          <h3>
            <font style="vertical-align: inherit;">
              {{getLanguageText "Menu"}}
            </font>
          </h3>
        </div>
        <div class="map-menu">
          <div class="menu-list">
            <!-- language -->
            <ul class="menu-wrap">
              <li>
                <a href="/ledSignage/language" class="menu-title">
                  <font style="vertical-align: inherit;">
                    {{getLanguageText "Language"}}
                  </font>
                </a>
              </li>
            </ul>
            <!-- LG ConnectedCare -->
            <ul class="menu-wrap">
              <li>
                <a href="/ledSignage/signage365Care" class="menu-title">
                  <font style="vertical-align: inherit;">
                    {{getLanguageText "LG ConnectedCare"}}
                  </font>
                </a>
                <!-- 
                          2depth menu : 하위 메뉴 필요 시 .sub-page-wrap ul 추가하여 사용 바랍니다.
                          aria-label="LG ConnectedCare" 은 예시 라벨 타이틀 입니다.
                        -->
                <ul
                  class="sub-page-wrap"
                  aria-label="LG ConnectedCare"
                  style="display: none;"
                >
                  <li>
                    <a href="javascript:void(0);" class="sub-title">
                      sub menu 1
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="sub-title">
                      sub menu 2
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="menu-list">
            <!-- network -->
            <ul class="menu-wrap">
              <li>
                <a href="/ledSignage/network" class="menu-title">
                  <font style="vertical-align: inherit;">
                    {{getLanguageText "Network"}}
                  </font>
                </a>
              </li>
            </ul>
            <!-- Settings -->
            <ul class="menu-wrap">
              <li>
                <a href="/ledSignage/system" class="menu-title">
                  <font style="vertical-align: inherit;">
                    {{getLanguageText "Setting"}}
                  </font>
                </a>
              </li>
            </ul>
          </div>
          <div class="menu-list">
            <!-- LED Assistant -->
            <ul class="menu-wrap">
              <li>
                <a href="/ledSignage/ledAssistant" class="menu-title">
                  <font style="vertical-align: inherit;">
                    {{getLanguageText "LED Assistant"}}
                  </font>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Detail Container -->
    </div>
    <!-- Content middle right / sitemap -->
  </div>
</div>
<!-- Content middle -->