<script src="/js/client-api.js"></script>
<!--<script src="/js/page/ledSignage/system.js"></script>-->
<script src="/js/design/ledSignage/system.js"></script>
<script src="/js/client-led.js"></script>

<!-- Content top -->
<div class="content-top">
    <div class="top-left">
        <h2><font style="vertical-align: inherit;">{{getLanguageText "System"}} </font></h2>
    </div>
</div>
<!-- Content top -->

<!-- Content middle -->
<div class="content-middle">
    <div class="content-middle-box">

        <!-- Content middle right -->
        <div class="content-middle-right">
            <!-- Detail Container -->
            <div class="control-container control-led-w4">
                <div class="list-box">
                    <div class="field field-type-input field-flex field-system">
                        <label for="id-password-change" class="field-label">{{getLanguageText "Change Password"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" class="readonly" readonly id="id-password-change" name="id-password-change" value="Allowed to change">
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn" id="btn-change-pwd">{{getLanguageText "Change"}}</button>
                            </div>
                        </div>
                    </div>

                    {{#cinemaModelBlock}}
                    <div class="field field-type-input field-flex field-system">
                        <label for="id-reset" class="field-label">{{getLanguageText "Factory Reset"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" class="readonly" readonly id="id-reset" name="id-reset" value='{{getLanguageText "Reset to factory reset"}}'>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn" id="btn-factory-reset">{{getLanguageText "Reset"}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="field field-type-input field-flex field-system">
                        <label for="id-restart" class="field-label">{{getLanguageText "System Reboot"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" class="readonly" readonly id="id-restart" name="id-restart" value="{{getLanguageText "System Controller"}} {{getLanguageText "Reboot"}}">
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn" id="btn-restart">{{getLanguageText "Reboot"}}</button>
                            </div>
                        </div>
                    </div>
                    {{/cinemaModelBlock}}

                    <div class="field field-type-input field-flex field-sw-update">
                        <label for="currentVer" class="field-label">{{getLanguageText "S/W Update"}}</label>
                        <div class="field-form">
                            <div class="input-box">
                                <input type="text" class="readonly" readonly id="currentVer" name="currentVer" value="{{getLanguageText "Current Ver."}} : 03.23.20">
                            </div>
                            <div class="update-bottom-lists">
                                <div class="field field-flex field-type-switch">
                                    <div class="field-label">{{getLanguageText "Micom Update"}}</div>
                                    <div class="field-form">
                                        <div class="switch">
                                            <label for="micom-switch" class="switch-controller">{{getLanguageText "Micom Update"}}</label>
                                            <input type="checkbox" id="micom-switch" name="micom-switch" role="switch" aria-checked="false">
                                            <span class="slider"></span>
                                        </div>
                                    </div>
                                    <div id="upload-file-area" class="file-area">
                                        <span id="upload-fileName"></span>
                                        <input class="upload_disable" type="file" id="upload-file"/>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn" id="btn-upload">{{getLanguageText "Upload"}}</button>
                                    </div>
                                </div>
                                <div class="table">
                                    <div class="table-wrapper table-micom-update no-scroll">
                                        <div class="table-box">
                                            <table>
                                                <caption>{{getLanguageText "S/W Update File list"}} Table – consists of file name,update,delete</caption>
                                                <thead>
                                                <tr>
                                                    <th scope="col"><div class="text-block">{{getLanguageText "File Name"}}</div></th>
                                                    <th scope="col"><div class="text-block">{{getLanguageText "Update"}}</div></th>
                                                    <th scope="col"><div class="text-block">{{getLanguageText "Delete"}}</div></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#if files}}
                                                    {{#each files}}
                                                    <tr class="file-list" name="{{this}}">
                                                        <td class="file-info" name="{{this}}">{{this}} ({{fileSize (lookup ../size @index)}})
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-update update" name='{{this}}' disabled>{{getLanguageText "Update"}}</button>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-delete btn-system-delete"
                                                                    name='{{this}}'>{{getLanguageText "Delete"}}</button>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                {{/if}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!-- Reflow table -->
                                <div class="convert-table-to-list">
                                    <div class="table-header">
                                        <div class="row">
                                            <div class="thead">{{getLanguageText "File Name"}}</div>
                                            <div class="thead">{{getLanguageText "Update"}}</div>
                                        </div>
                                    </div>
                                    <ul class="table-body">

                                        <li class="table-row file-list" name="{{this}}">
                                            <div class="summary-data">
                                                <div class="row">
                                                    <div class="table-cell file-info" name="{{this}}">
                                                        {{this}} ({{fileSize (lookup ../size @index)}})
                                                    </div>
                                                    <div class="table-cell">
                                                        <button type="button" role="listbox" class="btn btn-expand btn-update-expand" name='{{this}}' aria-expanded="false"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="all-data-box">
                                                <ul class="all-data">
                                                    <li>
                                                        <span class="field-label">{{getLanguageText "Delete"}}</span>
                                                        <span class="field-content align-center">
                                                        <button type="button" class="btn btn-delete btn-system-delete"
                                                                name='{{this}}'>{{getLanguageText "Delete"}}</button>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Content middle right -->
    </div>
</div>
<!-- Content middle -->

<script>
var env = {{{json env}}};
var currentVer = "00.00.00";
var fpgaVer = "00.00.00";
var supportExt = ['epk'];
var updateMsg = getLanguageText(languageTable, "Please don’t turn off the device. And wait while process is completed.");
var getParameters = function (paramName) {
    var returnValue;
    var url = location.href;

    var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&');
    for (var i = 0; i < parameters.length; i++) {
        var varName = parameters[i].split('=')[0];
            if (varName.toUpperCase() == paramName.toUpperCase()) {
                returnValue = parameters[i].split('=')[1];
                return decodeURIComponent(returnValue);
            }
    }
};

$(document).ready(function () {
    env.uploadedFiles = [];
    {{#each files}}
        env.uploadedFiles.push("{{this}}");
    {{/each}}

    env.maxSize = {{maxSize}};

    // addWarningModalWithCb();

    if (!env.supportCinemaModel) {
        initFactoryReset();
        initReboot();
    }

    if (getParameters('micom') === 'on') {
        $('#micom-switch').prop('checked', true);
        $('#micom-switch').attr('aria-checked', true);
    }

    $('#upload-file').attr('accept', '.epk');
    $("#upload-file-area :file").on("change",fileChangeHandler);

    function fileChangeHandler(evt) {
        var file = document.getElementById('upload-file').files[0];
        if (!file) {
            return;
        }
        var fileName = file.name;
        var ext = fileName.substring(fileName.lastIndexOf('.') + 1).toLowerCase();
        if (supportExt.indexOf(ext) < 0) {
            showMyModal('system-alert-modal', getLanguageText(languageTable, "Unsupported File Type."));
            return;
        }

        var target = evt.target || evt.srcElement;
        if (target.value.length !== 0) {
            uploadStart();
        }
    }

    getBasicInfo(function (msg) {
        currentVer = msg.firmwareVersion;
        if (env.supportCinemaModel) {
            getFpgaVersion( function(ret) {
                fpgaVer = "00.0" + ret.result.sysVersion[0].version;
                $('#currentVer').val("(webOS) " + currentVer + " / " + "(FPGA)" + fpgaVer);
            });
        } else {
            $('#currentVer').val(currentVer);
        }
    });

    addUpdateHandler();

    addInfoToUpdateList();

    // changeRtlDir();
});
</script>
