<link href="/css/time_cinema.css" rel="stylesheet">
<script src="/js/socket.io.js"></script>
<script src="/js/client-common.js"></script>
<script src="/js/client-api.js"></script>
<script src="/js/client-led.js"></script>
<script src="/js/page/ledSignage/time.js"></script>

<div class="row">
    <div class="col-lg-8">
    <h3>{{getLanguageText 'Time & Date'}}</h3>

        <table class='table'>
            <tr>
                <td class="first">{{getLanguageText "Time"}}</td>
                
                <td class="second">
                    <table border="0" style="width: 300px;">
                    <tbody>
                    <tr style="width: 100%;">
                    <td style="width: 25%;">
                    <input type='text' id='hour' size=2 maxlength=2>
                    </td>
                    <td style="width:10%;"> : </td>
                    <td style="width: 25%;">
                    <input type='text' id='minute' size=2 maxlength=2>
                    </td>
                    <td style="width:10%;"> : </td>
                    <td style="width: 30%;">
                    <div id='ampm' class='dropdown-ampm'></div>
                    </td>
                    </tr> </tbody> </table>
                </td>
            </tr>
            <tr>
                <td class="first">{{getLanguageText "Date"}}</td>
                <td class="second">
                    <table border="0" style="width: 300px;">
                    <tbody>
                    <tr style="width: 100%;">
                    <td style="width: 25%;">
                    <input type='text' id='month' size=2 maxlength=2> 
                    </td>
                    <td style="width:10%;"> / </td>
                    <td style="width: 25%;">
                    <input type='text' id='day' size=2 maxlength=2> 
                    </td>
                    <td style="width:10%;"> / </td>
                    <td style="width: 30%;">
                    <input type='text' id='year' size=4 maxlength=4>
                    </td>
                    </tr> </tbody> </table>
                </td>
            </tr>
            <tr>
                <td class="first">{{getLanguageText "Daylight Saving Time"}}</td>
                <td class="second">
                    <input id='useDST' type="checkbox" class="grey">
                    <label for="useDST">&nbsp;</label>
                </td>
                <td class="third">
                </td>
            </tr>
            <table class='table dstTable' border="0" style="width: 100%; width: 850px; display: none;">
            <tbody>
            <tr style="width: 100%;">
            <td style="width: 50%;">
            <table class='table dstTable' style="display: none;">
                <tr>
                    <td class="first"><b>{{getLanguageText "Start Time"}}</b></td>
                </tr>
                <tr>
                    <td class="first">
                        <table class='dst-time-setting-table'>
                            <tr class='dst-time-setting-tr'>
                                <td>{{getLanguageText "Month"}} :</td>
                                <td>
                                    <div id='dstStartMonth' class='dropdown-dst'></div>
                                    <br>
                                </td>
                            </tr>
                            <tr class='dst-time-setting-tr'>
                                <td>{{getLanguageText "Week"}} :</td>
                                <td>
                                    <div id='dstStartWeek' class='dropdown-dst'></div>
                                    <br></td>
                            </tr>
                            <tr class='dst-time-setting-tr'>
                                <td>{{getLanguageText "Weekday"}} :</td>
                                <td>
                                    <div id='dstStartWeekday' class='dropdown-dst'></div>
                                    <br></td>
                            </tr>
                            <tr class='dst-time-setting-tr'>
                                <td>{{getLanguageText "Hour"}} :</td>
                                <td>
                                    <div id='dstStartHour' class='dropdown-dst'></div>
                                    <br></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            </td>
            <td style="width: 50%;">
            <table class='table dstTable' style="display: none;">
                <tr>
                    <td class="first"><b>{{getLanguageText "End Time"}}</b></td>
                </tr>
                <tr>
                    <td class="first">
                        <table class='dst-time-setting-table'>
                            <tr class='dst-time-setting-tr'>
                                <td>{{getLanguageText "Month"}} :</td>
                                <td>
                                    <div id='dstEndMonth' class='dropdown-dst'></div>
                                    <br></td>
                            </tr>
                            <tr class='dst-time-setting-tr'>
                                <td>{{getLanguageText "Week"}} :</td>
                                <td>
                                    <div id='dstEndWeek' class='dropdown-dst'></div>
                                    <br></td>
                            </tr>
                            <tr class='dst-time-setting-tr'>
                                <td>{{getLanguageText "Weekday"}} :</td>
                                <td>
                                    <div id='dstEndWeekday' class='dropdown-dst'></div>
                                    <br></td>
                            </tr>
                            <tr class='dst-time-setting-tr'>
                                <td>{{getLanguageText "Hour"}} :</td>
                                <td>
                                    <div id='dstEndHour' class='dropdown-dst'></div>
                                    <br></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            </td>
            </table>
            <button id="time-apply" class=whiteCardBtn-cinema>{{getLanguageText 'Done'}}</button>
        </table>
    </div>
</div>
