.redslider input[type=range]::-webkit-slider-thumb {
    border: 4px solid #a50034;
    cursor: pointer;
}

.greyslider input[type=range]::-webkit-slider-thumb {
    border: 4px solid #f1f1f1;
    cursor: not-allowed;
}

.redslider input[type=range]::-ms-thumb {
    border: 4px solid #a50034;
    cursor: pointer;
}

.greyslider input[type=range]::-ms-thumb {
    border: 4px solid #f1f1f1;
    cursor: not-allowed;
}

.item-wrap {
    min-height: 115px;
}

.side-bar .side-top > .side-logo {
    margin-top: 34px;
}

.control-input-manual.sw-update-table .table-wrapper table tbody {
    height: auto;
}

#temp-title span {
    cursor: pointer;
}


@media screen and (max-width:991px) {
    .item-wrap {
        height: auto;
    }
}

.btn-lnb #toggle-btn {
    display: none !important;
}

.btn-up:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.btn-down:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}